Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2018-09, with the labels that each got.

#634 Update igxChips sample to detect changes when dragging chips around.
  src/app/chip/chip.component.ts
Labels: chip, status: verified

#632 Add time-picker and date-picker input group template sample.
  live-editing/configs/DatePickerConfigGenerator.ts
  live-editing/configs/TimePickerConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/datepicker/datepicker-sample-6/datepicker-sample-6.component.html
  src/app/datepicker/datepicker-sample-6/datepicker-sample-6.component.scss
  src/app/datepicker/datepicker-sample-6/datepicker-sample-6.component.ts
  src/app/input-group/input-group-sample-6/input-group-sample-6.component.html
  src/app/timepicker/timepicker-sample-5/timepicker-sample-5.component.html
  src/app/timepicker/timepicker-sample-5/timepicker-sample-5.component.scss
  src/app/timepicker/timepicker-sample-5/timepicker-sample-5.component.ts
Labels: status: verified

#638 Updated chart samples per Jason's request
  src/app/category-chart/overlap-columns/category-chart-overlap-columns.component.html
  src/app/category-chart/overlap-columns/category-chart-overlap-columns.component.scss
  src/app/category-chart/overlap-columns/category-chart-overlap-columns.component.ts
  src/app/financial-chart/financial-chart-samples.module.ts
  src/app/financial-chart/multiple-feeds/financial-chart-multiple-feeds.component.html
  src/app/financial-chart/multiple-feeds/financial-chart-multiple-feeds.component.scss
  src/app/financial-chart/multiple-feeds/financial-chart-multiple-feeds.component.ts
  src/app/financial-chart/services/financial-data.service.ts
  src/app/financial-chart/time-based-data/financial-chart-time-based-data.component.html
  src/app/financial-chart/time-based-data/financial-chart-time-based-data.component.scss
  src/app/financial-chart/time-based-data/financial-chart-time-based-data.component.ts
Labels: status: awaiting-test

#639 Add theming for calendar
  src/app/theming/dark-theme-sample/dark-theme-sample.component.html
  src/app/theming/default-theme-sample/default-theme-sample.component.html
  src/app/theming/styles/dark-theme-class.scss
  src/app/theming/styles/dark-theme.scss
  src/app/theming/styles/theme-classes.scss
  src/app/theming/styles/themes.scss
  src/app/theming/theme-chooser/theme-chooser-sample.component.html
Labels: status: verified

#635 Updating the remote paging sample.
  src/app/app-routing.module.ts
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.html
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.ts
  src/app/grid/services/remotePagingService.ts
Labels: enhancement, grid, paging, status: verified

#641 Adding grid wrapper element to Remote Paging sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.html
  src/app/grid/services/remotePagingService.ts
Labels: grid, status: verified

#627 docs(grid): Data source changed to services.odata.org/V4/Northwind ..…
  src/app/grid/grid-remote-filtering-sample/remote-filtering-sample.component.html
  src/app/grid/grid-remote-filtering-sample/remote-filtering-sample.component.ts
  src/app/grid/grid-sample-4/grid-sample-4.component.html
  src/app/grid/grid-sample-4/grid-sample-4.component.ts
  src/app/grid/services/remoteFilteringService.ts
  src/app/grid/services/remoteService.ts
Labels: grid, status: verified

#636 Update samples to use the new way igxDropDownItemNavigation is used.
  src/app/chip/chip.component.ts
  src/app/combo/cascading-combos/cascading-combos.component.html
  src/app/dropdown/dropdown-sample-1/dropdown-sample-1.component.html
  src/app/dropdown/dropdown-sample-2/dropdown-sample-2.component.html
  src/app/dropdown/dropdown-sample-3/dropdown-sample-3.component.html
  src/app/theming/theme-chooser/theme-chooser-sample.component.html
Labels: chip, combo, dropdown, status: verified

#647 fixing clipped button in FC sample
  src/app/financial-chart/multiple-feeds/financial-chart-multiple-feeds.component.scss
Labels: status: awaiting-test

#643 Enhancement - Grid - Add Combo Edit Template to Grid Editing Sample
  src/app/grid/grid-editing-sample/data.ts
  src/app/grid/grid-editing-sample/grid-editing-sample.component.html
  src/app/grid/grid-editing-sample/grid-editing-sample.component.scss
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
  src/app/grid/grid-editing-sample/product.ts
Labels: combo, enhancement, grid, status: verified

#653 Updating igniteui-angular to 6.2.0-beta.2
  package-lock.json
  package.json
Labels: status: verified

#642 docs(grid): Sample for conditional cell styling #1079
  live-editing/configs/GridConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/grid/grid-conditional-cell-style/grid-conditional-cell-style.component.html
  src/app/grid/grid-conditional-cell-style/grid-conditional-cell-style.component.scss
  src/app/grid/grid-conditional-cell-style/grid-conditional-cell-style.component.ts
Labels: status: verified
