Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2018-12, with the labels that each got.

#780 Upgrading to 7.1.1
  .travis.yml
  package-lock.json
  package.json
  src/app/drag-drop/drag-drop.component.ts
  src/polyfills.ts
  tsconfig.json
Labels: build, status: verified

#771 Samples - Update expansion panel and combo samples
  src/app/combo/cascading-combos/cascading-combos.component.html
  src/app/combo/cascading-combos/cascading-combos.component.scss
  src/app/combo/cascading-combos/cascading-combos.component.ts
  src/app/combo/combo-features/combo-features.component.html
  src/app/expansion-panel/expansion-sample-4/expansion-sample-4.component.ts
  src/app/expansion-panel/expansion-sample-5/expansion-sample-5.component.ts
Labels: combo, expansion-panel, status: verified

#765 Add input with igxDropDown sample.
  live-editing/configs/DropDownConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/dropdown/dropdown-menu/dropdown-menu.component.html
  src/app/dropdown/dropdown-menu/dropdown-menu.component.scss
  src/app/dropdown/dropdown-menu/dropdown-menu.component.ts
  src/app/dropdown/dropdown-sample-1/dropdown-sample-1.component.scss
  src/app/dropdown/dropdown-sample-2/dropdown-sample-2.component.scss
  src/app/dropdown/dropdown-sample-3/dropdown-sample-3.component.scss
  src/app/dropdown/dropdown-sample-4/dropdown-sample-4.component.html
  src/app/dropdown/dropdown-sample-4/dropdown-sample-4.component.scss
  src/app/dropdown/dropdown-sample-4/dropdown-sample-4.component.ts
Labels: dropdown, enhancement, input group

#784 Restructure themes
  package-lock.json
  package.json
  src/app/grid/grid-crm/grid-crm.component.scss
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.html
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.scss
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.ts
  src/app/grid/grid-resizing-sample/grid-resizing-sample.component.scss
  src/app/theming/styles/dark-theme.scss
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.html
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.scss
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.ts
  src/styles.scss
Labels: status: verified, theming

#790 Update to beta.0
  package-lock.json
  package.json
Labels: status: verified

#795 Updating to 7.0.3
  package-lock.json
  package.json
Labels: status: verified

#799 Update version to 7.0.4-beta.0
  package-lock.json
  package.json
Labels: build, status: verified

#801 Update version to 7.0.4
  package-lock.json
  package.json
Labels: build, status: verified

#800 Fixing grid sample widths (only in IE) and heights.
  src/app/export-excel/excel-export-sample-1/excel-export-sample-1.component.html
  src/app/grid/grid-conditional-cell-style/grid-conditional-cell-style.component.html
  src/app/grid/grid-custom-filtering/grid-custom-filtering.component.html
  src/app/grid/grid-filtering-sample/grid-filtering-sample.component.html
  src/app/grid/grid-groupby-sample/grid-groupby-sample.component.html
  src/app/grid/grid-paging-sample/grid-paging-sample.component.html
  src/app/grid/grid-paste/grid-paste-sample.component.html
  src/app/grid/grid-remote-filtering-sample/remote-filtering-sample.component.html
  src/app/grid/grid-resizing-sample/grid-resizing-sample.component.html
  src/app/grid/grid-row-editing-sample/grid-row-editing-sample.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-search-sample/grid-search-sample.component.html
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-1.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-1.component.scss
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.scss
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-3.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-3.component.scss
  src/app/grid/multi-column-headers/multi-column-headers.html
Labels: grid, status: verified

#752 Sample - Add IgxBannerComponent samples
  live-editing/configs/BannerConfigGenerator.ts
  live-editing/generators/SampleAssetsGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/banner/banner-sample-1/banner-sample-1.component.html
  src/app/banner/banner-sample-1/banner-sample-1.component.scss
  src/app/banner/banner-sample-1/banner-sample-1.component.ts
  src/app/banner/banner-sample-2/banner-sample-2.component.html
  src/app/banner/banner-sample-2/banner-sample-2.component.scss
  src/app/banner/banner-sample-2/banner-sample-2.component.ts
  src/app/banner/banner-sample-3/banner-sample-3.component.html
  src/app/banner/banner-sample-3/banner-sample-3.component.scss
  src/app/banner/banner-sample-3/banner-sample-3.component.ts
  src/app/banner/banner-sample-4/banner-sample-4.component.html
  src/app/banner/banner-sample-4/banner-sample-4.component.scss
  src/app/banner/banner-sample-4/banner-sample-4.component.ts
  src/app/grid/grid-displaydensity-sample/data.ts
Labels: banner, enhancement, status: verified

#794 IgxGridToolbar - custom content outlet sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.scss
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.ts
Labels: status: verified, toolbar

#811 Samples - Banner - Polish banner 'Auto Replies' (4) sample
  src/app/banner/banner-sample-4/banner-sample-4.component.html
  src/app/banner/banner-sample-4/banner-sample-4.component.scss
  src/app/banner/banner-sample-4/banner-sample-4.component.ts
Labels: banner, status: verified

#806 Live Editing projects Angular 6 structure migration
  live-editing/generators/Generator.ts
  live-editing/generators/SampleAssetsGenerator.ts
  live-editing/generators/SharedAssetsGenerator.ts
  live-editing/generators/misc/SharedAssetsGeneratorArgs.ts
  live-editing/templates/angular-cli-css-support.json.template
  live-editing/templates/angular-cli.json.template
  live-editing/templates/angular-css-support.json.template
  live-editing/templates/angular.json.template
Labels: status: verified

#787 feat(TreeGridExport): igniteui-angular#2982 Enabled export via toolbar.
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.html
Labels: status: verified, tree-grid

#804 Add Summary GroupBy Sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/grid/grid-groupby-summary-sample/data.ts
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.html
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.scss
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.ts
  src/app/grid/grid-sample-3/grid-sample-3.component.html
  src/app/grid/grid-sample-3/grid-sample-3.component.ts
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.html
Labels: grid, group by, status: verified, summaries, tree-grid

#814 Sample - Banner - Add images to 'Auto Replies' banner sample
  src/app/banner/banner-sample-4/banner-sample-4.component.html
  src/app/banner/banner-sample-4/banner-sample-4.component.scss
  src/app/banner/banner-sample-4/banner-sample-4.component.ts
  src/assets/images/banner/cort.jpg
Labels: banner, status: verified

#820 Fix the custom filtering conditions sample
  src/app/grid/grid-custom-filtering/grid-custom-filtering.component.ts
Labels: status: verified

#823 Sample - Banner - Add `IgxInputGroupModule` to Stackblitz config
  live-editing/configs/BannerConfigGenerator.ts
Labels: banner, status: verified

#786 Add samples for localization
  live-editing/configs/LocalizationConfigGenerator.ts
  live-editing/generators/SampleAssetsGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/localization-samples/localization-sample-1/localization-sample-1.component.html
  src/app/localization-samples/localization-sample-1/localization-sample-1.component.scss
  src/app/localization-samples/localization-sample-1/localization-sample-1.component.ts
  src/app/localization-samples/localization-sample-1/nwindData.ts
  src/app/localization-samples/localization-sample-2/localization-sample-2.component.html
  src/app/localization-samples/localization-sample-2/localization-sample-2.component.scss
  src/app/localization-samples/localization-sample-2/localization-sample-2.component.ts
  src/app/localization-samples/localization-sample-2/nwindData.ts
  src/app/localization-samples/localization-sample-3/localization-sample-3.component.html
  src/app/localization-samples/localization-sample-3/localization-sample-3.component.scss
  src/app/localization-samples/localization-sample-3/localization-sample-3.component.ts
  src/app/localization-samples/localization-sample-3/nwindData.ts
Labels: status: verified

#826 Moving a style to finjs sample
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.scss
  src/styles.scss
Labels: grid, status: verified

#819 igxMask: add samples for pipes and placeholder new features
  live-editing/configs/MaskConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/mask/mask-sample-4/mask-sample-4.component.html
  src/app/mask/mask-sample-4/mask-sample-4.component.scss
  src/app/mask/mask-sample-4/mask-sample-4.component.ts
  src/app/mask/mask-sample-5/mask-sample-5.component.html
  src/app/mask/mask-sample-5/mask-sample-5.component.scss
  src/app/mask/mask-sample-5/mask-sample-5.component.ts
Labels: mask, status: verified

#825 Fixing floating $top argument in remote filtering sample
  src/app/grid/grid-remote-filtering-sample/remote-filtering-sample.component.ts
Labels: status: verified

#828 Fixing a sample height
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.html
Labels: status: verified, tree-grid

#827 FinJS demos enhacements
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.html
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.scss
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.ts
  src/app/tree-grid/tree-grid-finjs/hierFinancialData.ts
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.html
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.scss
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.ts
Labels: status: verified

#817 Fixing styles bundling for prod
  angular.json
Labels: status: verified

#835 update FinJs demos
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.html
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.scss
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.ts
  src/app/grid/services/localData.service.ts
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.html
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.scss
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.ts
Labels: status: verified

#836 Update finjs demos
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.html
Labels: status: verified

#808 Add batch editing sample, #807
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.css
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.html
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.ts
Labels: status: verified, transaction, tree-grid

#840 Updating igniteui-angular to 7.1.1
  package-lock.json
  package.json
Labels: build

#838 Adding explicit width to tree grid samples for proper render in IE 11.
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.html
  src/app/tree-grid/tree-grid-primaryforeignkey-sample/tree-grid-primaryforeignkey-sample.component.html
  src/app/tree-grid/tree-grid-row-edit/tree-grid-row-editing-sample.component.html
Labels: status: verified, tree-grid

#839 make the treegrid sample take the whole height
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.html
Labels: status: verified

#842 Fix localization samples width for IE 11.
  src/app/localization-samples/localization-sample-1/localization-sample-1.component.html
  src/app/localization-samples/localization-sample-2/localization-sample-2.component.html
  src/app/localization-samples/localization-sample-3/localization-sample-3.component.html
Labels: grid, status: verified

#844 fix(finjs-grid): fix finjs group area height in IE 11
  src/app/grid/grid-finjs-demo/grid-finjs-demo.component.scss
  src/app/tree-grid/tree-grid-finjs/tree-grid-finjs-sample.component.scss
Labels: bug, grid, status: verified, tree-grid

#849 #848 Fixed an issue with Propeller grid in IE11.
  src/app/grid/grid-crm/grid-crm.component.html
Labels: grid, status: verified
