Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2018-08, with the labels that each got.

#576 add grid remote paging sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.html
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.scss
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.ts
  src/app/grid/grid-sample-4/grid-sample-4.component.ts
  src/app/grid/services/remote.service.ts
  src/app/grid/services/remoteService.ts
Labels: grid, status: verified

#569 Combo - Remote Data - Change RemoteSample to use Odata V4 for data source - 6.1.x
  src/app/combo/combo-features/combo-features.component.html
  src/app/combo/combo-features/combo-features.component.ts
  src/app/grid/services/remote.service.ts
Labels: combo, status: verified, version: 6.1.x

#578 fix(grid-paste): Adding "Download Sample Excel File" button
  live-editing/configs/ExportExcelConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/grid/grid-paste/data.ts
  src/app/grid/grid-paste/grid-paste-sample.component.html
  src/app/grid/grid-paste/grid-paste-sample.component.scss
  src/app/grid/grid-paste/grid-paste-sample.component.ts
Labels: status: verified

#568 Combo - Remote Data - Change RemoteSample to use Odata V4 for data source
  src/app/combo/combo-features/combo-features.component.html
  src/app/combo/combo-features/combo-features.component.ts
  src/app/grid/services/remote.service.ts
Labels: combo, status: verified

#580 fix(*): #579 Pasting Excel data in the grid scrolls to the top of the page
  src/app/grid/grid-paste/paste-handler.directive.ts
Labels: status: verified

#582 Fix grid displaying issue when using navDrawer
  src/app/index/index.component.html
  src/app/index/index.component.scss
  src/app/index/index.component.ts
Labels: status: verified

#585 Revert back old combo features sample
  package.json
  src/app/combo/combo-features/combo-features.component.html
  src/app/combo/combo-features/combo-features.component.scss
  src/app/combo/combo-features/combo-features.component.ts
Labels: combo, status: verified, version: 6.1.x

#589 Revert back old combo features sample
  src/app/combo/combo-features/combo-features.component.html
  src/app/combo/combo-features/combo-features.component.scss
  src/app/combo/combo-features/combo-features.component.ts
Labels: combo, status: verified

#563 fix(chip): Fix button not visible
  src/app/chip/chip.component.html
  src/app/chip/chip.component.scss
  src/app/chip/chip.component.ts
Labels: chip, status: verified

#590 Render summary icons with longer header when resizing and on Ipad resolution.
  src/app/grid/grid-sample-3/grid-sample-3.component.html
  src/app/grid/grid-sample-3/grid-sample-3.component.scss
Labels: bug, grid, status: verified, summaries

#584 feature(navUI): navigate to child tree item from weblink #583
  src/app/index/index.component.html
  src/app/index/index.component.ts
Labels: status: verified

#586 fix(column-moving): Fixed styling issue #564
  src/app/grid/grid-moving-sample/grid-moving-sample.component.html
  src/app/grid/grid-moving-sample/grid-moving-sample.component.scss
Labels: bug, status: verified

#544 fix(sample): Horizontal scrollbar goes away in unfixed area and the last column is not visible on Mac
  src/app/grid/grid-sample-pinning/grid-pinning.component.html
  src/app/grid/grid-sample-pinning/grid-pinning.component.scss
Labels: status: verified, version: 6.1.x

#588 Combo updates
  live-editing/configs/ComboConfigGenerator.ts
  src/app/combo/combo-features/combo-features.component.html
  src/app/combo/combo-features/combo-features.component.scss
  src/app/combo/combo-features/combo-features.component.ts
  src/app/combo/combo-template/combo-template.component.ts
Labels: combo, status: verified, version: 6.1.x

#592 Combo updates
  live-editing/configs/ComboConfigGenerator.ts
  src/app/combo/combo-features/combo-features.component.html
  src/app/combo/combo-features/combo-features.component.scss
  src/app/combo/combo-features/combo-features.component.ts
  src/app/combo/combo-template/combo-template.component.ts
Labels: combo, status: verified

#557 Add setter to igxDropDownItem isSelected property
  src/app/dropdown/dropdown-sample-3/dropdown-sample-3.component.html
  src/app/dropdown/dropdown-sample-3/dropdown-sample-3.component.ts
Labels: dropdown, severity: medium, status: verified

#591 docs(*): Removing one record from the exported excel
  src/app/grid/grid-paste/data.ts
Labels: status: verified

#600 IgxDropDown - StackBlitz - Buttons in sample now use IgxButton directive correctly - 6.1.x
  live-editing/configs/DropDownConfigGenerator.ts
Labels: dropdown, status: verified, version: 6.1.x

#599 IgxDropDown - StackBlitz - Buttons in sample now use IgxButton directive correctly
  live-editing/configs/DropDownConfigGenerator.ts
Labels: dropdown, status: verified

#606 add core-js/es7/object pollyfill for IE
  src/polyfills.ts
Labels: status: verified

#608 Improve the samples for docfx
  live-editing/configs/TextHighlightConfigGenerator.ts
  live-editing/generators/SampleAssetsGenerator.ts
  src/app/text-highlight/text-highlight-sample-1/text-highlight-sample-1.component.html
  src/app/text-highlight/text-highlight-sample-1/text-highlight-sample-1.component.scss
  src/app/text-highlight/text-highlight-sample-1/text-highlight-sample-1.component.ts
  src/app/text-highlight/text-highlight-sample-2/text-highlight-sample-2.component.html
  src/app/text-highlight/text-highlight-sample-2/text-highlight-sample-2.component.scss
  src/app/text-highlight/text-highlight-sample-2/text-highlight-sample-2.component.ts
Labels: search, status: verified

#614 improved styling of tooltips in CC samples
  src/app/category-chart/overlap-columns/category-chart-overlap-columns.component.html
  src/app/category-chart/overlap-columns/category-chart-overlap-columns.component.scss
  src/app/category-chart/trendline/category-chart-with-trendline.component.html
  src/app/category-chart/trendline/category-chart-with-trendline.component.scss
  src/app/category-chart/trendline/category-chart-with-trendline.component.ts
  src/assets/images/activities/Blogging.png
  src/assets/images/activities/OnlinePress.png
  src/assets/images/activities/OnlineRadio.png
  src/assets/images/activities/OnlineTV.png
  src/assets/images/activities/SocialNetwork.png
  src/assets/images/medals/bronze.png
  src/assets/images/medals/gold.png
  src/assets/images/medals/silver.png
Labels: status: awaiting-test

#611 Adding sample for list item left/right panning
  live-editing/configs/ListConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/list/list-sample-7/list-sample-7.component.html
  src/app/list/list-sample-7/list-sample-7.component.scss
  src/app/list/list-sample-7/list-sample-7.component.ts
Labels: list, status: verified

#615 removed legend and replaced CC images from Andie's images
  src/app/category-chart/overlap-columns/category-chart-overlap-columns.component.html
  src/app/category-chart/overlap-columns/category-chart-overlap-columns.component.scss
  src/app/category-chart/trendline/category-chart-with-trendline.component.html
  src/app/category-chart/trendline/category-chart-with-trendline.component.scss
  src/assets/images/flags/russia.png
  src/assets/images/flags/uk.png
  src/assets/images/flags/usa.png
  src/assets/images/medals/bronze.png
  src/assets/images/medals/gold.png
  src/assets/images/medals/silver.png
Labels: status: awaiting-test

#619 Added Options for changing AxisMode in FC sample
  src/app/financial-chart/time-based-data/financial-chart-time-based-data.component.html
  src/app/financial-chart/time-based-data/financial-chart-time-based-data.component.scss
  src/app/financial-chart/time-based-data/financial-chart-time-based-data.component.ts
Labels: status: verified

#601 Add exactMatch option to gridSearch sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-search-sample/grid-search-sample.component.html
  src/app/grid/grid-search-sample/grid-search-sample.component.scss
  src/app/grid/grid-search-sample/grid-search-sample.component.ts
Labels: grid, status: verified

#624 Adding igx-typography class
  src/index.html
Labels: status: verified, styling

#622 docs(tabs): Added tabs with routing sample in samples solution #1957
  live-editing/configs/TabsConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/tabs/tabs-sample-4/app.routing.module.ts
  src/app/tabs/tabs-sample-4/components/tabs-sample-4.component.html
  src/app/tabs/tabs-sample-4/components/tabs-sample-4.component.scss
  src/app/tabs/tabs-sample-4/components/tabs-sample-4.component.ts
  src/app/tabs/tabs-sample-4/tabs-sample-4.module.ts
  src/app/tabs/tabs-sample-4/tabs.routing1.module.ts
  src/app/tabs/tabs-sample-5/app.routing.module.ts
  src/app/tabs/tabs-sample-5/components/tabs-sample-5.component.html
  src/app/tabs/tabs-sample-5/components/tabs-sample-5.component.scss
  src/app/tabs/tabs-sample-5/components/tabs-sample-5.component.ts
  src/app/tabs/tabs-sample-5/tabs-sample-5.module.ts
  src/app/tabs/tabs-sample-5/tabs.routing2.module.ts
  src/app/tabs/views/view1/view1.component.html
  src/app/tabs/views/view1/view1.component.ts
  src/app/tabs/views/view2/view2.component.html
  src/app/tabs/views/view2/view2.component.ts
  src/app/tabs/views/view3/view3.component.html
  src/app/tabs/views/view3/view3.component.ts
  src/app/tabs/views/views.module.ts
Labels: status: verified

#628 docs(tabs): Fixed styling issues, IE issue with missing labels #622
  src/app/tabs/tabs-sample-4/components/tabs-sample-4.component.html
  src/app/tabs/tabs-sample-4/components/tabs-sample-4.component.ts
Labels: status: verified

#604 Adding disabled dates samples
  live-editing/configs/CalendarConfigGenerator.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/calendar/calendar-sample-6/calendar-sample-6.component.html
  src/app/calendar/calendar-sample-6/calendar-sample-6.component.scss
  src/app/calendar/calendar-sample-6/calendar-sample-6.component.ts
  src/app/calendar/calendar-sample-7/calendar-sample-7.component.html
  src/app/calendar/calendar-sample-7/calendar-sample-7.component.scss
  src/app/calendar/calendar-sample-7/calendar-sample-7.component.ts
Labels: calendar, enhancement, status: verified

#618 Providing theme chooser sample.
  live-editing/configs/GridConfigGenerator.ts
  live-editing/services/SassCompiler.ts
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/grid/grid-crm/grid-crm.component.scss
  src/app/theming/dark-theme-sample/dark-theme-sample.component.html
  src/app/theming/dark-theme-sample/dark-theme-sample.component.scss
  src/app/theming/dark-theme-sample/dark-theme-sample.component.ts
  src/app/theming/data/data.ts
  src/app/theming/data/record.ts
  src/app/theming/default-theme-sample/default-theme-sample.component.html
  src/app/theming/default-theme-sample/default-theme-sample.component.scss
  src/app/theming/default-theme-sample/default-theme-sample.component.ts
  src/app/theming/styles/dark-theme-class.scss
  src/app/theming/styles/dark-theme.scss
  src/app/theming/styles/theme-classes.scss
  src/app/theming/styles/themes.scss
  src/app/theming/theme-chooser/theme-chooser-sample.component.html
  src/app/theming/theme-chooser/theme-chooser-sample.component.scss
  src/app/theming/theme-chooser/theme-chooser-sample.component.ts
Labels: date picker, dropdown, grid, input group, status: verified, theming
