Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2019-08, with the labels that each got.

#1361 Add filter row style samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-filtering-style/grid-filtering-style.component.html
  src/app/grid/grid-filtering-style/grid-filtering-style.component.scss
  src/app/grid/grid-filtering-style/grid-filtering-style.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-filtering-style/hierarchical-grid-filtering-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-filtering-style/hierarchical-grid-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-filtering-style/hierarchical-grid-filtering-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-filtering-style/tree-grid-filtering-style.component.html
  src/app/tree-grid/tree-grid-filtering-style/tree-grid-filtering-style.component.scss
  src/app/tree-grid/tree-grid-filtering-style/tree-grid-filtering-style.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#1348 Add calendar styling sample
  live-editing/configs/CalendarConfigGenerator.ts
  src/app/scheduling/calendar/calendar-sample-1/calendar-sample-1.component.scss
  src/app/scheduling/calendar/calendar-sample-2/calendar-sample-2.component.scss
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.scss
  src/app/scheduling/calendar/calendar-sample-4/calendar-sample-4.component.scss
  src/app/scheduling/calendar/calendar-sample-5/calendar-sample-5.component.scss
  src/app/scheduling/calendar/calendar-sample-6/calendar-sample-6.component.scss
  src/app/scheduling/calendar/calendar-sample-7/calendar-sample-7.component.scss
  src/app/scheduling/calendar/calendar-styling-sample/calendar-styling-sample.component.html
  src/app/scheduling/calendar/calendar-styling-sample/calendar-styling-sample.component.scss
  src/app/scheduling/calendar/calendar-styling-sample/calendar-styling-sample.component.ts
  src/app/scheduling/calendar/calendar-views/calendar-views.component.html
  src/app/scheduling/calendar/calendar-views/calendar-views.component.scss
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: category-enhancement, category-styling, status: verified

#1367 Fix custom filter cell template samples
  src/app/grid/grid-filtering-template-sample/grid-filtering-template-sample.component.html
  src/app/grid/grid-filtering-template-sample/grid-filtering-template-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.html
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.ts
  src/app/tree-grid/tree-grid-filtering-template-sample/tree-grid-filtering-template-sample.component.html
  src/app/tree-grid/tree-grid-filtering-template-sample/tree-grid-filtering-template-sample.component.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1342 Add igxButtonModule to the Snackbar config generator
  live-editing/configs/SnackbarConfigGenerator.ts
Labels: ig-snackbar, status: verified

#1345 docs(paging): Updated paging samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/custom-grid-paging-style/custom-grid-paging-style.component.html
  src/app/grid/custom-grid-paging-style/custom-grid-paging-style.component.ts
  src/app/grid/grid-pager-sample/grid-pager-sample.component.html
  src/app/grid/grid-pager-sample/grid-pager-sample.component.scss
  src/app/grid/grid-pager-sample/grid-pager-sample.component.ts
  src/app/grid/grid-paging-sample/grid-paging-sample.component.html
  src/app/grid/grid-paging-sample/grid-paging-sample.component.scss
  src/app/grid/grid-paging-sample/grid-paging-sample.component.ts
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.html
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.scss
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-paging.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-paging.component.scss
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-paging.component.ts
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.scss
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-paging-sample/tree-grid-paging-sample.component.html
  src/app/tree-grid/tree-grid-paging-sample/tree-grid-paging-sample.component.ts
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.html
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.scss
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.ts
  src/app/tree-grid/tree-grid-remote-paging-sample/tree-grid-remote-paging-sample.component.html
  src/app/tree-grid/tree-grid-remote-paging-sample/tree-grid-remote-paging-sample.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-paging, ig-tree-grid, status: verified, version: 8.1.x

#1374 Update to 8.1.2
  package-lock.json
  package.json
Labels: status: verified

#1369 Grid editing new product dialog window
  src/app/grid/grid-boston-marathon/grid.component.scss
  src/app/grid/grid-boston-marathon/grid.component.ts
  src/app/grid/grid-editing-sample/grid-editing-sample.component.html
  src/app/grid/grid-editing-sample/grid-editing-sample.component.scss
Labels: status: verified

#1387 Sorting hover styling on sorting styling samples
  src/app/grid/grid-sorting-styling/grid-sorting-styling.component.scss
  src/app/hierarchical-grid/hierarchical-grid-sorting-styling/hierarchical-grid-sorting-styling.component.scss
  src/app/tree-grid/tree-grid-sorting-styling/tree-grid-sorting-styling.component.scss
Labels: category-styling, status: verified

#1291 Adding the icons drag and drop sample, instead of the puzzle one
  live-editing/configs/DragAndDropConfigGenerator.ts
  src/app/interactions/drag-drop/drag-drop.component.html
  src/app/interactions/drag-drop/drag-drop.component.scss
  src/app/interactions/drag-drop/drag-drop.component.ts
  src/app/interactions/drag-drop/icons-sample/icons-sample.component.html
  src/app/interactions/drag-drop/icons-sample/icons-sample.component.scss
  src/app/interactions/drag-drop/icons-sample/icons-sample.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
  src/assets/images/drag-drop/calendar.png
  src/assets/images/drag-drop/chat.png
  src/assets/images/drag-drop/cloud.png
  src/assets/images/drag-drop/contacts.png
  src/assets/images/drag-drop/infragistics-logo00.jpeg
  src/assets/images/drag-drop/infragistics-logo01.jpeg
  src/assets/images/drag-drop/infragistics-logo02.jpeg
  src/assets/images/drag-drop/infragistics-logo10.jpeg
  src/assets/images/drag-drop/infragistics-logo11.jpeg
  src/assets/images/drag-drop/infragistics-logo12.jpeg
  src/assets/images/drag-drop/infragistics-logo20.jpeg
  src/assets/images/drag-drop/infragistics-logo21.jpeg
  src/assets/images/drag-drop/infragistics-logo22.jpeg
  src/assets/images/drag-drop/mail.png
  src/assets/images/drag-drop/map.png
  src/assets/images/drag-drop/photos.png
  src/assets/images/drag-drop/profile.png
  src/assets/images/drag-drop/videos.png
Labels: ig-drag & drop, status: verified, version: 8.1.x

#1389 Adding styling sample for Grids ESF
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-excel-style-filtering-style/grid-excel-style-filtering-style.component.html
  src/app/grid/grid-excel-style-filtering-style/grid-excel-style-filtering-style.component.scss
  src/app/grid/grid-excel-style-filtering-style/grid-excel-style-filtering-style.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-style/hierarchical-grid-excel-style-filtering-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-style/hierarchical-grid-excel-style-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-style/hierarchical-grid-excel-style-filtering-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-excel-style-filtering-style/tree-grid-excel-style-filtering-style.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-style/tree-grid-excel-style-filtering-style.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-style/tree-grid-excel-style-filtering-style.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1388 sample(card) - Adding styling sample for cards
  live-editing/configs/CardConfigGenerator.ts
  src/app/layouts/card/card-styling-sample/card-styling-sample.component.html
  src/app/layouts/card/card-styling-sample/card-styling-sample.component.scss
  src/app/layouts/card/card-styling-sample/card-styling-sample.component.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
Labels: ig-card, status: verified

#1360 Add expansion panel styling sample
  live-editing/configs/ExpansionPanelConfigGenerator.ts
  src/app/layouts/expansion-panel/expansion-sample-1/expansion-sample-1.component.scss
  src/app/layouts/expansion-panel/expansion-sample-2/expansion-sample-2.component.scss
  src/app/layouts/expansion-panel/expansion-sample-3/expansion-sample-3.component.scss
  src/app/layouts/expansion-panel/expansion-sample-4/expansion-sample-4.component.html
  src/app/layouts/expansion-panel/expansion-sample-4/expansion-sample-4.component.scss
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.html
  src/app/layouts/expansion-panel/expansion-sample-6/expansion-sample-6.component.html
  src/app/layouts/expansion-panel/expansion-sample-6/expansion-sample-6.component.scss
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.html
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.scss
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
Labels: category-styling, ig-expansion-panel, status: verified

#1373 Adds sample for custom summaries based on selection
  live-editing/configs/GridConfigGenerator.ts
  src/app/data/nwindData.ts
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.html
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.scss
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.ts
  src/app/grid/grid-custom-summaries-selection/summaries-data/summaries-data.component.html
  src/app/grid/grid-custom-summaries-selection/summaries-data/summaries-data.component.scss
  src/app/grid/grid-custom-summaries-selection/summaries-data/summaries-data.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: category-StackBlitz, category-enhancement, ig-grid, status: verified

#1352 Adding missing module data chart stacked series config
  live-editing/configs/DataChartConfigGenerator.ts
Labels: status: verified

#1355 select topic samples update
  live-editing/configs/SelectConfigGenerator.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/select/select-form/select-form.component.html
  src/app/data-entries/select/select-form/select-form.component.scss
  src/app/data-entries/select/select-form/select-form.component.ts
  src/app/data-entries/select/select-input-directives/select-input-directives.html
  src/app/data-entries/select/select-input-directives/select-input-directives.scss
  src/app/data-entries/select/select-input-directives/select-input-directives.ts
  src/app/data-entries/select/select-sample-1/select-sample-1.component.scss
Labels: category-enhancement, ig-select, status: verified

#1406 Update igniteui for angular to 8.1.4
  package-lock.json
  package.json
Labels: status: verified

#1395 fix(samples): Adding sample with the default pinning UI for grids - t…
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-sample-pinning/grid-toolbar-pinning.component.html
  src/app/grid/grid-sample-pinning/grid-toolbar-pinning.component.scss
  src/app/grid/grid-sample-pinning/grid-toolbar-pinning.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-toolbar-pinning.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-toolbar-pinning.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-toolbar-pinning.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.html
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.ts
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-toolbar-pinning.component.html
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-toolbar-pinning.component.scss
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-toolbar-pinning.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-pinning, status: verified

#1372 feat(grid): update grid crud docs, add editing events sample
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-editing-events/grid-editing-events.component.html
  src/app/grid/grid-editing-events/grid-editing-events.component.scss
  src/app/grid/grid-editing-events/grid-editing-events.component.ts
  src/app/grid/grid-editing-sample/data.ts
  src/app/grid/grid-editing-sample/grid-editing-sample.component.html
  src/app/grid/grid-editing-sample/grid-editing-sample.component.scss
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-editing-events/hierarchical-grid-editing-events.component.html
  src/app/hierarchical-grid/hierarchical-grid-editing-events/hierarchical-grid-editing-events.component.scss
  src/app/hierarchical-grid/hierarchical-grid-editing-events/hierarchical-grid-editing-events.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-editing-events/tree-grid-editing-events.component.html
  src/app/tree-grid/tree-grid-editing-events/tree-grid-editing-events.component.scss
  src/app/tree-grid/tree-grid-editing-events/tree-grid-editing-events.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1411 chore(grid): fix stackblitz
  live-editing/configs/GridConfigGenerator.ts
Labels: grid

#1393 Add navbar style sample
  live-editing/configs/NavbarConfigGenerator.ts
  src/app/menus/menus-routes-data.ts
  src/app/menus/menus-routing.module.ts
  src/app/menus/menus.module.ts
  src/app/menus/navbar/navbar-style/navbar-style.component.html
  src/app/menus/navbar/navbar-style/navbar-style.component.scss
  src/app/menus/navbar/navbar-style/navbar-style.component.ts
Labels: ig-navbar, status: verified

#1394 Add snackbar style sample
  live-editing/configs/SnackbarConfigGenerator.ts
  src/app/notifications/notifications-routes-data.ts
  src/app/notifications/notifications-routing.module.ts
  src/app/notifications/notifications.module.ts
  src/app/notifications/snackbar/snackbar-style/snackbar-style.component.html
  src/app/notifications/snackbar/snackbar-style/snackbar-style.component.scss
  src/app/notifications/snackbar/snackbar-style/snackbar-style.component.ts
Labels: ig-snackbar, status: verified

#1397 Add toast style sample
  live-editing/configs/ToastConfigGenerator.ts
  src/app/notifications/notifications-routes-data.ts
  src/app/notifications/notifications-routing.module.ts
  src/app/notifications/notifications.module.ts
  src/app/notifications/toast/toast-style/toast-style.component.html
  src/app/notifications/toast/toast-style/toast-style.component.scss
  src/app/notifications/toast/toast-style/toast-style.component.ts
Labels: ig-toast, status: verified

#1400 Add Styling to Grid Groupby Samples
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-groupby-styling/grid-groupby-styling.component.html
  src/app/grid/grid-groupby-styling/grid-groupby-styling.component.scss
  src/app/grid/grid-groupby-styling/grid-groupby-styling.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: category-enhancement, status: verified, version: 8.1.x

#1432 Removing some unused code in the GroupBy styling sample
  src/app/grid/grid-groupby-styling/grid-groupby-styling.component.scss
  src/app/grid/grid-groupby-styling/grid-groupby-styling.component.ts
Labels: ig-group by, version: 8.1.x

#1403 Add Styling to Grid Pinning Samples
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-sample-pinning-styling/grid-pinning-styling.component.html
  src/app/grid/grid-sample-pinning-styling/grid-pinning-styling.component.scss
  src/app/grid/grid-sample-pinning-styling/grid-pinning-styling.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: category-enhancement, status: verified, version: 8.1.x

#1423 Migrate samples to new Drag&Drop API
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.html
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.ts
  src/app/interactions/drag-drop/icons-sample/icons-sample.component.html
  src/app/interactions/drag-drop/icons-sample/icons-sample.component.ts
Labels: ig-drag & drop, status: verified, version: 8.2.x

#1433 Upgrade to 8.2.0-beta.1
  .browserslistrc
  angular.json
  live-editing/services/SassCompiler.ts
  package-lock.json
  package.json
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.html
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-drag-base/hierarchical-row-drag-base.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-drag/hierarchical-grid-row-drag.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.ts
  src/app/interactions/drag-drop/icons-sample/icons-sample.component.html
  src/app/interactions/drag-drop/icons-sample/icons-sample.component.ts
  src/app/tree-grid/tree-grid-row-drag-base/tree-grid-row-drag-base.component.ts
  src/app/tree-grid/tree-grid-row-drag/tree-grid-row-drag.component.ts
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.ts
Labels: status: verified

#1292 Adding the drag dialog sample
  live-editing/configs/DragAndDropConfigGenerator.ts
  src/app/interactions/drag-drop/dialog-sample/drag-dialog-sample.component.html
  src/app/interactions/drag-drop/dialog-sample/drag-dialog-sample.component.scss
  src/app/interactions/drag-drop/dialog-sample/drag-dialog-sample.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
Labels: ig-drag & drop, status: verified, version: 8.2.x

#1428 Add transition animations to the drag&drop list reorder demo.
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.html
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.scss
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.ts
Labels: ig-drag & drop, status: verified, version: 8.2.x

#1300 Adding the List Reorder drag and drop sample
  live-editing/configs/DragAndDropConfigGenerator.ts
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.html
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.scss
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
Labels: ig-drag & drop, status: verified, version: 8.2.x

#1346 Adding the Kanban drag and drop sample
  live-editing/configs/DragAndDropConfigGenerator.ts
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.html
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.scss
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
Labels: ig-drag & drop, status: verified, version: 8.2.x

#1391 Drag and Drop Email-Sample
  live-editing/configs/DragAndDropConfigGenerator.ts
  src/app/interactions/drag-drop/email-sample/email-sample.component.html
  src/app/interactions/drag-drop/email-sample/email-sample.component.scss
  src/app/interactions/drag-drop/email-sample/email-sample.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
Labels: category-enhancement, ig-drag & drop, status: verified, version: 8.2.x

#1409 Add Styling to Grid MRL Samples
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-multi-row-layout-styling/grid-multi-row-layout-styling.component.html
  src/app/grid/grid-multi-row-layout-styling/grid-multi-row-layout-styling.component.scss
  src/app/grid/grid-multi-row-layout-styling/grid-multi-row-layout-styling.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: category-enhancement, category-styling, status: verified, version: 8.1.x

#1413 Add Styling to Hierarchical Grid Samples
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-styling/hierarchical-grid-styling.component.html
  src/app/hierarchical-grid/hierarchical-grid-styling/hierarchical-grid-styling.component.scss
  src/app/hierarchical-grid/hierarchical-grid-styling/hierarchical-grid-styling.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
Labels: category-enhancement, category-styling, status: verified, version: 8.1.x

#1385 Grids multi column header styling samples
  .browserslistrc
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  live-editing/services/SassCompiler.ts
  package-lock.json
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/grid/multi-column-header-template/data.ts
  src/app/grid/multi-column-header-template/multi-column-header-template.ts
  src/app/grid/multi-column-headers-styling/multi-column-headers-styling.component.html
  src/app/grid/multi-column-headers-styling/multi-column-headers-styling.component.scss
  src/app/grid/multi-column-headers-styling/multi-column-headers-styling.component.ts
  src/app/grid/multi-column-headers/data.ts
  src/app/grid/multi-column-headers/multi-column-headers.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers-styling/hierarchical-grid-multi-column-styling.component.html
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers-styling/hierarchical-grid-multi-column-styling.component.scss
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers-styling/hierarchical-grid-multi-column-styling.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-summary-styling/hierarchical-grid-summary-styling.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-multi-column-headers-styling/tree-grid-multi-column-headers-styling.component.html
  src/app/tree-grid/tree-grid-multi-column-headers-styling/tree-grid-multi-column-headers-styling.component.scss
  src/app/tree-grid/tree-grid-multi-column-headers-styling/tree-grid-multi-column-headers-styling.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: category-styling, status: verified

#1440 Move browserslist config to package.json
  .browserslistrc
  package.json
Labels: status: verified

#1442 Move browserslist config to package.json
  .browserslistrc
  package.json
Labels: status: verified

#1430 Add Styling to Ripple Samples
  live-editing/configs/RippleConfigGenerator.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
  src/app/interactions/ripple/ripple-stying/ripple-styling-sample.component.html
  src/app/interactions/ripple/ripple-stying/ripple-styling-sample.component.scss
  src/app/interactions/ripple/ripple-stying/ripple-styling-sample.component.ts
Labels: category-enhancement, category-styling, status: verified, version: 8.2.x

#1444 Update summaries colors - master
  src/app/grid/grid-groupby-summary-styling-sample/grid-groupby-summary-styling-sample.component.scss
  src/app/hierarchical-grid/hierarchical-grid-summary-styling/hierarchical-grid-summary-styling.component.scss
  src/app/tree-grid/tree-grid-summary-styling/tree-grid-summary-styling.component.scss
Labels: status: verified, version: 8.1.x

#1443 Update summaries
  src/app/grid/grid-groupby-summary-styling-sample/grid-groupby-summary-styling-sample.component.scss
  src/app/hierarchical-grid/hierarchical-grid-summary-styling/hierarchical-grid-summary-styling.component.scss
  src/app/tree-grid/tree-grid-summary-styling/tree-grid-summary-styling.component.scss
Labels: status: verified, version: 8.2.x
