Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2019-07, with the labels that each got.

#1221 Diminish height of demos
  src/app/grid-finjs/grid-finjs-demo.component.html
  src/app/grid-finjs/grid-finjs-demo.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
Labels: status: verified

#1235 Diminish height for demos (7.3.x)
  src/app/grid-finjs/grid-finjs-demo.component.html
  src/app/grid-finjs/grid-finjs-demo.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
Labels: status: verified

#1232 Adding config for List theming sample
  live-editing/configs/ListConfigGenerator.ts
Labels: status: verified

#1233 Fix filtering in the TreeGrid FinJS demo
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: status: verified, tree-grid, version: 8.0.x

#1237 Add polyfill template for IE
  live-editing/generators/SharedAssetsGenerator.ts
  live-editing/templates/polyfills.ts.template
Labels: status: verified

#1245 Fixing the visibility of a button
  src/app/notifications/snackbar/snackbar-sample-4/snackbar-sample-4.component.html
  src/app/notifications/snackbar/snackbar-sample-4/snackbar-sample-4.component.scss
Labels: list, status: verified

#1228 Add Mutli Cell Selection styling samples
  live-editing/configs/ChipConfigGenerator.ts
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-multi-cell-selection-style/grid-multi-cell-selection-style.component.html
  src/app/grid/grid-multi-cell-selection-style/grid-multi-cell-selection-style.component.scss
  src/app/grid/grid-multi-cell-selection-style/grid-multi-cell-selection-style.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-cell-style/hierarchical-grid-multi-cell-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-multi-cell-style/hierarchical-grid-multi-cell-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-multi-cell-style/hierarchical-grid-multi-cell-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-multi-cell-selection-style/tree-grid-multi-cell-selection-style.component.html
  src/app/tree-grid/tree-grid-multi-cell-selection-style/tree-grid-multi-cell-selection-style.component.scss
  src/app/tree-grid/tree-grid-multi-cell-selection-style/tree-grid-multi-cell-selection-style.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: category-styling, ig-grid, ig-hierarchical-grid, ig-multi-cell selection, ig-tree-grid, status: verified

#1254 Fix BaseConfigGenerator providers imports and configure Sparkline and GeoMap configs
  live-editing/configs/GeoMapConfigGenerator.ts
  live-editing/configs/SparklineConfigGenerator.ts
  live-editing/configs/core/BaseConfigGenerator.ts
Labels: status: verified

#1249 Set igx-card height
  src/app/interactions/overlay/overlay-positioning-1/overlay-position-sample-1.component.scss
Labels: ig-overlay, status: verified

#1258 fixed version of angular core package
  package-lock.json
  package.json
Labels: category-build, status: in-review, team-xPrime

#1262 Fix lint issues in Sparkline
  src/app/excel-library/working-with/sparklines.component.ts
Labels: category-bug, status: verified

#1213 sample added: grid move column style
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-moving-styled-sample/grid-moving-styled-sample.component.html
  src/app/grid/grid-moving-styled-sample/grid-moving-styled-sample.component.scss
  src/app/grid/grid-moving-styled-sample/grid-moving-styled-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-column-moving-styled/hierarchical-grid-moving-styled.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-moving-styled/hierarchical-grid-moving-styled.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-moving-styled/hierarchical-grid-moving-styled.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-column-moving-styled-sample/tree-grid-column-moving-styled-sample.component.html
  src/app/tree-grid/tree-grid-column-moving-styled-sample/tree-grid-column-moving-styled-sample.component.scss
  src/app/tree-grid/tree-grid-column-moving-styled-sample/tree-grid-column-moving-styled-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified, version: 8.0.x

#1265 Fix configs, rename wrong set spreadsheet folder, add map config, update igniteui-anguilar
  live-editing/configs/DataChartConfigGenerator.ts
  live-editing/configs/FinancialChartConfigGenerator.ts
  live-editing/configs/GeoMapConfigGenerator.ts
  live-editing/configs/SpreadsheetConfigGenerator.ts
  package.json
  src/app/spreadsheet/spreadsheet-conditional-formatting/spreadsheet-cond-formatting.component.html
  src/app/spreadsheet/spreadsheet-conditional-formatting/spreadsheet-cond-formatting.component.scss
  src/app/spreadsheet/spreadsheet-conditional-formatting/spreadsheet-cond-formatting.component.ts
  src/app/spreadsheet/spreadsheet-routes-data.ts
  src/app/spreadsheet/spreadsheet-routing.module.ts
  src/app/spreadsheet/spreadsheet.module.ts
Labels: status: verified

#1268 Fix renamed data source
  src/app/tree-grid/tree-grid-column-moving-styled-sample/tree-grid-column-moving-styled-sample.component.ts
Labels: ig-tree-grid

#1269 fix(tree-grid): fix renamed data source (#1268)
  src/app/tree-grid/tree-grid-column-moving-styled-sample/tree-grid-column-moving-styled-sample.component.ts
Labels: status: verified

#1273 Updating igniteui-angular to 8.0.4, refactoring custom grid paginors
  live-editing/configs/ThemingConfigGenerator.ts
  package-lock.json
  package.json
  src/app/grid/custom-grid-paging-style/custom-grid-paging-style.component.html
  src/app/grid/custom-grid-paging-style/custom-grid-paging-style.component.scss
  src/app/grid/grid-boston-marathon/grid.component.html
  src/app/grid/grid-boston-marathon/grid.component.scss
  src/app/grid/grid-paging-sample/grid-paging-sample.component.html
  src/app/grid/grid-paging-sample/grid-paging-sample.component.scss
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.html
  src/app/tree-grid/tree-grid-paging-sample/tree-grid-paging-sample.component.html
  src/app/tree-grid/tree-grid-paging-sample/tree-grid-paging-sample.component.scss
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.html
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.scss
  src/app/tree-grid/tree-grid-remote-paging-sample/tree-grid-remote-paging-sample.component.html
Labels: status: verified

#1279 Added HttpClientModule to IgxHiearchicalGrid config.
  live-editing/configs/HierarchicalGridConfigGenerator.ts
Labels: status: verified

#1280 Fixed shrinked menus above FinJS-Grid an FinJS-TreeGrid
  src/app/grid-finjs/grid-finjs-demo.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
Labels: status: verified

#1282 Add styling sample for toolbar
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.html
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.scss
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-toolbar-style/hierarchical-grid-toolbar-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar-style/hierarchical-grid-toolbar-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-toolbar-style/hierarchical-grid-toolbar-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-toolbar-style/tree-grid-toolbar-style.component.html
  src/app/tree-grid/tree-grid-toolbar-style/tree-grid-toolbar-style.component.scss
  src/app/tree-grid/tree-grid-toolbar-style/tree-grid-toolbar-style.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-toolbar, status: verified

#1290 chore(*): update to igniteui-angular 8.1.0
  package-lock.json
  package.json
Labels: status: verified, version: 8.1.x

#1286 Grid clipboard operations
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  package-lock.json
  package.json
  src/app/grid/grid-clipboard-operations-sample/grid-clipboard-operations-sample.component.html
  src/app/grid/grid-clipboard-operations-sample/grid-clipboard-operations-sample.component.scss
  src/app/grid/grid-clipboard-operations-sample/grid-clipboard-operations-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/tree-grid/tree-grid-clipboard-operations-sample/tree-grid-clipboard-operations-sample.component.html
  src/app/tree-grid/tree-grid-clipboard-operations-sample/tree-grid-clipboard-operations-sample.component.scss
  src/app/tree-grid/tree-grid-clipboard-operations-sample/tree-grid-clipboard-operations-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#1246 Add column group header template samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/grid/multi-column-header-template/data.ts
  src/app/grid/multi-column-header-template/multi-column-header-template.html
  src/app/grid/multi-column-header-template/multi-column-header-template.scss
  src/app/grid/multi-column-header-template/multi-column-header-template.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-column-header-template/hierarchical-grid-multi-column-template.component.html
  src/app/hierarchical-grid/hierarchical-grid-multi-column-header-template/hierarchical-grid-multi-column-template.component.scss
  src/app/hierarchical-grid/hierarchical-grid-multi-column-header-template/hierarchical-grid-multi-column-template.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-multi-column-header-template-sample/tree-grid-multi-column-header-template-sample.component.html
  src/app/tree-grid/tree-grid-multi-column-header-template-sample/tree-grid-multi-column-header-template-sample.component.scss
  src/app/tree-grid/tree-grid-multi-column-header-template-sample/tree-grid-multi-column-header-template-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-multi-column headers, ig-tree-grid, status: verified

#1267 Adding Tabs/BottomNav Routing Samples
  live-editing/configs/TabBarConfigGenerator.ts
  live-editing/configs/TabsConfigGenerator.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.component.html
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.component.scss
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.component.ts
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.html
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.scss
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.ts
Labels: ig-bottom-nav, ig-tabs, status: verified

#1278 Add a sample with transactions
  live-editing/configs/TransactionsConfigGenerator.ts
  live-editing/generators/ConfigGenerators.ts
  src/app/services/services-routes-data.ts
  src/app/services/services-routing.module.ts
  src/app/services/services.module.ts
  src/app/services/transaction/data.ts
  src/app/services/transaction/pipes/transaction-base.pipe.ts
  src/app/services/transaction/transaction-base/transaction-base.component.html
  src/app/services/transaction/transaction-base/transaction-base.component.scss
  src/app/services/transaction/transaction-base/transaction-base.component.ts
Labels: ig-transaction, status: verified, version: 8.0.x

#1302 optimized map samples for size of data sources
  live-editing/configs/GeoMapConfigGenerator.ts
  src/app/maps/geo-map-binding-data-csv/map-binding-data-csv.component.html
  src/app/maps/geo-map-binding-data-csv/map-binding-data-csv.component.ts
  src/app/maps/geo-map-binding-data-json-points/map-binding-data-json-points.component.html
  src/app/maps/geo-map-binding-shp-points/map-binding-shp-points.component.ts
  src/app/maps/geo-map-binding-shp-polygons/map-binding-shp-polygons.component.ts
  src/app/maps/geo-map-binding-shp-polylines/map-binding-shp-polylines.component.ts
  src/app/maps/geo-map-display-imagery-heat-tiles/map-display-imagery-heat-tiles.component.ts
  src/app/maps/geo-map-type-scatter-density-series/map-type-scatter-density-series.component.html
  src/app/maps/geo-map-type-scatter-density-series/map-type-scatter-density-series.component.ts
  src/app/maps/geo-map-type-shape-polygon-series/map-type-shape-polygon-series.component.ts
  src/app/maps/geo-map-type-shape-polyline-series/map-type-shape-polyline-series.component.ts
  src/assets/Data/AusPlaces.csv
  src/assets/Data/UsaCitiesPopulation.csv
  src/assets/Data/UsaCitiesPopulation.txt
  src/assets/Data/UsaCitiesRecords.csv
  src/assets/Data/UsaCitiesRecords.txt
Labels: category-refactoring, status: in-review, team-xsharp

#1288 feat(grid): add grid cell editing styling
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.html
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.scss
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-editing-style/hierarchical-grid-editing-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-editing-style/hierarchical-grid-editing-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-editing-style/hierarchical-grid-editing-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-editing-style/tree-grid-editing-sample.component.html
  src/app/tree-grid/tree-grid-editing-style/tree-grid-editing-sample.component.scss
  src/app/tree-grid/tree-grid-editing-style/tree-grid-editing-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1272 feat(input-group): add input group styling example
  live-editing/configs/InputGroupConfigGenerator.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/input-group/input-group-styling/input-group-styling.component.html
  src/app/data-entries/input-group/input-group-styling/input-group-styling.component.scss
  src/app/data-entries/input-group/input-group-styling/input-group-styling.component.ts
Labels: category-styling, ig-input group, status: verified

#1287 Add styling sample for column hiding
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-column-hiding-toolbar-style/data.ts
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.html
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.scss
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-column-hiding-toolbar-style/hierarchical-grid-column-hiding-toolbar-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-hiding-toolbar-style/hierarchical-grid-column-hiding-toolbar-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-hiding-toolbar-style/hierarchical-grid-column-hiding-toolbar-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-column-hiding-toolbar-style/tree-grid-column-hiding-toolbar-style.component.html
  src/app/tree-grid/tree-grid-column-hiding-toolbar-style/tree-grid-column-hiding-toolbar-style.component.scss
  src/app/tree-grid/tree-grid-column-hiding-toolbar-style/tree-grid-column-hiding-toolbar-style.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-column-hiding, status: verified

#1305 Pump version to 8.1.0-beta.1
  package-lock.json
  package.json
Labels: status: verified

#1276 Add drop-down related components style samples
  live-editing/configs/ComboConfigGenerator.ts
  live-editing/configs/DropDownConfigGenerator.ts
  live-editing/configs/SelectConfigGenerator.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/dropdown/dropdown-styling/dropdown-styling.component.html
  src/app/data-entries/dropdown/dropdown-styling/dropdown-styling.component.scss
  src/app/data-entries/dropdown/dropdown-styling/dropdown-styling.component.ts
  src/app/data-entries/select/select-styling/select-styling.component.html
  src/app/data-entries/select/select-styling/select-styling.component.scss
  src/app/data-entries/select/select-styling/select-styling.component.ts
  src/app/data/heroData.ts
  src/app/lists/combo/combo-styling/combo-styling.component.html
  src/app/lists/combo/combo-styling/combo-styling.component.scss
  src/app/lists/combo/combo-styling/combo-styling.component.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
Labels: category-styling, ig-combo, ig-dropdown, ig-select, status: verified

#1248 Add Row Editing Styling samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.html
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.scss
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-row-edit-style/hierarchical-grid-row-edit-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-edit-style/hierarchical-grid-row-edit-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-row-edit-style/hierarchical-grid-row-edit-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.html
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.scss
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1289 Add styling sample for tooltip
  live-editing/configs/TooltipConfigGenerator.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
  src/app/interactions/tooltip/tooltip-style/tooltip-style.component.html
  src/app/interactions/tooltip/tooltip-style/tooltip-style.component.scss
  src/app/interactions/tooltip/tooltip-style/tooltip-style.component.ts
Labels: ig-tooltip, status: verified

#1299 Add banner styling sample
  live-editing/configs/BannerConfigGenerator.ts
  src/app/notifications/banner/banner-styling/banner-styling.component.html
  src/app/notifications/banner/banner-styling/banner-styling.component.scss
  src/app/notifications/banner/banner-styling/banner-styling.component.ts
  src/app/notifications/notifications-routes-data.ts
  src/app/notifications/notifications-routing.module.ts
  src/app/notifications/notifications.module.ts
Labels: category-styling, ig-banner, status: verified

#1306 Fix routing paths in the Tabs and BottomNav routing samples
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.component.ts
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.ts
Labels: ig-bottom-nav, ig-tabs, status: verified

#1274 feat(overlay): add overlay styling sample
  live-editing/configs/OverlayConfigGenerator.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.html
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.scss
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.ts
Labels: ig-overlay, status: verified

#1311 Fix navigation with URL select in the tabs routing samples
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.component.ts
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.ts
Labels: ig-bottom-nav, ig-tabs, status: verified

#1307 Add checkbox styling sample
  live-editing/configs/CheckboxConfigGenerator.ts
  src/app/data-entries/checkbox/checkbox-styling/checkbox-styling.component.html
  src/app/data-entries/checkbox/checkbox-styling/checkbox-styling.component.scss
  src/app/data-entries/checkbox/checkbox-styling/checkbox-styling.component.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
Labels: category-styling, ig-checkbox, status: verified

#1312 feat(combo): add combo overlay sample
  live-editing/configs/ComboConfigGenerator.ts
  src/app/lists/combo/combo-overlay/combo-overlay.component.html
  src/app/lists/combo/combo-overlay/combo-overlay.component.scss
  src/app/lists/combo/combo-overlay/combo-overlay.component.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
Labels: ig-combo, ig-overlay, status: verified

#1314 Fix TreeGrid batch editing stackblitz. #1313
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: ig-tree-grid, status: verified

#1295 Adds sample for Grid GroupBy w/ Paging
  live-editing/configs/GridConfigGenerator.ts
  src/app/data/invoiceData.ts
  src/app/grid/grid-group-by-paging-sample/grid-group-by-paging-sample.component.html
  src/app/grid/grid-group-by-paging-sample/grid-group-by-paging-sample.component.scss
  src/app/grid/grid-group-by-paging-sample/grid-group-by-paging-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: verified, version: 8.1.x

#1324 Removed unneeded ToastModule from ngImports. #1323
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: ig-tree-grid, status: verified

#1308 Add styling sample for button
  live-editing/configs/ButtonConfigGenerator.ts
  src/app/data-entries/buttons/buttons-style/buttons-style.component.html
  src/app/data-entries/buttons/buttons-style/buttons-style.component.scss
  src/app/data-entries/buttons/buttons-style/buttons-style.component.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
Labels: ig-button, status: verified

#1322 refactor(grid): change grid row edit theme sample
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.html
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.scss
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-edit-style/hierarchical-grid-row-edit-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-edit-style/hierarchical-grid-row-edit-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-row-edit-style/hierarchical-grid-row-edit-style.component.ts
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.html
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.scss
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1321 fix(grid): disable editing of button columns
  src/app/grid/grid-batch-editing/grid-batch-editing-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-batch-editing/hierarchical-grid-batch-editing.component.html
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.html
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.html
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified, version: 8.1.x

#1310 Fix issues regarding MRL configurator sample.
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.html
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.scss
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.ts
Labels: browser: ie-11, status: verified, version: 8.1.x

#1327 chore(*): update to 8.1.x official
  package-lock.json
  package.json
Labels: status: verified

#1325 fix(grid): wrong paginator margin
  src/app/grid/grid-editing-sample/grid-editing-sample.component.scss
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.scss
  src/app/grid/grid-moving-sample/grid-moving-sample.component.scss
  src/app/grid/grid-moving-sample/grid-moving-sample.component.ts
  src/app/grid/grid-moving-styled-sample/grid-moving-styled-sample.component.scss
  src/app/grid/grid-moving-styled-sample/grid-moving-styled-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-moving-styled/hierarchical-grid-moving-styled.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-moving/hierarchical-grid-moving.component.scss
  src/app/tree-grid/tree-grid-editing-style/tree-grid-editing-sample.component.scss
Labels: status: verified

#1330 Correctly bind cell in row edit
  src/app/grid/grid-row-editing-sample/grid-row-editing-sample.component.html
  src/app/grid/grid-row-editing-sample/grid-row-editing-sample.component.ts
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.html
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified, version: 8.1.x

#1336 Clear filtering on deleting input value in the template filter cell samples
  src/app/grid/grid-filtering-template-sample/grid-filtering-template-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.ts
  src/app/tree-grid/tree-grid-filtering-template-sample/tree-grid-filtering-template-sample.component.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1341 fixed zoomslider sample and replaced data source
  live-editing/configs/ZoomSliderConfigGenerator.ts
  src/app/charts/data-chart/SampleScatterStats.ts
  src/app/charts/zoomslider/zoomslider-overview/zoomslider-overview.component.html
  src/app/charts/zoomslider/zoomslider-overview/zoomslider-overview.component.scss
  src/app/charts/zoomslider/zoomslider-overview/zoomslider-overview.component.ts
  src/app/charts/zoomslider/zoomslider-samples.module.ts
Labels: status: in-review, team-xsharp

#1337 Add button group styling sample
  live-editing/configs/ButtonGroupConfigGenerator.ts
  src/app/data-entries/buttonGroup/button-group-style/button-group-style.component.html
  src/app/data-entries/buttonGroup/button-group-style/button-group-style.component.scss
  src/app/data-entries/buttonGroup/button-group-style/button-group-style.component.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
Labels: status: verified

#1338 Fix styles in the TreeGrid Child Summaries sample
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.html
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.scss
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.ts
Labels: ig-summaries, ig-tree-grid, status: verified

#1349 added SparklineGrid sample
  live-editing/configs/SparklineConfigGenerator.ts
  src/app/charts/charts-routes-data.ts
  src/app/charts/charts-routing.module.ts
  src/app/charts/sparkline/sparkline-grid/sparkline-grid.component.html
  src/app/charts/sparkline/sparkline-grid/sparkline-grid.component.scss
  src/app/charts/sparkline/sparkline-grid/sparkline-grid.component.ts
  src/app/charts/sparkline/sparkline-samples.module.ts
  src/app/utilities/Products.ts
Labels: status: in-review, team-xsharp

#1340 Set input type number for phone samples
  src/app/data-entries/input-group/input-group-sample-3/input-group-sample-3.component.html
  src/app/data-entries/input-group/input-group-sample-3/input-group-sample-3.component.ts
  src/app/data-entries/input-group/input-group-sample-4/input-group-sample-4.component.html
  src/app/data-entries/input-group/input-group-sample-4/input-group-sample-4.component.ts
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.html
  src/app/data-entries/radio/radio-group-sample/radio-group-sample.component.ts
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.html
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.ts
  src/app/layouts/expansion-panel/expansion-sample-6/expansion-sample-6.component.html
  src/app/layouts/expansion-panel/expansion-sample-6/expansion-sample-6.component.ts
  src/app/theming/display-density/display-density.component.html
  src/app/theming/display-density/display-density.component.ts
Labels: ig-expansion-panel, ig-input group, ig-radio, status: verified

#1344 Add combo checkboxes styling
  src/app/lists/combo/combo-styling/combo-styling.component.scss
Labels: category-styling, ig-combo, status: verified

#1326 Update transactions demo's styling
  live-editing/configs/TransactionsConfigGenerator.ts
  src/app/services/services.module.ts
  src/app/services/transaction/data.ts
  src/app/services/transaction/pipes/transaction-base.pipe.ts
  src/app/services/transaction/transaction-base/transaction-base.component.html
  src/app/services/transaction/transaction-base/transaction-base.component.scss
  src/app/services/transaction/transaction-base/transaction-base.component.ts
Labels: ig-transaction, status: verified

#1359 Add dialog styling sample
  live-editing/configs/DialogConfigGenerator.ts
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.html
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.scss
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
Labels: category-styling, status: verified
