Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2019-09, with the labels that each got.

#1435 Add Styling to Icon Samples
  live-editing/configs/IconConfigGenerator.ts
  src/app/data-display/data-display-routes-data.ts
  src/app/data-display/data-display-routing.module.ts
  src/app/data-display/data-display.module.ts
  src/app/data-display/icon/icon-styling-sample/icon-styling-sample.component.html
  src/app/data-display/icon/icon-styling-sample/icon-styling-sample.component.scss
  src/app/data-display/icon/icon-styling-sample/icon-styling-sample.component.ts
Labels: category-enhancement, category-styling, status: verified, version: 8.2.x

#1390 Add ESF Load On Demand samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-excel-style-filtering-load-on-demand/employees.ts
  src/app/grid/grid-excel-style-filtering-load-on-demand/grid-excel-style-filtering-load-on-demand.component.html
  src/app/grid/grid-excel-style-filtering-load-on-demand/grid-excel-style-filtering-load-on-demand.component.scss
  src/app/grid/grid-excel-style-filtering-load-on-demand/grid-excel-style-filtering-load-on-demand.component.ts
  src/app/grid/grid-excel-style-filtering-load-on-demand/remoteValues.service.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-load-on-demand/hierarchical-grid-excel-style-filtering-load-on-demand.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-load-on-demand/hierarchical-grid-excel-style-filtering-load-on-demand.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-load-on-demand/hierarchical-grid-excel-style-filtering-load-on-demand.component.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-load-on-demand/remoteValues.service.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-excel-style-filtering-load-on-demand/remoteValues.service.ts
  src/app/tree-grid/tree-grid-excel-style-filtering-load-on-demand/tree-grid-excel-style-filtering-load-on-demand.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-load-on-demand/tree-grid-excel-style-filtering-load-on-demand.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-load-on-demand/tree-grid-excel-style-filtering-load-on-demand.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified, version: 8.2.x

#1426 Fixes Bug within Chip Overview Sample
  src/app/data-display/chip/chip.component.ts
Labels: category-bug, ig-chip, status: verified, version: 8.2.x

#1448 Adding dragChannel/dropChannel to the Email sample
  src/app/interactions/drag-drop/email-sample/email-sample.component.html
  src/app/interactions/drag-drop/email-sample/email-sample.component.ts
Labels: ig-drag & drop, status: verified, version: 8.2.x

#1453 chore(*): update to igniteui-angular 8.2.0-beta.2
  package-lock.json
  package.json
Labels: status: verified

#1414 Mdd finjs adding chart options
  live-editing/configs/GridFinjsConfigGenerator.ts
  package-lock.json
  src/app/grid-finjs/grid-finjs-demo.component.html
  src/app/grid-finjs/grid-finjs-demo.component.ts
  src/app/grid-finjs/grid-finjs.module.ts
Labels: status: in-review, status: verified, team-xsharp, version: 8.2.x

#1450 Add sparkline column to grid demos
  src/app/grid-crm/grid-crm.module.ts
  src/app/grid-crm/grid-crm/grid-crm.component.html
  src/app/grid-crm/grid-crm/grid-crm.component.ts
  src/app/grid/grid-boston-marathon/grid.component.html
  src/app/grid/grid-boston-marathon/grid.component.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-column-resizing/hierarchical-grid-resizing.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-resizing/hierarchical-grid-resizing.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.html
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.ts
  src/app/tree-grid/tree-grid-primaryforeignkey-sample/tree-grid-primaryforeignkey-sample.component.html
  src/app/tree-grid/tree-grid-primaryforeignkey-sample/tree-grid-primaryforeignkey-sample.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#1452 Removing "eventArgs.cancel"
  src/app/grid/grid-row-drag-base/grid-row-drag-base.component.html
  src/app/grid/grid-row-drag-base/grid-row-drag-base.component.ts
  src/app/grid/grid-row-drag-to-grid/grid-row-drag-to-grid.component.html
  src/app/grid/grid-row-drag-to-grid/grid-row-drag-to-grid.component.ts
  src/app/grid/grid-row-drag/grid-row-drag.component.html
  src/app/grid/grid-row-drag/grid-row-drag.component.ts
  src/app/grid/grid-row-reorder-sample/grid-row-reorder.html
  src/app/grid/grid-row-reorder-sample/grid-row-reorder.ts
  src/app/hierarchical-grid/hierarchical-grid-row-drag-base/hierarchical-row-drag-base.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-drag-base/hierarchical-row-drag-base.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-drag/hierarchical-grid-row-drag.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-drag/hierarchical-grid-row-drag.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.ts
  src/app/tree-grid/tree-grid-row-drag-base/tree-grid-row-drag-base.component.html
  src/app/tree-grid/tree-grid-row-drag-base/tree-grid-row-drag-base.component.ts
  src/app/tree-grid/tree-grid-row-drag/tree-grid-row-drag.component.html
  src/app/tree-grid/tree-grid-row-drag/tree-grid-row-drag.component.ts
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.html
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.ts
Labels: ig-row-drag, status: verified

#1449 feat(combo): add combo binding example
  live-editing/configs/ComboConfigGenerator.ts
  src/app/lists/combo/combo-binding/cities.ts
  src/app/lists/combo/combo-binding/combo-binding.component.html
  src/app/lists/combo/combo-binding/combo-binding.component.scss
  src/app/lists/combo/combo-binding/combo-binding.component.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
Labels: ig-combo, status: verified

#1462 Add sparkline column to grid demos
  live-editing/configs/GridCRMConfigGenerator.ts
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid-crm/grid-crm.module.ts
  src/app/grid-crm/grid-crm/grid-crm.component.html
  src/app/grid-crm/grid-crm/grid-crm.component.ts
  src/app/grid/grid-boston-marathon/grid.component.html
  src/app/grid/grid-boston-marathon/grid.component.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-column-resizing/hierarchical-grid-resizing.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-resizing/hierarchical-grid-resizing.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.html
  src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.ts
  src/app/tree-grid/tree-grid-primaryforeignkey-sample/tree-grid-primaryforeignkey-sample.component.html
  src/app/tree-grid/tree-grid-primaryforeignkey-sample/tree-grid-primaryforeignkey-sample.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#1368 Add row selectors template samples for all grids
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-moving-sample/grid-moving-sample.component.ts
  src/app/grid/grid-moving-styled-sample/grid-moving-styled-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-sample-selection-template-excel/grid-sample-selection-template-excel.component.html
  src/app/grid/grid-sample-selection-template-excel/grid-sample-selection-template-excel.component.scss
  src/app/grid/grid-sample-selection-template-excel/grid-sample-selection-template-excel.component.ts
  src/app/grid/grid-sample-selection-template-numbers/grid-sample-selection-template-numbers.component.html
  src/app/grid/grid-sample-selection-template-numbers/grid-sample-selection-template-numbers.component.scss
  src/app/grid/grid-sample-selection-template-numbers/grid-sample-selection-template-numbers.component.ts
  src/app/grid/grid-sample-selection/financialData.ts
  src/app/grid/grid-sample-selection/grid-selection.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-selection-template-numbers/hierarchical-grid-selection-template-numbers.component.html
  src/app/hierarchical-grid/hierarchical-grid-selection-template-numbers/hierarchical-grid-selection-template-numbers.component.scss
  src/app/hierarchical-grid/hierarchical-grid-selection-template-numbers/hierarchical-grid-selection-template-numbers.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-selection-template-numbers/tree-grid-selection-template-numbers.component.html
  src/app/tree-grid/tree-grid-selection-template-numbers/tree-grid-selection-template-numbers.component.scss
  src/app/tree-grid/tree-grid-selection-template-numbers/tree-grid-selection-template-numbers.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, status: verified, version: 8.2.x

#1439 Add conditionally disabled rows - grids samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.html
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.scss
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.html
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.scss
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.html
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.scss
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified, version: 8.2.x

#1464 Add sparkline modules to config generators
  live-editing/configs/GridCRMConfigGenerator.ts
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid-crm/grid-crm/grid-crm.component.html
Labels: category-StackBlitz, status: verified

#1473 Adding category chart for FinJS demo (master)
  src/app/grid-finjs/grid-finjs-demo.component.html
  src/app/grid-finjs/grid-finjs-demo.component.scss
  src/app/grid-finjs/grid-finjs-demo.component.ts
  src/app/grid-finjs/grid-finjs.module.ts
Labels: status: verified

#1474 Update to 8.2.0-beta.5
  package-lock.json
  package.json
Labels: status: verified

#1467 fix(card): fix horizontal cad sample in IE11
  src/app/layouts/card/card-sample-2/card-sample-2.component.html
  src/app/layouts/card/card-sample-2/card-sample-2.component.scss
Labels: status: verified, version: 8.2.x

#1475 Add data chart to tree grid finjs
  src/app/grid-finjs/grid-finjs-demo.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
  src/app/treegrid-finjs/treegrid-finjs.module.ts
Labels: status: verified

#1477 Adding missing modules and change set iteration approach
  live-editing/configs/GridFinjsConfigGenerator.ts
  live-editing/configs/TreeGridFinjsConfigGenerator.ts
  src/app/grid-finjs/grid-finjs-demo.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: status: verified

#1478 Update to beta.6
  package-lock.json
  package.json
Labels: status: verified

#1466 Grid Advanced Filtering Samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-advanced-filtering-sample/grid-advanced-filtering-sample.component.html
  src/app/grid/grid-advanced-filtering-sample/grid-advanced-filtering-sample.component.scss
  src/app/grid/grid-advanced-filtering-sample/grid-advanced-filtering-sample.component.ts
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.html
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.scss
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering-style/hierarchical-grid-advanced-filtering-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering-style/hierarchical-grid-advanced-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering-style/hierarchical-grid-advanced-filtering-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.component.html
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.component.scss
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.component.ts
  src/app/hierarchical-grid/hierarchical-grid-filtering/hierarchical-grid-filtering.component.html
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-advanced-filtering-sample/tree-grid-advanced-filtering-sample.component.html
  src/app/tree-grid/tree-grid-advanced-filtering-sample/tree-grid-advanced-filtering-sample.component.scss
  src/app/tree-grid/tree-grid-advanced-filtering-sample/tree-grid-advanced-filtering-sample.component.ts
  src/app/tree-grid/tree-grid-advanced-filtering-style/tree-grid-advanced-filtering-style.component.html
  src/app/tree-grid/tree-grid-advanced-filtering-style/tree-grid-advanced-filtering-style.component.scss
  src/app/tree-grid/tree-grid-advanced-filtering-style/tree-grid-advanced-filtering-style.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified, version: 8.2.x

#1456 Add multicalendar sample
  live-editing/configs/CalendarConfigGenerator.ts
  src/app/layouts/card/card-sample-2/card-sample-2.component.html
  src/app/scheduling/calendar/multiview/multiview.component.html
  src/app/scheduling/calendar/multiview/multiview.component.scss
  src/app/scheduling/calendar/multiview/multiview.component.ts
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.html
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: status: verified, version: 8.2.x

#1487 Update to 8.2.0-rc.0
  package-lock.json
  package.json
Labels: status: verified

#1488 fix(combo): fix combo binding sample generator
  live-editing/configs/ComboConfigGenerator.ts
Labels: category-StackBlitz, ig-combo, status: in-test

#1465 Add badge styling sample
  live-editing/configs/BadgeConfigGenerator.ts
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.html
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.scss
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.ts
  src/app/data-display/data-display-routes-data.ts
  src/app/data-display/data-display-routing.module.ts
  src/app/data-display/data-display.module.ts
Labels: status: verified

#1469 Add circular progress bar styling sample
  live-editing/configs/CircularProgressbarConfigGenerator.ts
  src/app/data-display/circular-progressbar/circular-indeterminate-progressbar/circular-indeterminate-progressbar.component.ts
  src/app/data-display/circular-progressbar/circular-styling-sample/circular-styling-sample.component.html
  src/app/data-display/circular-progressbar/circular-styling-sample/circular-styling-sample.component.scss
  src/app/data-display/circular-progressbar/circular-styling-sample/circular-styling-sample.component.ts
  src/app/data-display/data-display-routes-data.ts
  src/app/data-display/data-display-routing.module.ts
  src/app/data-display/data-display.module.ts
Labels: category-styling, status: verified

#1489 Update conditional row selectors samples and row numbering samples styles
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.html
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.scss
  src/app/grid/grid-sample-selection-template-numbers/grid-sample-selection-template-numbers.component.scss
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.html
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.scss
  src/app/hierarchical-grid/hierarchical-grid-selection-template-numbers/hierarchical-grid-selection-template-numbers.component.scss
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.html
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.scss
  src/app/tree-grid/tree-grid-selection-template-numbers/tree-grid-selection-template-numbers.component.scss
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified

#1471 Add linear progress bar styling sample
  live-editing/configs/LinearProgressbarConfigGenerator.ts
  src/app/data-display/data-display-routes-data.ts
  src/app/data-display/data-display-routing.module.ts
  src/app/data-display/data-display.module.ts
  src/app/data-display/linear-progressbar/linear-progressbar-sample-1/linear-progressbar-sample-1.component.ts
  src/app/data-display/linear-progressbar/linear-progressbar-sample-2/linear-progressbar-sample-2.component.html
  src/app/data-display/linear-progressbar/linear-progressbar-styling-sample/linear-progressbar-styling-sample.component.html
  src/app/data-display/linear-progressbar/linear-progressbar-styling-sample/linear-progressbar-styling-sample.component.scss
  src/app/data-display/linear-progressbar/linear-progressbar-styling-sample/linear-progressbar-styling-sample.component.ts
  src/app/data-display/linear-progressbar/linear-progressbar.component.ts
Labels: category-styling, status: verified

#1491 Fix the names of Excel Style filtering template directives
  src/app/grid/grid-excel-style-filtering-sample-3/grid-excel-style-filtering-sample-3.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-3/hierarchical-grid-excel-style-filtering-sample-3.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-3/tree-grid-excel-style-filtering-sample-3.component.html
Labels: ig-grid, ig-hierarchical-grid, ig-tree-grid, status: verified, version: 8.2.x

#1496 chore(*): update igniteui-angular to 8.2.0
  package-lock.json
  package.json
  src/app/grid-finjs/grid-finjs-demo.component.html
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
Labels: status: verified, version: 8.2.x

#1495 Put treegrid in component with transactions
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.html
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.ts
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-with-transactions.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: ig-tree-grid, status: verified, version: 8.2.x
