Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2019-05, with the labels that each got.

#1134 Updating to version 7.2.7
  package-lock.json
  package.json
Labels: status: verified

#1130 Update Excel style filtering samples with display density
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-excel-style-filtering-sample-1/grid-excel-style-filtering-sample-1.component.html
  src/app/grid/grid-excel-style-filtering-sample-1/grid-excel-style-filtering-sample-1.component.scss
  src/app/grid/grid-excel-style-filtering-sample-1/grid-excel-style-filtering-sample-1.component.ts
  src/app/grid/grid-excel-style-filtering-sample-2/grid-excel-style-filtering-sample-2.component.scss
  src/app/grid/grid-excel-style-filtering-sample-3/grid-excel-style-filtering-sample-3.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/hierarchical-grid-excel-style-filtering-sample-1.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/hierarchical-grid-excel-style-filtering-sample-1.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/hierarchical-grid-excel-style-filtering-sample-1.component.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/hierarchical-grid-excel-style-filtering-sample-2.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/hierarchical-grid-excel-style-filtering-sample-2.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-3/hierarchical-grid-excel-style-filtering-sample-3.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-3/hierarchical-grid-excel-style-filtering-sample-3.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.ts
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-2/tree-grid-excel-style-filtering-sample-2.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-3/tree-grid-excel-style-filtering-sample-3.component.scss
Labels: grid, hierarchical-grid, status: verified, tree-grid

#1135 update to 7.3.0.beta.1
  package-lock.json
  package.json
Labels: status: verified

#1110 Add button sample with display density
  live-editing/configs/ButtonConfigGenerator.ts
  src/app/data-entries/buttons/buttons-display-density/buttons-display-density.component.html
  src/app/data-entries/buttons/buttons-display-density/buttons-display-density.component.scss
  src/app/data-entries/buttons/buttons-display-density/buttons-display-density.component.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
Labels: button, status: verified

#1097 Update list sample with display density
  live-editing/configs/ListConfigGenerator.ts
  src/app/lists/list/list-sample-4/list-sample-4.component.html
  src/app/lists/list/list-sample-4/list-sample-4.component.scss
  src/app/lists/list/list-sample-4/list-sample-4.component.ts
  src/app/lists/lists.module.ts
Labels: list, status: verified

#1129 Add TreeGrid load on demand sample
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/tree-grid/tree-grid-load-on-demand-sample/remoteService.ts
  src/app/tree-grid/tree-grid-load-on-demand-sample/tree-grid-load-on-demand-sample.component.html
  src/app/tree-grid/tree-grid-load-on-demand-sample/tree-grid-load-on-demand-sample.component.scss
  src/app/tree-grid/tree-grid-load-on-demand-sample/tree-grid-load-on-demand-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified, tree-grid

#1102 docs(drop-down): add virtual drop-down sample
  live-editing/configs/DropDownConfigGenerator.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/dropdown/drop-down-remote-virtual/drop-down-remote.component.html
  src/app/data-entries/dropdown/drop-down-remote-virtual/drop-down-remote.component.scss
  src/app/data-entries/dropdown/drop-down-remote-virtual/drop-down-remote.component.ts
  src/app/data-entries/dropdown/drop-down-virtual/drop-down-virtual.component.html
  src/app/data-entries/dropdown/drop-down-virtual/drop-down-virtual.component.scss
  src/app/data-entries/dropdown/drop-down-virtual/drop-down-virtual.component.ts
  src/app/lists/combo/combo-remote/combo-remote.component.ts
Labels: dropdown, status: verified, version: 7.2.x

#1136 Modify selection samples for grid and treegrid so columns are not cut
  src/app/grid/grid-multi-cell-selection/grid-multi-cell-selection.component.html
  src/app/grid/grid-multi-cell-selection/grid-multi-cell-selection.component.scss
  src/app/tree-grid/tree-grid-multi-cell-selection/tree-grid-multi-cell-selection.component.html
  src/app/tree-grid/tree-grid-multi-cell-selection/tree-grid-multi-cell-selection.component.scss
Labels: grid, status: verified, tree-grid

#1142 rc1 update
  package-lock.json
  package.json
Labels: status: verified

#1128 Add row drag initial samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-row-drag-to-grid/data.ts
  src/app/grid/grid-row-drag-to-grid/grid-row-drag-to-grid.component.html
  src/app/grid/grid-row-drag-to-grid/grid-row-drag-to-grid.component.scss
  src/app/grid/grid-row-drag-to-grid/grid-row-drag-to-grid.component.ts
  src/app/grid/grid-row-drag/data.ts
  src/app/grid/grid-row-drag/grid-row-drag.component.html
  src/app/grid/grid-row-drag/grid-row-drag.component.scss
  src/app/grid/grid-row-drag/grid-row-drag.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-row-drag/files.data.ts
  src/app/hierarchical-grid/hierarchical-grid-row-drag/hierarchical-grid-row-drag.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-drag/hierarchical-grid-row-drag.component.scss
  src/app/hierarchical-grid/hierarchical-grid-row-drag/hierarchical-grid-row-drag.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-row-drag/tree-grid-row-drag.component.html
  src/app/tree-grid/tree-grid-row-drag/tree-grid-row-drag.component.scss
  src/app/tree-grid/tree-grid-row-drag/tree-grid-row-drag.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: grid, hierarchical-grid, row-drag, status: verified, tree-grid, version: 7.3.x

#1138 Adding Multi Row Layout sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/data/customers.ts
  src/app/grid/grid-multi-row-layout/grid-multi-row-layout.component.html
  src/app/grid/grid-multi-row-layout/grid-multi-row-layout.component.scss
  src/app/grid/grid-multi-row-layout/grid-multi-row-layout.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: grid, status: verified

#1139 fixed button/sliders in charts
  src/app/charts/category-chart/high-frequency/category-chart-high-frequency-sample.component.html
  src/app/charts/category-chart/high-frequency/category-chart-high-frequency-sample.component.scss
  src/app/charts/category-chart/high-frequency/category-chart-high-frequency-sample.component.ts
  src/app/charts/financial-chart/financial-chart-samples.module.ts
  src/app/charts/financial-chart/high-frequency/financial-chart-high-frequency.component.html
  src/app/charts/financial-chart/high-frequency/financial-chart-high-frequency.component.scss
  src/app/charts/financial-chart/high-frequency/financial-chart-high-frequency.component.ts
Labels: status: in-review

#933 Sample demonstrating how to save and load the igxGrid state
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/core/Config.ts
  live-editing/generators/SampleAssetsGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-save-state/about.component.html
  src/app/grid/grid-save-state/about.component.ts
  src/app/grid/grid-save-state/grid-state.component.html
  src/app/grid/grid-save-state/grid-state.component.scss
  src/app/grid/grid-save-state/grid-state.component.ts
  src/app/grid/grid-save-state/localData.ts
  src/app/grid/grid-save-state/state.directive.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: verified

#1144 Sample demonstrating IgxGrid composite flat data binding
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-composite-data-binding/grid-composite-data.component.html
  src/app/grid/grid-composite-data-binding/grid-composite-data.component.scss
  src/app/grid/grid-composite-data-binding/grid-composite-data.component.ts
  src/app/grid/grid-composite-data-binding/localData.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: grid, status: verified

#1153 Upgrade to 7.3.0
  package-lock.json
  package.json
Labels: status: verified

#1147 Sample for demonstrating how to bind nested data with IgxGrid
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-nested-data-binding/grid-nested-data-bind.html
  src/app/grid/grid-nested-data-binding/grid-nested-data-bind.scss
  src/app/grid/grid-nested-data-binding/grid-nested-data-bind.ts
  src/app/grid/grid-nested-data-binding/nestedData.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: verified

#1162 Update to 7.3.1-beta.0
  package-lock.json
  package.json
Labels: status: in-test

#1161 Add single sort option for IgxGrid sorting sample and remove GridContextMenu component
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-sorting-sample/grid-contextmenu/grid-contextmenu.component.html
  src/app/grid/grid-sorting-sample/grid-contextmenu/grid-contextmenu.component.scss
  src/app/grid/grid-sorting-sample/grid-contextmenu/grid-contextmenu.component.ts
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.html
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.scss
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.ts
  src/app/grid/grid-sorting-sample/localData.ts
  src/app/grid/grid-sorting-sample/nwindData.ts
  src/app/grid/grids.module.ts
Labels: status: verified

#1115 Fixing filtering in the child grids in Filtering Template HGrid sample
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.html
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.ts
Labels: hierarchical-grid, status: verified

#1165 Set display density and use ExcelStyleFiltering on the finjs demos
  src/app/grid-finjs/grid-finjs-demo.component.html
  src/app/grid-finjs/grid-finjs-demo.component.scss
  src/app/grid-finjs/grid-finjs-demo.component.ts
  src/app/index/index.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
  src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: status: verified

#1148 Adding grid custom kb navigation sample
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  package-lock.json
  src/app/grid/grid-custom-kb-navigation/grid-custom-kb-navigation-sample.component.html
  src/app/grid/grid-custom-kb-navigation/grid-custom-kb-navigation-sample.component.scss
  src/app/grid/grid-custom-kb-navigation/grid-custom-kb-navigation-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.scss
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-keyboard-navigation/tree-grid-keyboard-navigation-sample.component.html
  src/app/tree-grid/tree-grid-keyboard-navigation/tree-grid-keyboard-navigation-sample.component.scss
  src/app/tree-grid/tree-grid-keyboard-navigation/tree-grid-keyboard-navigation-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#1167 Update version to 7.3.1
  package-lock.json
  package.json
Labels: status: verified

#1159 Add new row drag sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-row-drag/data.ts
  src/app/grid/grid-row-drag/grid-row-drag.component.html
  src/app/grid/grid-row-drag/grid-row-drag.component.scss
  src/app/grid/grid-row-drag/grid-row-drag.component.ts
  src/app/grid/grid-row-drag/planet/planet.component.html
  src/app/grid/grid-row-drag/planet/planet.component.scss
  src/app/grid/grid-row-drag/planet/planet.component.ts
  src/app/grid/grids.module.ts
Labels: grid, row-drag, status: verified, version: 7.3.x

#1160 Add sample with DisplayDensity for the IgxButtonGroup
  live-editing/configs/ButtonGroupConfigGenerator.ts
  src/app/data-entries/buttonGroup/button-group-sample-5/button-group-sample-5.component.html
  src/app/data-entries/buttonGroup/button-group-sample-5/button-group-sample-5.component.scss
  src/app/data-entries/buttonGroup/button-group-sample-5/button-group-sample-5.component.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
Labels: button, status: verified

#1163 Increase the height of the grid so that the filter dialog can fit it
  src/app/grid/grid-multi-row-layout/grid-multi-row-layout.component.html
  src/app/grid/grid-multi-row-layout/grid-multi-row-layout.component.ts
Labels: grid, status: verified

#1150 time picker: add dropdown retemplate sample
  live-editing/configs/TimePickerConfigGenerator.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.html
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.scss
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.ts
Labels: status: verified, time picker
