Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2019-03, with the labels that each got.

#1005 FIX CRM STYLE ISSUES
  src/app/grid-crm/grid-crm/grid-crm.component.scss
  src/app/grid-crm/grid-crm/grid-crm.component.ts
  src/styles.scss
Labels: bug, status: verified, toolbar, version: 7.2.x

#1011 Update tree-grid-editing sample with new add buttons
  src/app/tree-grid/tree-grid-editing-sample/tree-grid-editing-sample.component.html
  src/app/tree-grid/tree-grid-editing-sample/tree-grid-editing-sample.component.scss
Labels: status: verified, tree-grid

#994 Autocomplete StackBlitz and samples data
  live-editing/configs/AutocompleteConfigGenerator.ts
  src/app/data-entries/autocomplete/autocomplete-remote/autocomplete-remote.component.html
  src/app/data-entries/autocomplete/autocomplete-remote/autocomplete-remote.component.ts
  src/app/data-entries/autocomplete/movie/movie.component.html
  src/app/data-entries/autocomplete/movie/movie.component.scss
  src/app/data-entries/autocomplete/movie/movie.component.ts
Labels: StackBlitz, autocomplete, status: verified, version: 7.2.x

#1025 Removing redundant outlet setting
  src/app/theming/theme-chooser/theme-chooser-sample.component.ts
Labels: status: verified

#996 chore(overlay): fix scroll strategy sample styles
  src/app/interactions/overlay/overlay-scroll-1/overlay-scroll-sample-1.component.scss
  src/app/interactions/overlay/overlay-scroll-2/overlay-scroll-sample-2.component.scss
Labels: overlay, status: verified, version: 7.2.x

#1014 Add samples for Excel Style Filtering
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-excel-style-filtering-sample-1/grid-excel-style-filtering-sample-1.component.html
  src/app/grid/grid-excel-style-filtering-sample-1/grid-excel-style-filtering-sample-1.component.scss
  src/app/grid/grid-excel-style-filtering-sample-1/grid-excel-style-filtering-sample-1.component.ts
  src/app/grid/grid-excel-style-filtering-sample-1/nwindData.ts
  src/app/grid/grid-excel-style-filtering-sample-2/grid-excel-style-filtering-sample-2.component.html
  src/app/grid/grid-excel-style-filtering-sample-2/grid-excel-style-filtering-sample-2.component.scss
  src/app/grid/grid-excel-style-filtering-sample-2/grid-excel-style-filtering-sample-2.component.ts
  src/app/grid/grid-excel-style-filtering-sample-2/nwindData.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/data.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/hierarchical-grid-excel-style-filtering-sample-1.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/hierarchical-grid-excel-style-filtering-sample-1.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/hierarchical-grid-excel-style-filtering-sample-1.component.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/data.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/hierarchical-grid-excel-style-filtering-sample-2.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/hierarchical-grid-excel-style-filtering-sample-2.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/hierarchical-grid-excel-style-filtering-sample-2.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.ts
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-2/tree-grid-excel-style-filtering-sample-2.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-2/tree-grid-excel-style-filtering-sample-2.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-2/tree-grid-excel-style-filtering-sample-2.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: grid, status: verified

#1031 chore(*): Updating packages to RC2
  package-lock.json
  package.json
  src/app/data-entries/autocomplete/movie/movie.component.html
  src/app/data-entries/autocomplete/movie/movie.component.ts
  src/app/scheduling/timepicker/timepicker-dropdown/timepicker-dropdown.component.ts
Labels: status: verified, version: 7.2.x

#1029 fix(dropdown): update samples to use igxToggleAction, cleanup CSS
  live-editing/configs/DropDownConfigGenerator.ts
  src/app/data-entries/dropdown/dropdown-menu/dropdown-menu.component.html
  src/app/data-entries/dropdown/dropdown-menu/dropdown-menu.component.scss
  src/app/data-entries/dropdown/dropdown-menu/dropdown-menu.component.ts
  src/app/data-entries/dropdown/dropdown-sample-1/dropdown-sample-1.component.html
  src/app/data-entries/dropdown/dropdown-sample-1/dropdown-sample-1.component.ts
  src/app/data-entries/dropdown/dropdown-sample-2/dropdown-sample-2.component.html
  src/app/data-entries/dropdown/dropdown-sample-2/dropdown-sample-2.component.ts
  src/app/data-entries/dropdown/dropdown-sample-3/dropdown-sample-3.component.html
  src/app/data-entries/dropdown/dropdown-sample-3/dropdown-sample-3.component.scss
  src/app/data-entries/dropdown/dropdown-sample-3/dropdown-sample-3.component.ts
  src/app/data-entries/dropdown/dropdown-sample-4/dropdown-sample-4.component.html
  src/app/data-entries/dropdown/dropdown-sample-4/dropdown-sample-4.component.ts
  src/app/data-entries/dropdown/dropdown-sample-5/dropdown-sample-5.component.html
  src/app/data-entries/dropdown/dropdown-sample-5/dropdown-sample-5.component.scss
  src/app/data-entries/dropdown/dropdown-sample-5/dropdown-sample-5.component.ts
Labels: dropdown, status: verified, version: 7.2.x

#990 Update overlay samples with attach function
  src/app/interactions/overlay/overlay-main-1/overlay-main-sample-1.component.ts
  src/app/interactions/overlay/overlay-main-2/overlay-main-sample-2.component.ts
  src/app/interactions/overlay/overlay-main-3/overlay-main-sample-3.component.ts
  src/app/interactions/overlay/overlay-positioning-1/overlay-position-sample-1.component.ts
  src/app/interactions/overlay/overlay-positioning-2/overlay-position-sample-2.component.ts
  src/app/interactions/overlay/overlay-scroll-1/overlay-scroll-sample-1.component.ts
  src/app/interactions/overlay/overlay-scroll-2/overlay-scroll-sample-2.component.html
  src/app/interactions/overlay/overlay-scroll-2/overlay-scroll-sample-2.component.ts
  src/app/theming/theme-chooser/theme-chooser-sample.component.ts
Labels: overlay, status: verified, version: 7.2.x

#1021 Added loader indicator for remote grid samples.
  src/app/grid/grid-remote-filtering-sample/remote-filtering-sample.component.ts
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.ts
  src/app/grid/grid-sample-4/grid-sample-4.component.ts
Labels: grid, status: verified

#1030 Added dataType for the LaunchDate column, so the data is formatted
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.html
Labels: status: verified

#1019 Fixing scroll position igxGrid Paste From Excel sample
  src/app/grid/grid-paste/grid-paste-sample.component.html
  src/app/grid/grid-paste/grid-paste-sample.component.ts
Labels: grid, status: verified

#1036 Add error handling for remote load on demand and paging samples for Hierarchical Grid.
  src/app/hierarchical-grid/hierarchical-grid-lod/hierarchical-grid-lod.component.ts
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#860 Fix ripple positioning on the arrow button for the dropdown sample
  src/app/data-entries/dropdown/dropdown-sample-4/dropdown-sample-4.component.scss
Labels: dropdown, status: verified

#1027 Fix samples input group and reactive form styling
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.html
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.scss
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.html
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.scss
Labels: input group, status: verified, version: 7.2.x

#1023 Improve cell template with igxInput for better UX
  src/app/grid/grid-row-editing-sample/grid-row-editing-sample.component.html
Labels: grid, status: verified, version: 7.2.x

#1044 Updating to igniteui-angular 7.2.0-rc.4
  package-lock.json
  package.json
Labels: status: verified

#1039 Fix rich tooltip image sizing
  src/app/interactions/tooltip/tooltip-rich/tooltip-rich.component.scss
Labels: status: verified, tooltip

#1020 fix(date-picker): Renamed mode values #4143
  src/app/data-entries/autocomplete/movie/movie.component.html
  src/app/data-entries/autocomplete/movie/movie.component.ts
  src/app/scheduling/datepicker/datepicker-dropdown/datepicker-dropdown.component.html
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.html
  src/app/scheduling/timepicker/timepicker-dropdown/timepicker-dropdown.component.html
Labels: date picker, status: verified, time picker

#1016 docs(month-picker): Samples for month picker #3947
  live-editing/configs/MonthPickerConfigGenerator.ts
  live-editing/generators/ConfigGenerators.ts
  src/app/scheduling/datepicker/datepicker-dropdown/datepicker-dropdown.component.html
  src/app/scheduling/monthpicker/monthpicker-sample-1/monthpicker-sample-1.component.html
  src/app/scheduling/monthpicker/monthpicker-sample-1/monthpicker-sample-1.component.scss
  src/app/scheduling/monthpicker/monthpicker-sample-1/monthpicker-sample-1.component.ts
  src/app/scheduling/monthpicker/monthpicker-sample-2/monthpicker-sample-2.component.html
  src/app/scheduling/monthpicker/monthpicker-sample-2/monthpicker-sample-2.component.scss
  src/app/scheduling/monthpicker/monthpicker-sample-2/monthpicker-sample-2.component.ts
  src/app/scheduling/monthpicker/monthpicker-sample-3/monthpicker-sample-3.component.html
  src/app/scheduling/monthpicker/monthpicker-sample-3/monthpicker-sample-3.component.scss
  src/app/scheduling/monthpicker/monthpicker-sample-3/monthpicker-sample-3.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: status: verified, version: 7.2.x

#1012 Updated the assets usage in the live editing docs
  live-editing/README.md
Labels: status: verified

#1043 Change page size for Hierarhical GHrid Paging sample to mach currently the valid values.
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-paging.component.html
Labels: hierarchical-grid, status: verified, version: 7.2.x

#1042 Add toolbar to ESF samples
  src/app/grid/grid-excel-style-filtering-sample-1/grid-excel-style-filtering-sample-1.component.html
  src/app/grid/grid-excel-style-filtering-sample-2/grid-excel-style-filtering-sample-2.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/hierarchical-grid-excel-style-filtering-sample-1.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/hierarchical-grid-excel-style-filtering-sample-2.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-2/tree-grid-excel-style-filtering-sample-2.component.html
Labels: enhancement, status: verified

#856 Adding schemas usage to the theme chooser sample.
  live-editing/configs/ThemingConfigGenerator.ts
  src/app/theming/styles/schemas.scss
  src/app/theming/styles/theme-classes.scss
  src/app/theming/styles/themes.scss
  src/app/theming/theme-chooser/theme-chooser-sample.component.html
  src/app/theming/theme-chooser/theme-chooser-sample.component.ts
Labels: grid, status: verified, styling

#1008 Add web.config for SVG assets
  src/assets/images/svg/web.config
Labels: StackBlitz, icon, status: verified

#1045 Adjust input group samples margins
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.scss
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.scss
Labels: input group, select, status: verified, version: 7.2.x

#942 refactor(buttons): add outlined button samples
  src/app/data-entries/buttons/buttons-sample-1/buttons-sample-1.component.html
  src/app/data-entries/buttons/buttons-sample-1/buttons-sample-1.component.scss
  src/app/data-entries/buttons/buttons-sample-8/buttons-sample-8.component.html
  src/app/data-entries/buttons/buttons-sample-8/buttons-sample-8.component.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
Labels: button, status: verified, version: 7.2.x

#1052 Upgrade to 7.2.0
  package-lock.json
  package.json
  src/styles.scss
Labels: build, status: verified

#1050 Set editable for ProductKey columns to false
  src/app/hierarchical-grid/hierarchical-grid-batch-editing/hierarchical-grid-batch-editing.component.html
Labels: status: verified

#1051 docs(calendar): Added a sample for new views #3855
  live-editing/configs/CalendarConfigGenerator.ts
  src/app/scheduling/calendar/calendar-views/calendar-views.component.html
  src/app/scheduling/calendar/calendar-views/calendar-views.component.scss
  src/app/scheduling/calendar/calendar-views/calendar-views.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: calendar, status: verified

#925 Samples for shadows and roundenss
  src/app/data-entries/buttons/buttons-roundness-sample/buttons-roundness-sample.html
  src/app/data-entries/buttons/buttons-roundness-sample/buttons-roundness-sample.scss
  src/app/data-entries/buttons/buttons-roundness-sample/buttons-roundness-sample.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/theming/shadows/card-sample-shadow/card-sample-shadow.html
  src/app/theming/shadows/card-sample-shadow/card-sample-shadow.scss
  src/app/theming/shadows/card-sample-shadow/card-sample-shadow.ts
  src/app/theming/theming-routes-data.ts
  src/app/theming/theming-routing.module.ts
  src/app/theming/theming.module.ts
Labels: status: verified, styling, theming, version: 7.2.x

#1055 Changing the Date format in the data files
  src/app/hierarchical-grid/data.json
  src/app/hierarchical-grid/data.ts
  src/app/hierarchical-grid/hierarchical-grid-editing/data.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-1/data.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-2/data.ts
  src/app/hierarchical-grid/hierarchical-grid-filtering/data.ts
  src/app/hierarchical-grid/hierarchical-grid-row-editing/data.ts
Labels: hierarchical-grid, status: verified, version: 7.2.x

#1057 Making export button an igxButton in Grid Export Excel sample
  live-editing/configs/ExportExcelConfigGenerator.ts
  src/app/services/export-excel/excel-export-sample-1/excel-export-sample-1.component.html
Labels: grid, status: verified

#1060 Fix stackblitz samples for shadow and roundness
  live-editing/configs/ButtonConfigGenerator.ts
  live-editing/configs/ThemingConfigGenerator.ts
  src/app/data-entries/buttons/buttons-roundness-sample/buttons-roundness-sample.html
  src/app/data-entries/buttons/buttons-roundness-sample/buttons-roundness-sample.scss
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/theming/shadows/card-sample-shadow/card-sample-shadow.scss
  src/app/theming/shadows/card-sample-shadow/card-sample-shadow.ts
  src/app/theming/theming-routes-data.ts
  src/app/theming/theming-routing.module.ts
  src/app/theming/theming.module.ts
Labels: StackBlitz, status: verified

#1067 Update version to 7.2.1
  live-editing/LiveEditingManager.ts
  package-lock.json
  package.json
Labels: status: verified

#1054 Replace drop down with select in cascading scenario sample
  live-editing/configs/ComboConfigGenerator.ts
  src/app/lists/combo/cascading-combos/cascading-combos.component.html
  src/app/lists/combo/cascading-combos/cascading-combos.component.scss
  src/app/lists/combo/cascading-combos/cascading-combos.component.ts
  src/app/lists/lists.module.ts
Labels: combo, select, status: verified, version: 7.2.x

#1070 Add Tree Grid Remote Filtering sample
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/tree-grid/services/remoteFilteringService.ts
  src/app/tree-grid/tree-grid-remote-filtering-sample/tree-grid-remote-filtering-sample.component.html
  src/app/tree-grid/tree-grid-remote-filtering-sample/tree-grid-remote-filtering-sample.component.scss
  src/app/tree-grid/tree-grid-remote-filtering-sample/tree-grid-remote-filtering-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified, tree-grid

#1073 Update to Version 7.2.2
  package-lock.json
  package.json
Labels: status: verified

#1072 docs(dialog): Added a sample for re-templating title and actions
  live-editing/configs/DialogConfigGenerator.ts
  src/app/interactions/dialog/custom-dialog/custom-dialog.component.html
  src/app/interactions/dialog/custom-dialog/custom-dialog.component.scss
  src/app/interactions/dialog/custom-dialog/custom-dialog.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
Labels: dialog, status: verified, version: 7.2.x

#1076 docs(button-group): Reworked samples
  live-editing/configs/ButtonGroupConfigGenerator.ts
  src/app/data-entries/buttonGroup/button-group-sample-1/button-group-sample-1.component.html
  src/app/data-entries/buttonGroup/button-group-sample-1/button-group-sample-1.component.scss
  src/app/data-entries/buttonGroup/button-group-sample-1/button-group-sample-1.component.ts
  src/app/data-entries/buttonGroup/button-group-sample-2/button-group-sample-2.component.html
  src/app/data-entries/buttonGroup/button-group-sample-2/button-group-sample-2.component.ts
  src/app/data-entries/buttonGroup/button-group-sample-3/button-group-sample-3.component.html
  src/app/data-entries/buttonGroup/button-group-sample-3/button-group-sample-3.component.ts
  src/app/data-entries/buttonGroup/button-group-sample-4/button-group-sample.component.html
  src/app/data-entries/buttonGroup/button-group-sample-4/button-group-sample.component.scss
  src/app/data-entries/buttonGroup/button-group-sample-4/button-group-sample.component.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
Labels: status: verified, version: 7.2.x

#1069 Refactor and simplify HTML containers in some samples
  src/app/data-entries/autocomplete/movie/movie.component.html
  src/app/data-entries/autocomplete/movie/movie.component.scss
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.html
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.scss
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.html
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.scss
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.ts
  src/app/lists/combo/cascading-combos/cascading-combos.component.html
  src/app/lists/combo/cascading-combos/cascading-combos.component.scss
  src/app/lists/combo/combo-features/combo-features.component.html
  src/app/lists/combo/combo-features/combo-features.component.scss
  src/app/lists/combo/combo-main/combo-main.component.html
  src/app/lists/combo/combo-main/combo-main.component.scss
  src/app/lists/combo/combo-remote/combo-remote.component.html
  src/app/lists/combo/combo-remote/combo-remote.component.scss
  src/app/lists/combo/combo-template/combo-template.component.html
  src/app/lists/combo/combo-template/combo-template.component.scss
Labels: autocomplete, combo, input group, refactoring, status: verified, version: 7.2.x
