Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2020-08, with the labels that each got.

#2156 style(button): add fab btn in buttons display density sample
  src/app/data-entries/buttons/buttons-display-density/buttons-display-density.component.html
Labels: button, enhancement, status: awaiting-test

#2161 refactor(button): add extended FAB in a sample
  src/app/data-entries/buttons/buttons-sample-6/buttons-sample-6.component.html
Labels: button, status: awaiting-test

#2155 Update igniteui-angular to 10.1.0-alpha.4 and Add Grid sorting indicators sample
  live-editing/configs/GridConfigGenerator.ts
  package-lock.json
  package.json
  src/app/data/utils.ts
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-sorting-indicators/grid-sorting-indicators.component.html
  src/app/grid/grid-sorting-indicators/grid-sorting-indicators.component.scss
  src/app/grid/grid-sorting-indicators/grid-sorting-indicators.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: verified

#2164 style(button): add extended fab btn in the display density sample
  src/app/data-entries/buttons/buttons-display-density/buttons-display-density.component.html
  src/app/data-entries/buttons/buttons-display-density/buttons-display-density.component.scss
Labels: button, enhancement, status: awaiting-test

#2162 Update the overlay styling sample
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.html
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.scss
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.ts
Labels: overlay, status: not-fixed, version: 10.1.x

#2163 Update the overlay styling sample
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.html
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.scss
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.ts
Labels: overlay, status: awaiting-test

#2148 Add a sample for grid external outlet
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.html
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.scss
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.scss
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.html
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.scss
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: grid, overlay, status: verified

#2167 chore: ng update igniteui-angular@10.1.0-alpha.5
  package-lock.json
  package.json
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.ts
  src/app/data-entries/input-group/base-input.component.ts
  src/app/grid/grid-multiple-row-drag/grid-multiple-row-drag.component.ts
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.ts
Labels: status: verified, version: 10.1.x

#2152 Use selectedRows in grid selection sample
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.ts
  src/app/grid/grid-multiple-row-drag/grid-multiple-row-drag.component.ts
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.ts
Labels: grid, row-selection, status: verified

#2147 Add a sample for grid external outlet
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  package-lock.json
  package.json
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.html
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.scss
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.scss
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/menus/navbar/navbar-sample-2/navbar-sample-2.component.html
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.html
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.scss
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: grid, overlay, status: verified

#2169 chore(*): update igniteui version
  package-lock.json
  package.json
Labels: status: verified

#2175 Update to 10.1 beta.0
  package-lock.json
  package.json
Labels: status: verified, version: 10.1.x

#2166 Update ESF templates samples
  src/app/grid/grid-excel-style-filtering-sample-3/grid-excel-style-filtering-sample-3.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-3/hierarchical-grid-excel-style-filtering-sample-3.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-3/tree-grid-excel-style-filtering-sample-3.component.html
Labels: grid, hierarchical-grid, status: verified, tree-grid, version: 10.1.x

#2158 Show off new way to bind complex data
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-nested-data-binding-2/data.ts
  src/app/grid/grid-nested-data-binding-2/grid-nested-data-bind2.html
  src/app/grid/grid-nested-data-binding-2/grid-nested-data-bind2.scss
  src/app/grid/grid-nested-data-binding-2/grid-nested-data-bind2.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: grid, status: verified

#2171 Use `activeNodeChange` for the KB navigation demo
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.html
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.ts
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.html
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.ts
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.html
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.ts
Labels: grid, keyboard-navigation, status: verified, version: 10.1.x

#2160 Invokes endEdit on undo transaction to exit grid edit mode
  src/app/grid/grid-batch-editing/grid-batch-editing-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-batch-editing/hierarchical-grid-batch-editing.component.ts
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.ts
Labels: status: verified, transaction, version: 10.1.x

#2181 Update samples with row selection
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.ts
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.html
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.ts
Labels: grid, status: verified, tree-grid

#2174 Updating samples to use column actions
  src/app/grid/grid-column-hiding-sample/grid-column-hiding-sample.component.html
  src/app/grid/grid-column-hiding-sample/grid-column-hiding-sample.component.scss
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-hiding-toolbar-style/hierarchical-grid-column-hiding-toolbar-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-hiding/hierarchical-grid-custom-hiding.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-hiding/hierarchical-grid-custom-hiding.component.scss
  src/app/tree-grid/tree-grid-column-hiding-sample/tree-grid-column-hiding-sample.component.html
  src/app/tree-grid/tree-grid-column-hiding-sample/tree-grid-column-hiding-sample.component.scss
  src/app/tree-grid/tree-grid-column-hiding-toolbar-style/tree-grid-column-hiding-toolbar-style.component.scss
Labels: status: verified

#2186 chore: update igniteui-angular@10.1.0-rc.1
  package-lock.json
  package.json
Labels: status: verified, version: 10.1.x

#2192 Fix nested data sample
  src/app/grid/grid-nested-data-binding-2/grid-nested-data-bind2.scss
Labels: status: verified

#2194 Update to 10.1.0
  package-lock.json
  package.json
Labels: version: 10.1.x

#2199 fix width on state samples
  src/app/grid/grid-save-state/grid-state.component.html
  src/app/grid/grid-save-state/grid-state.component.scss
  src/app/hierarchical-grid/hierarchical-grid-save-state/hGrid-state.component.html
  src/app/hierarchical-grid/hierarchical-grid-save-state/hGrid-state.component.scss
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.html
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.scss
Labels: status: verified

#2198 Fix width on state samples
  src/app/grid/grid-save-state/grid-state.component.html
  src/app/grid/grid-save-state/grid-state.component.scss
  src/app/hierarchical-grid/hierarchical-grid-save-state/hGrid-state.component.html
  src/app/hierarchical-grid/hierarchical-grid-save-state/hGrid-state.component.scss
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.html
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.scss
Labels: status: verified

#2185 Fix: Date and string columns are not sorted when datasource is updated -vNext
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: finjs-grid, status: verified

#2184 Fix: Date and string columns are not sorted when datasource is updated
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: finjs-grid, status: verified

#2176 Invoking change detection cycle on data fetch - Infinite scroll sample
  src/app/grid/grid-sample-5/grid-sample-5.component.ts
Labels: grid, status: verified, version: 10.0.x

#2177 Invoking change detection cycle on data fetch - Infinite scroll sample 10.1.x
  src/app/grid/grid-sample-5/grid-sample-5.component.ts
Labels: grid, status: verified, version: 10.1.x

#2196 Change text length and splitter pane size of splitter samples
  src/app/layouts/splitter/splitter-horizontal-sample/splitter-horizontal-sample.component.html
  src/app/layouts/splitter/splitter-nested-sample/splitter-nested-sample.component.html
Labels: splitter, status: verified

#2172 Fix ExpressionChangedAfterItHasBeenCheckedError
  src/app/tree-grid/tree-grid-external-excel-style-filtering/tree-grid-external-excel-style-filtering.component.html
  src/app/tree-grid/tree-grid-external-excel-style-filtering/tree-grid-external-excel-style-filtering.component.ts
Labels: status: verified, tree-grid

#2173 Fix ExpressionChangedAfterItHasBeenCheckedError
  src/app/tree-grid/tree-grid-external-excel-style-filtering/tree-grid-external-excel-style-filtering.component.html
  src/app/tree-grid/tree-grid-external-excel-style-filtering/tree-grid-external-excel-style-filtering.component.ts
Labels: status: verified, tree-grid

#2204 refactor(input-group): update the `types` sample
  src/app/data-entries/input-group/input-group-sample-5/input-group-sample-5.component.html
Labels: 10.2.x, input-group

#2200 Parsing the filtering expression tree when having multiple conditional filtering in remote filtering sample
  src/app/grid/services/remoteFilteringService.ts
Labels: grid, status: verified

#2211 Enhance main editing sample --master
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-editing-sample/grid-editing-sample.component.html
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
  src/app/grid/grid-editing-sample/product.ts
Labels: grid, status: verified

#2214 fix(datepicker): fix multiview sample to show 2 months
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.html
Labels: date-picker, status: awaiting-test

#2215 fix(datepicker): fix multiview sample to show 2 months
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.html
Labels: date-picker, status: verified

#2218 Remove empty line from Hgrid Virtualization and Performance sample (vNext)
  src/app/hierarchical-grid/hierarchical-grid-lod/hierarchical-grid-lod.component.scss
Labels: status: verified

#2219 Remove empty line from Hgrid Virtualization and Performance sample (master)
  src/app/hierarchical-grid/hierarchical-grid-lod/hierarchical-grid-lod.component.scss
Labels: status: verified

#2222 Update extended icons package
  package-lock.json
  package.json
Labels: dependencies, material-icons

#2221 Update angular to 10.0.12
  package-lock.json
  package.json
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
Labels: status: verified

#2225 Remove the use of column.elementRef
  package-lock.json
  package.json
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.ts
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.ts
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.ts
Labels: grid, status: verified

#2227 Update angular to 10.0.12
  package-lock.json
  package.json
  src/app/grid/grid-editing-sample/grid-editing-sample.component.ts
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.ts
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.ts
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.ts
Labels: status: verified

#2229 refactor(material-icons-extended): automate category declaration
  package-lock.json
  package.json
  src/app/data-display/icon/material-icons-extended/material-icons-extended.component.ts
Labels: material-icons, refactoring, status: verified

#2216 Update dockmanager to 1.0.3
  package-lock.json
  package.json
Labels: dock manager, status: verified, version: 10.2.x

#2217 Update dockmanager to 1.0.3
  package-lock.json
  package.json
Labels: dock manager, status: verified, version: 10.1.x
