Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2020-09, with the labels that each got.

#2234 refactor(mask): improve mask samples
  live-editing/configs/MaskConfigGenerator.ts
  src/app/data-display/mask/mask-sample-1/mask-sample-1.component.html
  src/app/data-display/mask/mask-sample-1/mask-sample-1.component.scss
  src/app/data-display/mask/mask-sample-1/mask-sample-1.component.ts
  src/app/data-display/mask/mask-sample-3/mask-sample-3.component.ts
  src/app/data-display/mask/mask-sample-4/mask-sample-4.component.html
  src/app/data-display/mask/mask-sample-4/mask-sample-4.component.ts
  src/app/data-display/mask/mask-sample-5/mask-sample-5.component.html
  src/app/data-display/mask/model/person.ts
Labels: mask, refactoring, version: 10.2.x

#2233 sample(grid): Add export visualiuzation sample
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  package-lock.json
  package.json
  src/app/grid/grid-export-visualization/grid-export-visualization.component.html
  src/app/grid/grid-export-visualization/grid-export-visualization.component.scss
  src/app/grid/grid-export-visualization/grid-export-visualization.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/tree-grid/tree-grid-export-visualization/tree-grid-export-visualization.component.html
  src/app/tree-grid/tree-grid-export-visualization/tree-grid-export-visualization.component.scss
  src/app/tree-grid/tree-grid-export-visualization/tree-grid-export-visualization.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid

#2237 chore: update to new 10.2.0 alpha
  package-lock.json
  package.json
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.ts
  src/app/grid/grid-groupby-summary-styling-sample/grid-groupby-summary-styling-sample.component.ts
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.ts
Labels: status: verified, version: 10.2.x

#2231 Add a sample how to use the newly implemented InputGroupToken
  src/app/data-entries/input-group/input-group-sample-5/input-group-sample-5.component.html
  src/app/data-entries/input-group/input-group-sample-5/input-group-sample-5.component.ts
Labels: enhancement, input-group, status: verified, version: 10.2.x

#2238 Updating a sample to display the new label implementation, #8086
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.html
Labels: date-picker, status: verified, version: 10.2.x

#2247 style(avatar): add missing brackets
  src/app/layouts/avatar/avatar-sample-1/avatar-sample-1.component.html
  src/app/layouts/avatar/avatar-sample-2/avatar-sample-2.component.html
  src/app/layouts/avatar/avatar-sample-3/avatar-sample-3.component.html
  src/app/layouts/avatar/avatar-sample-4/avatar-sample-4.component.html
  src/app/layouts/avatar/avatar-styling/avatar-styling.component.html
Labels: avatar, status: verified, version: 10.1.x

#2248 style(avatar): add missing brackets
  src/app/layouts/avatar/avatar-sample-1/avatar-sample-1.component.html
  src/app/layouts/avatar/avatar-sample-2/avatar-sample-2.component.html
  src/app/layouts/avatar/avatar-sample-3/avatar-sample-3.component.html
  src/app/layouts/avatar/avatar-sample-4/avatar-sample-4.component.html
  src/app/layouts/avatar/avatar-styling/avatar-styling.component.html
Labels: avatar, status: verified, version: 10.2.x

#2250 ShowWeekNumbers - Update calendar and date picker samples
  package-lock.json
  package.json
  src/app/scheduling/calendar/calendar-sample-1/calendar-sample-1.component.html
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.html
Labels: status: verified

#2244 Use input binding instead of setting overlay outlet it in the code
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.html
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.ts
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.html
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.ts
Labels: enhancement, grid, status: verified

#2243 Use input binding instead of setting overlay outlet it in the code
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.html
  src/app/grid/grid-external-outlet-sample/grid-external-outlet-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-external-outlet/hierarchical-grid-external-outlet-sample.component.ts
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.html
  src/app/tree-grid/tree-grid-external-outlet/tree-grid-external-outlet-sample.component.ts
Labels: enhancement, grid, status: verified, version: 10.2.x

#2246 Multi-cell selection sample for Hierarchical Grid --vNext
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/hierarchical-grid/hierarchical-grid-cellSelection-sample/hierarchical-grid-cellSelection.component.html
  src/app/hierarchical-grid/hierarchical-grid-cellSelection-sample/hierarchical-grid-cellSelection.component.scss
  src/app/hierarchical-grid/hierarchical-grid-cellSelection-sample/hierarchical-grid-cellSelection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
Labels: hierarchical-grid, multi-cell selection, status: verified

#2259 chore: update to 10.2..0-alpha.4
  package-lock.json
  package.json
Labels: status: verified, version: 10.2.x

#2240 Changing a sample to represent the custom label implementation, #6905
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.html
Labels: status: verified, time-picker, version: 10.2.x

#2245 Move target to overlay settings
  projects/app-lob/src/app/grid-crm/grid-crm/grid-crm/grid-crm.component.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
  src/app/data-entries/dropdown/dropdown-sample-4/dropdown-sample-4.component.ts
  src/app/data-entries/select/select-sample-4/select-sample-4.component.ts
  src/app/interactions/overlay/overlay-main-2/overlay-main-sample-2.component.ts
  src/app/interactions/overlay/overlay-main-3/overlay-main-sample-3.component.ts
  src/app/interactions/overlay/overlay-positioning-1/overlay-position-sample-1.component.ts
  src/app/interactions/overlay/overlay-positioning-2/overlay-position-sample-2.component.ts
  src/app/interactions/overlay/overlay-positioning-3/overlay-position-sample-3.component.ts
  src/app/interactions/overlay/overlay-scroll-1/overlay-scroll-sample-1.component.ts
  src/app/interactions/overlay/overlay-scroll-2/overlay-scroll-sample-2.component.ts
  src/app/interactions/toggle/toggle.component.ts
  src/app/theming/dark-theme-sample/dark-theme-sample.component.ts
  src/app/theming/default-theme-sample/default-theme-sample.component.ts
Labels: overlay, status: verified, version: 10.2.x
