Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2020-03, with the labels that each got.

#1833 fix(samples): Add HttpClientModule dependency for hgrid config
  live-editing/configs/HierarchicalGridConfigGenerator.ts
Labels: StackBlitz, hierarchical-grid, status: verified, version: 9.1.x

#1832 fix(samples): Add HttpClientModule dependency for hgrid config
  live-editing/configs/HierarchicalGridConfigGenerator.ts
Labels: StackBlitz, hierarchical-grid, status: verified, version: 9.0.x

#1798 Fix app-lob project to work with local Taas
  projects/app-lob/src/app/app.component.ts
Labels: status: verified, theming

#1822 fix(sample): Fixing stakblitz config for drag and drop samples.
  live-editing/configs/DragAndDropConfigGenerator.ts
Labels: status: verified

#1821 fix(sample): Fixing stakblitz config for drag and drop samples.
  live-editing/configs/DragAndDropConfigGenerator.ts
Labels: status: verified

#1820 chore(*): Setting correct start index when remote filter is applied.
  src/app/grid/grid-remote-filtering-sample/remote-filtering-sample.component.ts
Labels: status: verified

#1819 chore(*): Setting correct start index when remote filter is applied.
  src/app/grid/grid-remote-filtering-sample/remote-filtering-sample.component.ts
Labels: status: verified

#1783 Fix toggle text visibility in the dark theme
  src/app/interactions/toggle/toggle-sample-1/toggle-sample-1.component.scss
  src/app/interactions/toggle/toggle-sample-1/toggle-sample-1.component.ts
  src/app/interactions/toggle/toggle-sample-2/toggle-sample-2.component.scss
  src/app/interactions/toggle/toggle-sample-2/toggle-sample-2.component.ts
  src/app/interactions/toggle/toggle-sample-3/toggle-sample-3.component.scss
  src/app/interactions/toggle/toggle-sample-3/toggle-sample-3.component.ts
  src/app/interactions/toggle/toggle.component.scss
  src/app/interactions/toggle/toggle.component.ts
Labels: bug, status: verified, styling, toggle, version: 9.0.x

#1849 refactor(card): change card styled sample
  src/app/layouts/card/card-styling-sample/card-styling-sample.component.html
  src/app/layouts/card/card-styling-sample/card-styling-sample.component.scss
  src/app/layouts/card/card-styling-sample/card-styling-sample.component.ts
Labels: card, refactoring, status: verified, version: 9.1.x

#1848 refactor(layout manager): making new samples for layout manager
  live-editing/configs/LayoutConfigGenerator.ts
  src/app/layouts/layout/layout-align-items/layout-align-items.component.html
  src/app/layouts/layout/layout-align-items/layout-align-items.component.scss
  src/app/layouts/layout/layout-align-items/layout-align-items.component.ts
  src/app/layouts/layout/layout-content-space/layout-content-space.component.html
  src/app/layouts/layout/layout-content-space/layout-content-space.component.scss
  src/app/layouts/layout/layout-content-space/layout-content-space.component.ts
  src/app/layouts/layout/layout-custom-order/layout-custom-order.component.html
  src/app/layouts/layout/layout-custom-order/layout-custom-order.component.scss
  src/app/layouts/layout/layout-custom-order/layout-custom-order.component.ts
  src/app/layouts/layout/layout-direction-column/layout-direction-column.component.html
  src/app/layouts/layout/layout-direction-column/layout-direction-column.component.scss
  src/app/layouts/layout/layout-direction-column/layout-direction-column.component.ts
  src/app/layouts/layout/layout-direction-row/layout-direction-row.component.html
  src/app/layouts/layout/layout-direction-row/layout-direction-row.component.scss
  src/app/layouts/layout/layout-direction-row/layout-direction-row.component.ts
  src/app/layouts/layout/layout-justify-content/layout-justify-content.component.html
  src/app/layouts/layout/layout-justify-content/layout-justify-content.component.scss
  src/app/layouts/layout/layout-justify-content/layout-justify-content.component.ts
  src/app/layouts/layout/layout-sample/layout-sample.component.html
  src/app/layouts/layout/layout-sample/layout-sample.component.scss
  src/app/layouts/layout/layout-sample/layout-sample.component.ts
  src/app/layouts/layout/layout-wrap/layout-wrap.component.html
  src/app/layouts/layout/layout-wrap/layout-wrap.component.scss
  src/app/layouts/layout/layout-wrap/layout-wrap.component.ts
  src/app/layouts/layout/layout.component.html
  src/app/layouts/layout/layout.component.scss
  src/app/layouts/layout/layout.component.spec.ts
  src/app/layouts/layout/layout.component.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
Labels: layout manager, refactoring, status: verified, version: 9.1.x

#1835 refactor(tabs): simplify all samples
  live-editing/configs/TabsConfigGenerator.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/tabs/tabs-sample-1/tabs-sample-1.component.html
  src/app/layouts/tabs/tabs-sample-1/tabs-sample-1.component.scss
  src/app/layouts/tabs/tabs-sample-1/tabs-sample-1.component.ts
  src/app/layouts/tabs/tabs-sample-2/tabs-sample-2.component.html
  src/app/layouts/tabs/tabs-sample-2/tabs-sample-2.component.scss
  src/app/layouts/tabs/tabs-sample-3/tabs-sample-3.component.html
  src/app/layouts/tabs/tabs-sample-3/tabs-sample-3.component.scss
  src/app/layouts/tabs/tabs-sample-3/tabs-sample-3.component.ts
  src/app/layouts/tabs/tabs-sample-4/app.routing.module.ts
  src/app/layouts/tabs/tabs-sample-4/components/tabs-sample-4.component.html
  src/app/layouts/tabs/tabs-sample-4/components/tabs-sample-4.component.scss
  src/app/layouts/tabs/tabs-sample-4/components/tabs-sample-4.component.ts
  src/app/layouts/tabs/tabs-sample-4/tabs-sample-4.module.ts
  src/app/layouts/tabs/tabs-sample-4/tabs.routing1.module.ts
  src/app/layouts/tabs/tabs-sample-5/app.routing.module.ts
  src/app/layouts/tabs/tabs-sample-5/components/tabs-sample-5.component.html
  src/app/layouts/tabs/tabs-sample-5/components/tabs-sample-5.component.scss
  src/app/layouts/tabs/tabs-sample-5/components/tabs-sample-5.component.ts
  src/app/layouts/tabs/tabs-sample-5/tabs-sample-5.module.ts
  src/app/layouts/tabs/tabs-sample-5/tabs.routing2.module.ts
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.html
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.scss
  src/app/layouts/tabs/tabs-sample-6/tabs-sample-6.component.ts
  src/app/layouts/tabs/tabs-style/tabs-style.component.html
  src/app/layouts/tabs/tabs-style/tabs-style.component.scss
  src/app/layouts/tabs/tabs-style/tabs-style.component.ts
  src/app/layouts/tabs/views/view1/view1.component.html
  src/app/layouts/tabs/views/view1/view1.component.ts
  src/app/layouts/tabs/views/view2/view2.component.html
  src/app/layouts/tabs/views/view2/view2.component.ts
  src/app/layouts/tabs/views/view3/view3.component.html
  src/app/layouts/tabs/views/view3/view3.component.ts
Labels: refactoring, status: verified, tabs, version: 9.1.x

#1850 refactor(bottom navigation): improve samples for tabbar(bottom navigation)
  live-editing/configs/TabBarConfigGenerator.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/tabbar/tabbar-sample-1/tabbar-sample-1.component.html
  src/app/layouts/tabbar/tabbar-sample-1/tabbar-sample-1.component.scss
  src/app/layouts/tabbar/tabbar-sample-2/tabbar-sample-2.component.html
  src/app/layouts/tabbar/tabbar-sample-2/tabbar-sample-2.component.scss
  src/app/layouts/tabbar/tabbar-sample-3/components/tabbar-sample-3.component.html
  src/app/layouts/tabbar/tabbar-sample-3/components/tabbar-sample-3.component.scss
  src/app/layouts/tabbar/tabbar-sample-3/components/tabbar-sample-3.component.ts
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.component.html
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.component.scss
  src/app/layouts/tabbar/tabbar-sample-3/tabbar-sample-3.module.ts
  src/app/layouts/tabbar/tabbar-sample-3/tabbar.routing.module.ts
  src/app/layouts/tabbar/tabbar-style/tabbar-style.component.html
  src/app/layouts/tabbar/tabbar-style/tabbar-style.component.scss
  src/app/layouts/tabbar/tabbar-style/tabbar-style.component.ts
  src/app/layouts/tabbar/tabbar.component.html
  src/app/layouts/tabbar/tabbar.component.scss
  src/app/layouts/tabbar/tabbar.component.spec.ts
  src/app/layouts/tabbar/tabbar.component.ts
  src/app/layouts/tabbar/views/view1/view1.component.html
  src/app/layouts/tabbar/views/view1/view1.component.ts
  src/app/layouts/tabbar/views/view2/view2.component.html
  src/app/layouts/tabbar/views/view2/view2.component.ts
  src/app/layouts/tabbar/views/view3/view3.component.html
  src/app/layouts/tabbar/views/view3/view3.component.ts
  src/app/layouts/tabbar/views/views.module.ts
Labels: bottom-nav, refactoring, status: awaiting-test, version: 9.1.x

#1830 refactor(expansion-panel): samples
  live-editing/configs/ExpansionPanelConfigGenerator.ts
  src/app/layouts/expansion-panel/expansion-sample-1/expansion-sample-1.component.html
  src/app/layouts/expansion-panel/expansion-sample-1/expansion-sample-1.component.scss
  src/app/layouts/expansion-panel/expansion-sample-1/expansion-sample-1.component.ts
  src/app/layouts/expansion-panel/expansion-sample-2/expansion-sample-2.component.html
  src/app/layouts/expansion-panel/expansion-sample-2/expansion-sample-2.component.scss
  src/app/layouts/expansion-panel/expansion-sample-3/expansion-sample-3.component.html
  src/app/layouts/expansion-panel/expansion-sample-3/expansion-sample-3.component.scss
  src/app/layouts/expansion-panel/expansion-sample-3/expansion-sample-3.component.ts
  src/app/layouts/expansion-panel/expansion-sample-4/expansion-sample-4.component.html
  src/app/layouts/expansion-panel/expansion-sample-4/expansion-sample-4.component.scss
  src/app/layouts/expansion-panel/expansion-sample-4/expansion-sample-4.component.ts
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.html
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.scss
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.ts
  src/app/layouts/expansion-panel/expansion-sample-6/expansion-sample-6.component.html
  src/app/layouts/expansion-panel/expansion-sample-6/expansion-sample-6.component.scss
  src/app/layouts/expansion-panel/expansion-sample-6/expansion-sample-6.component.ts
  src/app/layouts/expansion-panel/expansion-sample-7/expansion-sample-7.component.html
  src/app/layouts/expansion-panel/expansion-sample-7/expansion-sample-7.component.scss
  src/app/layouts/expansion-panel/expansion-sample-7/expansion-sample-7.component.ts
  src/app/layouts/expansion-panel/expansion-sample-7/weather-data.ts
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.html
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.scss
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/styles.scss
Labels: expansion panel, status: verified, version: 9.1.x

#1825 Right Pinning Sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/data/athletesData.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-sample-right-pinning/grid-right-pinning.component.html
  src/app/grid/grid-sample-right-pinning/grid-right-pinning.component.scss
  src/app/grid/grid-sample-right-pinning/grid-right-pinning.component.ts
  src/app/grid/grid-sample-right-pinning/grid-toolbar-pinning.component.html
  src/app/grid/grid-sample-right-pinning/grid-toolbar-pinning.component.scss
  src/app/grid/grid-sample-right-pinning/grid-toolbar-pinning.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: grid, pinning, status: verified

#1804 Mkirkova/date range picker v next
  live-editing/configs/DatePickerConfigGenerator.ts
  src/app/app.module.ts
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.html
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.scss
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: range-date-picker, status: verified, version: 9.1.x

#1860 Update hierarchical grid keyboard navigation sample
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.ts
Labels: hierarchical-grid, status: verified, version: 9.1.x

#1861 Update hierarchical grid keyboard navigation sample
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.ts
Labels: hierarchical-grid, status: verified, version: 9.0.x

#1856 refactor(snackbar): improve snackbar samples
  live-editing/configs/SnackbarConfigGenerator.ts
  src/app/notifications/notifications-routes-data.ts
  src/app/notifications/notifications-routing.module.ts
  src/app/notifications/notifications.module.ts
  src/app/notifications/snackbar/snackbar-sample-1/snackbar-sample-1.component.html
  src/app/notifications/snackbar/snackbar-sample-1/snackbar-sample-1.component.ts
  src/app/notifications/snackbar/snackbar-sample-2/snackbar-sample-2.component.ts
  src/app/notifications/snackbar/snackbar-sample-3/snackbar-sample-3.component.html
  src/app/notifications/snackbar/snackbar-sample-3/snackbar-sample-3.component.scss
  src/app/notifications/snackbar/snackbar-sample-3/snackbar-sample-3.component.ts
  src/app/notifications/snackbar/snackbar-sample-4/snackbar-sample-4.component.html
  src/app/notifications/snackbar/snackbar-sample-5/snackbar-sample-5.component.html
  src/app/notifications/snackbar/snackbar-sample-5/snackbar-sample-5.component.ts
  src/app/notifications/snackbar/snackbar-style/snackbar-style.component.scss
Labels: refactoring, snackbar, status: verified, version: 9.1.x

#1858 refactor(toast): improve toast samples
  live-editing/configs/ToastConfigGenerator.ts
  src/app/notifications/toast/toast-sample-1/toast-sample-1.component.html
  src/app/notifications/toast/toast-sample-1/toast-sample-1.component.scss
  src/app/notifications/toast/toast-sample-1/toast-sample-1.component.ts
  src/app/notifications/toast/toast-sample-2/toast-sample-2.component.scss
  src/app/notifications/toast/toast-sample-2/toast-sample-2.component.ts
  src/app/notifications/toast/toast-sample-3/toast-sample-3.component.html
  src/app/notifications/toast/toast-sample-3/toast-sample-3.component.scss
  src/app/notifications/toast/toast-sample-3/toast-sample-3.component.ts
  src/app/notifications/toast/toast-sample-4/toast-sample-4.component.scss
  src/app/notifications/toast/toast-sample-4/toast-sample-4.component.ts
  src/app/notifications/toast/toast-sample-5/toast-sample-5.component.scss
  src/app/notifications/toast/toast-sample-5/toast-sample-5.component.ts
  src/app/notifications/toast/toast-style/toast-style.component.html
  src/app/notifications/toast/toast-style/toast-style.component.scss
  src/app/notifications/toast/toast-style/toast-style.component.ts
Labels: refactoring, status: verified, toast, version: 9.1.x

#1865 Update to alpha 3
  package-lock.json
  package.json
Labels: status: verified

#1866 fix(date-pciker): update
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.html
Labels: date-picker, range-date-picker, status: verified, version: 9.1.x

#1803 feat(date-picker): added date-range-picker sample
  live-editing/configs/DatePickerConfigGenerator.ts
  src/app/app.module.ts
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.html
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.scss
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: range-date-picker, status: verified, version: 9.0.x

#1884 adding scrollbar class for samples
  projects/app-lob/src/index.html
  src/index.html
Labels: status: verified

#1885 refactor(dialog): improve dialog samples and delete unnecessary ones
  live-editing/configs/DialogConfigGenerator.ts
  package-lock.json
  package.json
  src/app/interactions/dialog/custom-dialog/custom-dialog.component.html
  src/app/interactions/dialog/custom-dialog/custom-dialog.component.scss
  src/app/interactions/dialog/custom-dialog/custom-dialog.component.ts
  src/app/interactions/dialog/dialog-sample-1/dialog-sample-1.component.html
  src/app/interactions/dialog/dialog-sample-1/dialog-sample-1.component.scss
  src/app/interactions/dialog/dialog-sample-1/dialog-sample-1.component.ts
  src/app/interactions/dialog/dialog-sample-2/dialog-sample-2.component.html
  src/app/interactions/dialog/dialog-sample-2/dialog-sample-2.component.scss
  src/app/interactions/dialog/dialog-sample-2/dialog-sample-2.component.ts
  src/app/interactions/dialog/dialog-sample-3/dialog-sample-3.component.html
  src/app/interactions/dialog/dialog-sample-3/dialog-sample-3.component.scss
  src/app/interactions/dialog/dialog-sample-3/dialog-sample-3.component.ts
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.html
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.scss
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.ts
  src/app/interactions/dialog/dialog.component.html
  src/app/interactions/dialog/dialog.component.scss
  src/app/interactions/dialog/dialog.component.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
Labels: dialog, refactoring, status: awaiting-test, version: 9.1.x

#1893 Updating Angular to 9.1.0
  package-lock.json
  package.json
Labels: status: verified

#1795 Add AOT for line of business application
  angular.json
Labels: status: verified

#1895 Change angular versions
  angular.json
  package-lock.json
  package.json
Labels: status: verified

#1890 refactor(ripple): improve ripple samples
  live-editing/configs/RippleConfigGenerator.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
  src/app/interactions/ripple/ripple-sample-1/ripple-sample-1.component.html
  src/app/interactions/ripple/ripple-sample-1/ripple-sample-1.component.scss
  src/app/interactions/ripple/ripple-sample-1/ripple-sample-1.component.ts
  src/app/interactions/ripple/ripple-sample-2/ripple-sample-2.component.html
  src/app/interactions/ripple/ripple-sample-2/ripple-sample-2.component.scss
  src/app/interactions/ripple/ripple-sample-2/ripple-sample-2.component.ts
  src/app/interactions/ripple/ripple-sample-3/ripple-sample-3.component.scss
  src/app/interactions/ripple/ripple-sample-3/ripple-sample-3.component.ts
  src/app/interactions/ripple/ripple-sample-4/ripple-sample-4.component.html
  src/app/interactions/ripple/ripple-sample-4/ripple-sample-4.component.scss
  src/app/interactions/ripple/ripple-sample-4/ripple-sample-4.component.ts
  src/app/interactions/ripple/ripple-sample-5/ripple-sample-5.component.html
  src/app/interactions/ripple/ripple-sample-5/ripple-sample-5.component.scss
  src/app/interactions/ripple/ripple-sample-5/ripple-sample-5.component.ts
  src/app/interactions/ripple/ripple-sample-6/ripple-sample-6.component.scss
  src/app/interactions/ripple/ripple-sample-6/ripple-sample-6.component.ts
  src/app/interactions/ripple/ripple-stying/ripple-styling-sample.component.html
  src/app/interactions/ripple/ripple-stying/ripple-styling-sample.component.scss
  src/app/interactions/ripple/ripple-stying/ripple-styling-sample.component.ts
Labels: refactoring, ripple, status: verified, version: 9.1.x

#1887 refactor(tooltip): improve tooltip samples
  live-editing/configs/TooltipConfigGenerator.ts
  src/app/interactions/tooltip/tooltip-rich/tooltip-rich.component.html
  src/app/interactions/tooltip/tooltip-rich/tooltip-rich.component.scss
  src/app/interactions/tooltip/tooltip-rich/tooltip-rich.component.ts
  src/app/interactions/tooltip/tooltip-simple/tooltip-simple.component.html
  src/app/interactions/tooltip/tooltip-simple/tooltip-simple.component.scss
  src/app/interactions/tooltip/tooltip-simple/tooltip-simple.component.ts
  src/app/interactions/tooltip/tooltip-style/tooltip-style.component.html
  src/app/interactions/tooltip/tooltip-style/tooltip-style.component.scss
  src/app/interactions/tooltip/tooltip-style/tooltip-style.component.ts
Labels: refactoring, status: awaiting-test, tooltip, version: 9.1.x
