Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2020-04, with the labels that each got.

#1897 refactor(dnd): improve samples
  live-editing/configs/DragAndDropConfigGenerator.ts
  src/app/interactions/drag-drop/dialog-sample/drag-dialog-sample.component.html
  src/app/interactions/drag-drop/dialog-sample/drag-dialog-sample.component.scss
  src/app/interactions/drag-drop/email-sample/email-sample.component.html
  src/app/interactions/drag-drop/email-sample/email-sample.component.scss
  src/app/interactions/drag-drop/email-sample/email-sample.component.ts
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.html
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.scss
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.ts
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.html
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.scss
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.ts
  src/app/interactions/interactions.module.ts
Labels: drag-drop, status: verified, version: 9.1.x

#1902 Update vNext to alpha.5
  package-lock.json
  package.json
Labels: status: verified

#1888 feat(*): grid column selection samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/data/customers.ts
  src/app/grid/column-group-selection-sample/column-group-selection-sample.component.html
  src/app/grid/column-group-selection-sample/column-group-selection-sample.component.scss
  src/app/grid/column-group-selection-sample/column-group-selection-sample.component.ts
  src/app/grid/column-selection-sample/column-selection-sample.component.html
  src/app/grid/column-selection-sample/column-selection-sample.component.scss
  src/app/grid/column-selection-sample/column-selection-sample.component.ts
  src/app/grid/column-selection-styles/column-selection-styles.component.html
  src/app/grid/column-selection-styles/column-selection-styles.component.scss
  src/app/grid/column-selection-styles/column-selection-styles.component.ts
  src/app/grid/grid-excel-style-filtering-sample-3/grid-excel-style-filtering-sample-3.component.html
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/grid/multi-column-header-template/multi-column-header-template.html
  src/app/grid/multi-column-headers-styling/multi-column-headers-styling.component.html
  src/app/grid/multi-column-headers/multi-column-headers.html
  src/app/hierarchical-grid/column-group-selection/hierarchical-grid-column-group-selection.component.html
  src/app/hierarchical-grid/column-group-selection/hierarchical-grid-column-group-selection.component.scss
  src/app/hierarchical-grid/column-group-selection/hierarchical-grid-column-group-selection.component.ts
  src/app/hierarchical-grid/column-selection-styles/hierarchical-grid-column-selection-styles.component.html
  src/app/hierarchical-grid/column-selection-styles/hierarchical-grid-column-selection-styles.component.scss
  src/app/hierarchical-grid/column-selection-styles/hierarchical-grid-column-selection-styles.component.ts
  src/app/hierarchical-grid/column-selection/hierarchical-grid-column-selection.component.html
  src/app/hierarchical-grid/column-selection/hierarchical-grid-column-selection.component.scss
  src/app/hierarchical-grid/column-selection/hierarchical-grid-column-selection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-column-header-template/hierarchical-grid-multi-column-template.component.html
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers-styling/hierarchical-grid-multi-column-styling.component.html
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers/hierarchical-grid-multi-column.component.html
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/column-group-selection/column-group-selection.component.html
  src/app/tree-grid/column-group-selection/column-group-selection.component.scss
  src/app/tree-grid/column-group-selection/column-group-selection.component.ts
  src/app/tree-grid/column-selection-styles/tree-grid-column-selection-style.component.html
  src/app/tree-grid/column-selection-styles/tree-grid-column-selection-style.component.scss
  src/app/tree-grid/column-selection-styles/tree-grid-column-selection-style.component.ts
  src/app/tree-grid/column-selection/tree-grid-column-selection.component.html
  src/app/tree-grid/column-selection/tree-grid-column-selection.component.scss
  src/app/tree-grid/column-selection/tree-grid-column-selection.component.ts
  src/app/tree-grid/tree-grid-displaydensity-sample/tree-grid-displaydensity-sample.component.html
  src/app/tree-grid/tree-grid-multi-column-header-template-sample/tree-grid-multi-column-header-template-sample.component.html
  src/app/tree-grid/tree-grid-multi-column-headers-sample/tree-grid-multi-column-headers-sample.component.html
  src/app/tree-grid/tree-grid-multi-column-headers-styling/tree-grid-multi-column-headers-styling.component.html
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#1916 fix(toast): fix toast positioning sample bug
  src/app/notifications/toast/toast-sample-5/toast-sample-5.component.ts
Labels: bug, status: awaiting-test, toast, version: 9.1.x

#1911 Updating custom column pinning sample with correct pinning icon
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-sample-pinning/grid-pinning.component.html
  src/app/grid/grid-sample-pinning/grid-pinning.component.ts
  src/app/grid/services/svgIcons.ts
Labels: pinning, status: awaiting-test

#1917 Updating column selection style samples
  src/app/grid/column-selection-styles/column-selection-styles.component.html
  src/app/grid/column-selection-styles/column-selection-styles.component.scss
  src/app/hierarchical-grid/column-selection-styles/hierarchical-grid-column-selection-styles.component.scss
  src/app/tree-grid/column-selection-styles/tree-grid-column-selection-style.component.scss
Labels: status: verified

#1923 chore: update to igniteui-angular@9.1.0-alpha7
  package-lock.json
  package.json
Labels: status: awaiting-test, status: verified, version: 9.1.x

#1881 Adding the Date Time Editor demo #1840
  live-editing/configs/DateTimeEditorConfigGenerator.ts
  src/app/scheduling/datetimeeditor/datetime-basic/datetime-basic.component.html
  src/app/scheduling/datetimeeditor/datetime-basic/datetime-basic.component.scss
  src/app/scheduling/datetimeeditor/datetime-basic/datetime-basic.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: date-editor, status: verified, version: 9.1.x

#1907 refactor(overlay): switch to styling with css vars
  src/app/interactions/overlay/overlay-positioning-1/overlay-position-sample-1.component.scss
  src/app/interactions/overlay/overlay-positioning-2/overlay-position-sample-2.component.scss
  src/app/interactions/overlay/overlay-positioning-3/overlay-position-sample-3.component.scss
  src/app/interactions/overlay/overlay-styling/overlay-styling.component.scss
Labels: overlay, refactoring, version: 9.1.x

#1919 Improving Interactions in Grid State Sample - 9.1
  src/app/grid/grid-save-state/grid-state.component.html
  src/app/grid/grid-save-state/grid-state.component.scss
Labels: grid, status: verified, version: 9.1.x

#1920 Improving Interactions in Grid State Sample
  src/app/grid/grid-save-state/grid-state.component.html
  src/app/grid/grid-save-state/grid-state.component.scss
Labels: grid, status: verified, version: 9.0.x

#1882 dateTimeEditor spin buttons sample
  live-editing/configs/DateTimeEditorConfigGenerator.ts
  live-editing/generators/ConfigGenerators.ts
  src/app/scheduling/datetimeeditor/datetime-advanced/datetime-advanced.html
  src/app/scheduling/datetimeeditor/datetime-advanced/datetime-advanced.scss
  src/app/scheduling/datetimeeditor/datetime-advanced/datetime-advanced.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: date-editor, status: in-test

#1921 refactor(date-picker): improve date-picker samples
  live-editing/configs/DatePickerConfigGenerator.ts
  src/app/scheduling/datepicker/datepicker-dropdown/datepicker-dropdown.component.html
  src/app/scheduling/datepicker/datepicker-dropdown/datepicker-dropdown.component.scss
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.html
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.scss
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.ts
  src/app/scheduling/datepicker/datepicker-sample-2/datepicker-sample-2.component.html
  src/app/scheduling/datepicker/datepicker-sample-2/datepicker-sample-2.component.scss
  src/app/scheduling/datepicker/datepicker-sample-2/datepicker-sample-2.component.ts
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.html
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.scss
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.ts
  src/app/scheduling/datepicker/datepicker-sample-4/datepicker-sample-4.component.html
  src/app/scheduling/datepicker/datepicker-sample-4/datepicker-sample-4.component.scss
  src/app/scheduling/datepicker/datepicker-sample-4/datepicker-sample-4.component.ts
  src/app/scheduling/datepicker/datepicker-sample-5/datepicker-sample-5.component.html
  src/app/scheduling/datepicker/datepicker-sample-5/datepicker-sample-5.component.scss
  src/app/scheduling/datepicker/datepicker-sample-6/datepicker-sample-6.component.html
  src/app/scheduling/datepicker/datepicker-sample-6/datepicker-sample-6.component.scss
  src/app/scheduling/datepicker/datepicker-sample-6/datepicker-sample-6.component.ts
  src/app/scheduling/datepicker/datepicker-sample-7/datepicker-sample-7.component.html
  src/app/scheduling/datepicker/datepicker-sample-7/datepicker-sample-7.component.scss
  src/app/scheduling/datepicker/datepicker-sample-8/datepicker-sample-8.component.html
  src/app/scheduling/datepicker/datepicker-sample-8/datepicker-sample-8.component.scss
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.html
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.scss
  src/app/scheduling/datepicker/datepicker-sample-9/datepicker-sample-9.component.ts
  src/app/scheduling/datepicker/datepicker-styling-sample/datepicker-styling-sample.component.html
  src/app/scheduling/datepicker/datepicker-styling-sample/datepicker-styling-sample.component.scss
  src/app/scheduling/datepicker/datepicker-styling-sample/datepicker-styling-sample.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: date-picker, refactoring, status: verified, version: 9.1.x

#1922 refactor(time picker): improve time picker samples
  live-editing/configs/TimePickerConfigGenerator.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
  src/app/scheduling/timepicker/timepicker-dropdown/timepicker-dropdown.component.html
  src/app/scheduling/timepicker/timepicker-dropdown/timepicker-dropdown.component.scss
  src/app/scheduling/timepicker/timepicker-dropdown/timepicker-dropdown.component.ts
  src/app/scheduling/timepicker/timepicker-sample-1/timepicker-sample-1.component.html
  src/app/scheduling/timepicker/timepicker-sample-1/timepicker-sample-1.component.scss
  src/app/scheduling/timepicker/timepicker-sample-1/timepicker-sample-1.component.ts
  src/app/scheduling/timepicker/timepicker-sample-2/timepicker-sample-2.component.html
  src/app/scheduling/timepicker/timepicker-sample-2/timepicker-sample-2.component.scss
  src/app/scheduling/timepicker/timepicker-sample-2/timepicker-sample-2.component.ts
  src/app/scheduling/timepicker/timepicker-sample-3/timepicker-sample-3.component.html
  src/app/scheduling/timepicker/timepicker-sample-3/timepicker-sample-3.component.scss
  src/app/scheduling/timepicker/timepicker-sample-3/timepicker-sample-3.component.ts
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.html
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.scss
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.ts
  src/app/scheduling/timepicker/timepicker-sample-5/timepicker-sample-5.component.html
  src/app/scheduling/timepicker/timepicker-sample-5/timepicker-sample-5.component.scss
  src/app/scheduling/timepicker/timepicker-sample-5/timepicker-sample-5.component.ts
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.html
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.scss
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.ts
  src/app/scheduling/timepicker/timepicker-sample-7/timepicker-sample-7.component.html
  src/app/scheduling/timepicker/timepicker-sample-7/timepicker-sample-7.component.scss
  src/app/scheduling/timepicker/timepicker-sample-7/timepicker-sample-7.component.ts
  src/app/scheduling/timepicker/timepicker-sample-8/timepicker-sample-8.component.html
  src/app/scheduling/timepicker/timepicker-sample-8/timepicker-sample-8.component.scss
  src/app/scheduling/timepicker/timepicker-sample-8/timepicker-sample-8.component.ts
  src/app/scheduling/timepicker/timepicker-styling/timepicker-styling.component.html
  src/app/scheduling/timepicker/timepicker-styling/timepicker-styling.component.scss
  src/app/scheduling/timepicker/timepicker-styling/timepicker-styling.component.ts
Labels: refactoring, status: in-test, time-picker, version: 9.1.x

#1935 refactor(button-group): improve samples
  src/app/data-entries/buttonGroup/button-group-sample-1/button-group-sample-1.component.html
  src/app/data-entries/buttonGroup/button-group-sample-1/button-group-sample-1.component.scss
  src/app/data-entries/buttonGroup/button-group-sample-1/button-group-sample-1.component.ts
  src/app/data-entries/buttonGroup/button-group-sample-2/button-group-sample-2.component.scss
  src/app/data-entries/buttonGroup/button-group-sample-3/button-group-sample-3.component.scss
  src/app/data-entries/buttonGroup/button-group-sample-5/button-group-sample-5.component.html
  src/app/data-entries/buttonGroup/button-group-style/button-group-style.component.html
  src/app/data-entries/buttonGroup/button-group-style/button-group-style.component.scss
  src/app/data-entries/buttonGroup/button-group-style/button-group-style.component.ts
Labels: button group, refactoring, status: verified, version: 9.1.x

#1870 Added row pinning drag/drop sample #6640
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-row-pinning-drag/grid-row-pinning-drag.component.html
  src/app/grid/grid-row-pinning-drag/grid-row-pinning-drag.component.scss
  src/app/grid/grid-row-pinning-drag/grid-row-pinning-drag.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: verified

#1933 Make samples run without deprecated properties
  projects/app-lob/src/app/grid-crm/grid-crm/grid-crm/grid-crm.component.html
  projects/app-lob/src/app/grid-crm/grid-crm/grid-crm/grid-crm.component.ts
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.html
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.ts
  projects/app-lob/src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.html
  projects/app-lob/src/app/tree-grid/tree-grid-childdatakey-sample/tree-grid-childdatakey-sample.component.ts
  projects/app-lob/src/app/tree-grid/tree-grid-primaryforeignkey-sample/tree-grid-primaryforeignkey-sample.component.html
  projects/app-lob/src/app/tree-grid/tree-grid-primaryforeignkey-sample/tree-grid-primaryforeignkey-sample.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
  src/app/data-display/text-highlight/text-highlight-sample-2/text-highlight-sample-2.component.ts
  src/app/grid/grid-custom-kb-navigation/grid-custom-kb-navigation-sample.component.html
  src/app/grid/grid-custom-kb-navigation/grid-custom-kb-navigation-sample.component.ts
  src/app/grid/grid-group-by-paging-sample/grid-group-by-paging-sample.component.html
  src/app/grid/grid-group-by-paging-sample/grid-group-by-paging-sample.component.ts
  src/app/grid/grid-groupby-sample/grid-groupby-sample.component.html
  src/app/grid/grid-groupby-sample/grid-groupby-sample.component.ts
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.html
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.ts
  src/app/grid/grid-groupby-summary-styling-sample/grid-groupby-summary-styling-sample.component.html
  src/app/grid/grid-groupby-summary-styling-sample/grid-groupby-summary-styling-sample.component.ts
  src/app/grid/multi-column-header-template/multi-column-header-template.html
  src/app/grid/multi-column-header-template/multi-column-header-template.ts
  src/app/grid/multi-column-headers/multi-column-headers.html
  src/app/grid/multi-column-headers/multi-column-headers.ts
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.ts
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.html
  src/app/tree-grid/tree-grid-collapsible-groups/tree-grid-collapsible-column-groups.component.html
  src/app/tree-grid/tree-grid-collapsible-groups/tree-grid-collapsible-column-groups.component.ts
  src/app/tree-grid/tree-grid-employees-sample/tree-grid-employees-sample.component.html
  src/app/tree-grid/tree-grid-employees-sample/tree-grid-employees-sample.component.ts
  src/app/tree-grid/tree-grid-keyboard-navigation/tree-grid-keyboard-navigation-sample.component.html
  src/app/tree-grid/tree-grid-keyboard-navigation/tree-grid-keyboard-navigation-sample.component.ts
  src/app/tree-grid/tree-grid-multi-column-header-template-sample/tree-grid-multi-column-header-template-sample.component.html
  src/app/tree-grid/tree-grid-multi-column-header-template-sample/tree-grid-multi-column-header-template-sample.component.ts
  src/app/tree-grid/tree-grid-multi-column-headers-sample/tree-grid-multi-column-headers-sample.component.html
  src/app/tree-grid/tree-grid-multi-column-headers-sample/tree-grid-multi-column-headers-sample.component.ts
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.html
  src/app/tree-grid/tree-grid-row-edit-style/tree-grid-row-edit-style.component.ts
  src/app/tree-grid/tree-grid-row-edit/tree-grid-row-editing-sample.component.html
  src/app/tree-grid/tree-grid-row-edit/tree-grid-row-editing-sample.component.ts
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.html
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.ts
Labels: refactoring, status: awaiting-test

#1939 Splitter samples
  live-editing/configs/SplitterConfigGenerator.ts
  live-editing/generators/ConfigGenerators.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/splitter/splitter-horizontal-sample/splitter-horizontal-sample.component.html
  src/app/layouts/splitter/splitter-horizontal-sample/splitter-horizontal-sample.component.scss
  src/app/layouts/splitter/splitter-horizontal-sample/splitter-horizontal-sample.component.ts
  src/app/layouts/splitter/splitter-nested-sample/splitter-nested-sample.component.html
  src/app/layouts/splitter/splitter-nested-sample/splitter-nested-sample.component.scss
  src/app/layouts/splitter/splitter-nested-sample/splitter-nested-sample.component.ts
  src/app/layouts/splitter/splitter-styling-sample/splitter-styling-sample.component.html
  src/app/layouts/splitter/splitter-styling-sample/splitter-styling-sample.component.scss
  src/app/layouts/splitter/splitter-styling-sample/splitter-styling-sample.component.ts
Labels: splitter, status: in-development, version: 9.1.x

#1940 refactor(radio): improve radio & radio group samples
  live-editing/configs/RadioConfigGenerator.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/radio/radio-group-sample/radio-group-sample.component.scss
  src/app/data-entries/radio/radio-sample-2/radio-sample-2.component.html
  src/app/data-entries/radio/radio-sample-2/radio-sample-2.component.scss
  src/app/data-entries/radio/radio-sample-2/radio-sample-2.component.ts
  src/app/data-entries/radio/radio-styling-sample/radio-styling-sample.component.html
  src/app/data-entries/radio/radio-styling-sample/radio-styling-sample.component.scss
  src/app/data-entries/radio/radio-styling-sample/radio-styling-sample.component.ts
Labels: radio, refactoring, status: verified, version: 9.1.x

#1889 Added row pinning sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-row-pinning-extra-column/grid-row-pinning-extra-column.component.html
  src/app/grid/grid-row-pinning-extra-column/grid-row-pinning-extra-column.component.scss
  src/app/grid/grid-row-pinning-extra-column/grid-row-pinning-extra-column.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: grid, pinning, status: awaiting-test

#1937 Adding hierarchical grid row pinning sample
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-row-pinning-extra-column/hierarchical-grid-row-pinning-extra-column.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-pinning-extra-column/hierarchical-grid-row-pinning-extra-column.component.scss
  src/app/hierarchical-grid/hierarchical-grid-row-pinning-extra-column/hierarchical-grid-row-pinning-extra-column.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
Labels: hierarchical-grid, pinning, status: awaiting-test

#1938 Added tree grid row pinning sample
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-row-pinning-extra-column/grid-row-pinning-extra-column.component.html
  src/app/grid/grid-row-pinning-extra-column/grid-row-pinning-extra-column.component.ts
  src/app/hierarchical-grid/hierarchical-grid-row-pinning-extra-column/hierarchical-grid-row-pinning-extra-column.component.html
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-row-pinning-extra-column/tree-grid-row-pinning-extra-column.component.html
  src/app/tree-grid/tree-grid-row-pinning-extra-column/tree-grid-row-pinning-extra-column.component.scss
  src/app/tree-grid/tree-grid-row-pinning-extra-column/tree-grid-row-pinning-extra-column.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: pinning, status: awaiting-test, tree-grid

#1941 refactor(radio): add label position sample
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/radio/radio-sample-3/radio-sample-3.component.html
  src/app/data-entries/radio/radio-sample-3/radio-sample-3.component.scss
  src/app/data-entries/radio/radio-sample-3/radio-sample-3.component.ts
Labels: radio, refactoring, status: verified, version: 9.1.x

#1945 refactor(badge): improve badge samples
  live-editing/configs/BadgeConfigGenerator.ts
  src/app/data-display/badge/badge-sample-1/badge-sample-1.component.html
  src/app/data-display/badge/badge-sample-1/badge-sample-1.component.scss
  src/app/data-display/badge/badge-sample-1/badge-sample-1.component.ts
  src/app/data-display/badge/badge-sample-2/badge-sample-2.component.html
  src/app/data-display/badge/badge-sample-2/badge-sample-2.component.scss
  src/app/data-display/badge/badge-sample-2/badge-sample-2.component.ts
  src/app/data-display/badge/badge-sample-3/badge-sample-3.component.html
  src/app/data-display/badge/badge-sample-3/badge-sample-3.component.scss
  src/app/data-display/badge/badge-sample-3/badge-sample-3.component.ts
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.html
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.scss
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.ts
  src/app/data-display/data-display-routes-data.ts
  src/app/data-display/data-display-routing.module.ts
  src/app/data-display/data-display.module.ts
Labels: badge, refactoring, status: verified, version: 9.1.x

#1901 chore(*): Remove hideBaseOnDrag input as it is deprecated.
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.html
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.ts
Labels: status: verified

#1950 chore: update to igniteui-angular@9.1.0.alpha11
  package-lock.json
  package.json
  src/app/data-display/chip-styling/chip-styling.component.scss
  src/app/grid/grid-row-pinning-drag/grid-row-pinning-drag.component.ts
  src/app/grid/grid-sample-right-pinning/grid-right-pinning.component.ts
  src/app/hierarchical-grid/hierarchical-grid-sample-right-pinning/hierarchical-grid-right-pinning.component.ts
  src/app/tree-grid/tree-grid-sample-right-pinning/tree-grid-right-pinning.component.ts
Labels: status: verified, version: 9.1.x
