Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2020-11, with the labels that each got.

#2338 fix 2337 - add custom excel style header icon in grid samples
  src/app/grid/grid-excel-style-filtering-sample-3/grid-excel-style-filtering-sample-3.component.html
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-sample-3/hierarchical-grid-excel-style-filtering-sample-3.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-3/tree-grid-excel-style-filtering-sample-3.component.html
Labels: grid, status: verified

#2343 refactor(toolbar): toolbar samples
  .github/workflows/build-app-lob.yml
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  projects/app-lob/src/app/grid-crm/grid-crm/grid-crm/grid-crm.component.html
  projects/app-lob/src/app/grid-crm/grid-crm/grid-crm/grid-crm.component.ts
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.html
  projects/app-lob/src/app/grid-finjs/grid-finjs-demo.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
  src/app/grid/grid-export-visualization/grid-export-visualization.component.html
  src/app/grid/grid-export-visualization/grid-export-visualization.component.ts
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-1.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-1.component.ts
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.scss
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.ts
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-3.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-3.component.ts
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.ts
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.html
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-toolbar-style/hierarchical-grid-toolbar-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar-style/hierarchical-grid-toolbar-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-custom.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-custom.component.ts
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-options.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-options.component.scss
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-options.component.ts
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-title.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-title.component.ts
  src/app/tree-grid/tree-grid-export-visualization/tree-grid-export-visualization.component.html
  src/app/tree-grid/tree-grid-export-visualization/tree-grid-export-visualization.component.ts
  src/app/tree-grid/tree-grid-toolbar-sample-1/tree-grid-toolbar-sample-1.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-1/tree-grid-toolbar-sample-1.component.scss
  src/app/tree-grid/tree-grid-toolbar-sample-1/tree-grid-toolbar-sample-1.component.ts
  src/app/tree-grid/tree-grid-toolbar-sample-2/tree-grid-toolbar-sample-2.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-2/tree-grid-toolbar-sample-2.component.ts
  src/app/tree-grid/tree-grid-toolbar-sample-3/tree-grid-toolbar-sample-3.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-3/tree-grid-toolbar-sample-3.component.ts
  src/app/tree-grid/tree-grid-toolbar-sample-4/tree-grid-toolbar-sample-4.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-4/tree-grid-toolbar-sample-4.component.ts
  src/app/tree-grid/tree-grid-toolbar-style/tree-grid-toolbar-style.component.html
  src/app/tree-grid/tree-grid-toolbar-style/tree-grid-toolbar-style.component.ts
Labels: refactoring, status: verified, toolbar

#2345 fix(HGrid): Save State Sample Issue #2344
  angular.json
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
Labels: hierarchical-grid, state-persistence

#2360 fix(grid): Changing the dataType of the column components. #2358
  src/app/grid/grid-sample-selection-template-numbers/grid-sample-selection-template-numbers.component.html
Labels: grid, status: verified, version: 11.0.x

#2357 Additional properties to every main component's live editing json
  live-editing/generators/SampleAssetsGenerator.ts
  live-editing/generators/misc/LiveEditingFile.ts
Labels: live-editing

#2363 Update dockmanager to 1.2.0-beta.4
  package-lock.json
  package.json
Labels: status: verified

#2359 fix(grid): Changing the dataType of the column component. #2358
  src/app/grid/grid-sample-selection-template-numbers/grid-sample-selection-template-numbers.component.html
Labels: grid, status: verified, version: 10.2.x

#2365 fix(grid): Removing the dataType. #2358
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.html
  src/app/grid/grid-sample-selection-template-excel/grid-sample-selection-template-excel.component.html
Labels: grid, status: verified, version: 11.0.x

#2356 Update Boston Marathon sample
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.html
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.scss
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
Labels: status: verified

#2364 fix(grid): Removing the dataType. #2358
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.html
  src/app/grid/grid-sample-selection-template-excel/grid-sample-selection-template-excel.component.html
Labels: grid, status: verified, version: 10.2.x

#2366 update boston martahon sample
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.html
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.scss
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
Labels: status: verified

#2367 Dont show winner so early
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
Labels: status: verified

#2373 Fix fonts on the page, remove unused improts
  projects/app-crm/src/app/grid-crm/grid-crm.component.html
  projects/app-crm/src/app/grid-crm/grid-crm.component.scss
  projects/app-crm/src/index.html
Labels: status: verified

#2376 fix(toolbar): fix styling sample
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.scss
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.scss
Labels: styling, toolbar

#2375 Update toolbar styling sample
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.scss
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.scss
Labels: styling, toolbar

#2383 Update to 11.0.3
  package-lock.json
  package.json
Labels: status: verified

#2386 Update dockmanager to 1.2.0-beta.6
  package-lock.json
  package.json
Labels: status: verified
