Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2020-07, with the labels that each got.

#2111 Mvenkov/grid events update
  src/app/grid/grid-editing-events/grid-editing-events.component.ts
  src/app/hierarchical-grid/hierarchical-grid-editing-events/hierarchical-grid-editing-events.component.html
  src/app/hierarchical-grid/hierarchical-grid-editing-events/hierarchical-grid-editing-events.component.ts
  src/app/tree-grid/tree-grid-editing-events/tree-grid-editing-events.component.ts
Labels: grid, hierarchical-grid, status: pending-localization, status: verified, tree-grid, version: 10.0.x

#2039 Add detectChanges when redo changes in grid paste sample
  src/app/grid/grid-paste/grid-paste-sample.component.html
  src/app/grid/grid-paste/grid-paste-sample.component.scss
  src/app/grid/grid-paste/grid-paste-sample.component.ts
Labels: grid, status: in-test, status: verified, transaction

#2113 Toast and Snackbar updated samples
  live-editing/configs/SnackbarConfigGenerator.ts
  live-editing/configs/ToastConfigGenerator.ts
  src/app/notifications/snackbar/snackbar-sample-2/snackbar-sample-2.component.html
  src/app/notifications/snackbar/snackbar-sample-2/snackbar-sample-2.component.scss
  src/app/notifications/toast/toast-sample-3/toast-sample-3.component.html
  src/app/notifications/toast/toast-sample-3/toast-sample-3.component.scss
Labels: snackbar, status: verified, toast

#2114 Toast and Snackbar updated samples - master
  live-editing/configs/SnackbarConfigGenerator.ts
  live-editing/configs/ToastConfigGenerator.ts
  package-lock.json
  package.json
  src/app/notifications/snackbar/snackbar-sample-2/snackbar-sample-2.component.html
  src/app/notifications/snackbar/snackbar-sample-2/snackbar-sample-2.component.scss
  src/app/notifications/toast/toast-sample-3/toast-sample-3.component.html
  src/app/notifications/toast/toast-sample-3/toast-sample-3.component.scss
Labels: snackbar, status: verified, toast, version: 10.0.x

#2118 Add repositoryfy and submodule (master)
  .gitmodules
  .vscode/launch.json
  gulpfile.js
  live-editing/generators/SampleAssetsGenerator.ts
  live-editing/generators/SharedAssetsGenerator.ts
  live-editing/generators/misc/SharedAssetsFile.ts
  live-editing/services/DependencyResolver.ts
  package-lock.json
  package.json
Labels: status: verified

#2122 Fix grid samples with custom summaries for codesandbox
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
  src/app/grid/grid-allData-summary/grid-allData-summary.component.ts
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.ts
  src/app/grid/grid-displaydensity-sample/grid-displaydensity-sample.component.ts
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.ts
  src/app/grid/grid-groupby-summary-styling-sample/grid-groupby-summary-styling-sample.component.ts
  src/app/grid/grid-sample-3/grid-sample-3.component.ts
  src/app/grid/grid-save-state/grid-state.component.ts
  src/app/hierarchical-grid/hierarchical-grid-allData-summary/hierarchical-grid-allData-summary.component.ts
  src/app/hierarchical-grid/hierarchical-grid-editing/hierarchical-grid-editing.component.ts
  src/app/hierarchical-grid/hierarchical-grid-save-state/hGrid-state.component.ts
  src/app/hierarchical-grid/hierarchical-grid-summary-styling/hierarchical-grid-summary-styling.component.ts
  src/app/hierarchical-grid/hierarchical-grid-summary/hierarchical-grid-summary.component.ts
  src/app/tree-grid/tree-grid-displaydensity-sample/tree-grid-displaydensity-sample.component.ts
  src/app/tree-grid/tree-grid-editing-sample/tree-grid-editing-sample.component.ts
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.ts
  src/app/tree-grid/treegrid-allData-summary/treegrid-allData-summary.component.ts
Labels: status: verified

#2123 Fix grid samples with custom summaries for codesandbox (master)
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
  src/app/grid/grid-allData-summary/grid-allData-summary.component.ts
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.ts
  src/app/grid/grid-displaydensity-sample/grid-displaydensity-sample.component.ts
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.ts
  src/app/grid/grid-groupby-summary-styling-sample/grid-groupby-summary-styling-sample.component.ts
  src/app/grid/grid-sample-3/grid-sample-3.component.ts
  src/app/grid/grid-save-state/grid-state.component.ts
  src/app/hierarchical-grid/hierarchical-grid-allData-summary/hierarchical-grid-allData-summary.component.ts
  src/app/hierarchical-grid/hierarchical-grid-editing/hierarchical-grid-editing.component.ts
  src/app/hierarchical-grid/hierarchical-grid-summary-styling/hierarchical-grid-summary-styling.component.ts
  src/app/hierarchical-grid/hierarchical-grid-summary/hierarchical-grid-summary.component.ts
  src/app/tree-grid/tree-grid-displaydensity-sample/tree-grid-displaydensity-sample.component.ts
  src/app/tree-grid/tree-grid-editing-sample/tree-grid-editing-sample.component.ts
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.ts
  src/app/tree-grid/treegrid-allData-summary/treegrid-allData-summary.component.ts
Labels: status: verified

#2119 Extend summary sample to showcase `showSummaryOnCollapse` property
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  package-lock.json
  package.json
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.html
  src/app/grid/grid-groupby-summary-sample/grid-groupby-summary-sample.component.ts
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.html
  src/app/tree-grid/tree-grid-summary2-sample/tree-grid-summary2-sample.component.ts
Labels: grid, status: verified, summaries, tree-grid

#2128 Reworking a sample to better reflect the disabled time parts functionality.
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.html
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.ts
Labels: status: verified, time-picker, version: 10.1.x

#2130 samples(navbar): Custom title sample #2126
  live-editing/configs/NavbarConfigGenerator.ts
  src/app/menus/menus-routes-data.ts
  src/app/menus/menus-routing.module.ts
  src/app/menus/menus.module.ts
  src/app/menus/navbar/navbar-custom-title/navbar-custom-title.component.html
  src/app/menus/navbar/navbar-custom-title/navbar-custom-title.component.scss
  src/app/menus/navbar/navbar-custom-title/navbar-custom-title.component.ts
Labels: navbar, status: verified, version: 10.1.x

#2136 fix(kbnav-sample): remove expandable cell ref
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.ts
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.ts
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.ts
Labels: build, status: verified

#2135 fix(kbnav-sample): remove expandable cell ref
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.ts
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.ts
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.ts
Labels: build, status: verified

#2133 chore: udpate to igniteui-angular@10.1.0-alpha.2
  package-lock.json
  package.json
  src/app/data-entries/dropdown/drop-down-remote-virtual/drop-down-remote.component.ts
  src/app/grid/grid-multi-cell-selection/grid-multi-cell-selection.component.ts
  src/app/grid/grid-paste/paste-handler.directive.ts
  src/app/hierarchical-grid/hierarchical-grid-editing-events/hierarchical-grid-editing-events.component.ts
  src/app/layouts/expansion-panel/expansion-sample-2/expansion-sample-2.component.ts
  src/app/lists/combo/combo-remote/combo-remote.component.ts
  src/app/lists/list/list-sample-7/list-sample-7.component.ts
  src/app/lists/list/list-sample-8/list-sample-8.component.ts
  src/app/notifications/banner/banner-advanced-sample/banner-advanced-sample.component.ts
  src/app/notifications/banner/banner-styling/banner-styling.component.ts
  src/app/tree-grid/tree-grid-editing-events/tree-grid-editing-events.component.ts
  src/app/tree-grid/tree-grid-multi-cell-selection/tree-grid-multi-cell-selection.component.ts
Labels: status: verified, version: 10.1.x

#2125 Add calendar events sample
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.html
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.scss
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.ts
Labels: calendar, enhancement, status: verified

#2129 Add closeOnEsc to overlay settings in toggle sample
  src/app/interactions/toggle/toggle.component.ts
Labels: status: in-test, toggle, version: 10.1.x

#2124 Add calendar events sample
  package-lock.json
  package.json
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.html
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.scss
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.ts
Labels: calendar, status: verified, version: 10.0.x

#2137 samples(navbar): Removing the text from title #2126
  src/app/menus/navbar/navbar-custom-title/navbar-custom-title.component.html
Labels: navbar, status: verified

#2127 Add custom group by dates sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-groupby-custom-sample/grid-groupby-custom-sample.component.html
  src/app/grid/grid-groupby-custom-sample/grid-groupby-custom-sample.component.scss
  src/app/grid/grid-groupby-custom-sample/grid-groupby-custom-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: grid, group by, status: verified

#2139 Update dock manager to 1.0.2
  package-lock.json
  package.json
Labels: dock manager, status: verified, version: 10.1.x

#2140 Update dock manager to 1.0.2
  package-lock.json
  package.json
Labels: dock manager, status: verified, version: 10.0.x

#2142 chore: update to igniteui-angular@10.1.0-alpha.3
  package-lock.json
  package.json
  src/app/tree-grid/tree-grid-row-pinning-styling/tree-grid-row-pinning-styling.component.html
  src/app/tree-grid/tree-grid-row-pinning/tree-grid-row-pinning.component.html
Labels: status: verified, version: 10.1.x

#2141 Add case-sensitive search to combo features sample
  src/app/lists/combo/combo-features/combo-features.component.html
  src/app/lists/combo/combo-features/combo-features.component.ts
Labels: combo, status: verified, version: 10.1.x

#2151 Log latest calendar event on top of the logger container -vNext
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.html
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.scss
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.ts
Labels: calendar, version: 10.1.x

#2150 Log latest calendar event on top of the logger container
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.html
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.scss
  src/app/scheduling/calendar/calendar-sample-3/calendar-sample-3.component.ts
Labels: calendar, status: verified, version: 10.0.x

#2146 Update paging localization strings
  src/app/grid/grid-pager-sample/grid-pager-sample.component.html
  src/app/grid/grid-pager-sample/grid-pager-sample.component.ts
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.html
  src/app/tree-grid/tree-grid-remote-paging-sample/tree-grid-remote-paging-sample.component.html
Labels: status: verified
