Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2021-02, with the labels that each got.

#2434 Adding Grid with Select as editor provider sample.
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-select/characters.ts
  src/app/grid/grid-select/data.ts
  src/app/grid/grid-select/grid-select-sample.component.html
  src/app/grid/grid-select/grid-select-sample.component.scss
  src/app/grid/grid-select/grid-select-sample.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: grid, select, status: verified

#2457 edit basic excel export sample to support groups as well
  live-editing/configs/ExportExcelConfigGenerator.ts
  src/app/services/export-excel/excel-export-sample-1/excel-export-sample-1.component.html
  src/app/services/export-excel/excel-export-sample-1/excel-export-sample-1.component.ts
Labels: excel-exporter, status: verified

#2460 remove rowDraggable input
  src/app/services/export-excel/excel-export-sample-1/excel-export-sample-1.component.html
Labels: excel-exporter, status: verified

#2462 fix(ExcelExport): Adjusted the sample data folder
  live-editing/configs/ExportExcelConfigGenerator.ts
  src/app/services/export-excel/data/invoiceData.ts
  src/app/services/export-excel/excel-export-sample-1/excel-export-sample-1.component.ts
Labels: StackBlitz, excel-exporter, status: verified

#2326 refactor(input-group): add input type file sample
  src/app/data-entries/input-group/input-group-sample-5/input-group-sample-5.component.html
Labels: input-group, refactoring, version: 11.1.x

#2464 Add Formatted Filtering Strategy Samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-formatted-filtering-strategy/grid-formatted-filtering-strategy.component.html
  src/app/grid/grid-formatted-filtering-strategy/grid-formatted-filtering-strategy.component.scss
  src/app/grid/grid-formatted-filtering-strategy/grid-formatted-filtering-strategy.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-formatted-filtering-strategy/hierarchical-grid-formatted-filtering-strategy.component.html
  src/app/hierarchical-grid/hierarchical-grid-formatted-filtering-strategy/hierarchical-grid-formatted-filtering-strategy.component.scss
  src/app/hierarchical-grid/hierarchical-grid-formatted-filtering-strategy/hierarchical-grid-formatted-filtering-strategy.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-formatted-filtering-strategy/tree-grid-formatted-filtering-strategy.component.html
  src/app/tree-grid/tree-grid-formatted-filtering-strategy/tree-grid-formatted-filtering-strategy.component.scss
  src/app/tree-grid/tree-grid-formatted-filtering-strategy/tree-grid-formatted-filtering-strategy.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid

#2455 Add Multiplecascade to TreeGrid selection sample
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.html
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.scss
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.ts
Labels: row-selection, status: verified, tree-grid

#2470 Add new sample for column types
  live-editing/configs/GridConfigGenerator.ts
  src/app/data/nwindData.ts
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.html
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.scss
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: verified

#2468 Remote paging samples enhancements
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.html
  src/app/grid/custom-grid-paging-style/custom-grid-paging-style.component.html
  src/app/grid/grid-batchEditing-remotePaging/batch-editing-remote-paging.component.html
  src/app/grid/grid-custom-remote-paging-sample/custom-remote-paging-sample.component.html
  src/app/grid/grid-custom-remote-paging-sample/custom-remote-paging-sample.component.ts
  src/app/grid/grid-editing-sample/grid-editing-sample.component.html
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.html
  src/app/grid/grid-group-by-paging-sample/grid-group-by-paging-sample.component.html
  src/app/grid/grid-moving-sample/grid-moving-sample.component.html
  src/app/grid/grid-moving-styled-sample/grid-moving-styled-sample.component.html
  src/app/grid/grid-pager-sample/grid-pager-sample.component.html
  src/app/grid/grid-pager-sample/grid-pager-sample.component.ts
  src/app/grid/grid-paging-sample/grid-paging-sample.component.html
  src/app/grid/grid-remote-paging-defaultTemplate-sample/remote-paging-default-template.component.html
  src/app/grid/grid-remote-paging-defaultTemplate-sample/remote-paging-default-template.component.ts
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.html
  src/app/grid/grid-remote-paging-sample/remote-paging-sample.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-column-moving-styled/hierarchical-grid-moving-styled.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-moving/hierarchical-grid-moving.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-paging.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.html
  src/app/hierarchical-grid/hierarchical-grid-paging/hierarchical-grid-remote-paging.component.ts
  src/app/hierarchical-grid/hierarchical-grid-remote-paging-default-template/hierarchical-grid-remote-paging-default-template.component.html
  src/app/hierarchical-grid/hierarchical-grid-remote-paging-default-template/hierarchical-grid-remote-paging-default-template.component.ts
  src/app/theming/dark-theme-sample/dark-theme-sample.component.html
  src/app/theming/default-theme-sample/default-theme-sample.component.html
  src/app/theming/theme-chooser/theme-chooser-sample.component.html
  src/app/tree-grid/tree-grid-column-moving-sample/tree-grid-column-moving-sample.component.html
  src/app/tree-grid/tree-grid-column-moving-styled-sample/tree-grid-column-moving-styled-sample.component.html
  src/app/tree-grid/tree-grid-editing-sample/tree-grid-editing-sample.component.html
  src/app/tree-grid/tree-grid-editing-style/tree-grid-editing-sample.component.html
  src/app/tree-grid/tree-grid-paging-sample/tree-grid-paging-sample.component.html
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.html
  src/app/tree-grid/tree-grid-remote-paging-default-template/tree-grid-remote-paging-default-template.component.html
  src/app/tree-grid/tree-grid-remote-paging-default-template/tree-grid-remote-paging-default-template.component.ts
  src/app/tree-grid/tree-grid-remote-paging-sample/tree-grid-remote-paging-sample.component.html
  src/app/tree-grid/tree-grid-remote-paging-sample/tree-grid-remote-paging-sample.component.ts
Labels: status: verified

#2474 chore: ng update igniteui-angular@11.1.0-rc.0
  package-lock.json
  package.json
Labels: version: 11.1.x

#2473 refactor(*): wrap button text in span when used with icon
  src/app/data-entries/buttons/buttons-display-density/buttons-display-density.component.html
  src/app/grid/grid-clipboard-operations-sample/grid-clipboard-operations-sample.component.html
  src/app/grid/grid-editing-lifecycle-sample/grid-editing-lifecycle.component.html
  src/app/grid/grid-editing-sample/grid-editing-sample.component.html
  src/app/grid/grid-save-state/grid-state.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.html
  src/app/hierarchical-grid/hgrid-editing-lifecycle-sample/hgrid-editing-lifecycle.component.html
  src/app/hierarchical-grid/hierarchical-grid-save-state/hGrid-state.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-custom.component.html
  src/app/tree-grid/tgrid-editing-lifecycle-sample/tgrid-editing-lifecycle.component.html
  src/app/tree-grid/tree-grid-clipboard-operations-sample/tree-grid-clipboard-operations-sample.component.html
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-3/tree-grid-toolbar-sample-3.component.html
Labels: button, refactoring, status: verified, version: 11.1.x

#2480 Apply appropriate theme for finjs selects-vnext
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.html
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.ts
Labels: finjs-grid, status: verified

#2487 Apply appropriate theme for tree-grid finjs selects-master
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: tree-grid

#2486 Apply appropriate theme for tree-grid finjs selects-vnext
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: tree-grid
