Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2021-12, with the labels that each got.

#2902 refactor(snackbar, toast): update styling samples
  src/app/notifications/snackbar/snackbar-style/snackbar-style.component.scss
  src/app/notifications/toast/toast-style/toast-style.component.scss
Labels: status: verified, snackbar, toast, version: 13.0.x

#2904 chore(navbar): update samples ot use icon buttons
  src/app/menus/navbar/navbar-custom-title/navbar-custom-title.component.html
  src/app/menus/navbar/navbar-sample-1/navbar-sample-1.component.html
  src/app/menus/navbar/navbar-sample-2/navbar-sample-2.component.html
  src/app/menus/navbar/navbar-sample-2/navbar-sample-2.component.scss
  src/app/menus/navbar/navbar-style/navbar-style.component.html
  src/app/menus/navbar/navbar.component.html
Labels: status: awaiting-test, navbar

#2907 Update to igniteui-angular@13.0.3
  package-lock.json
  package.json
Labels: status: verified

#2896 Add summary template samples for grid, hgrid and tgrid
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-summary-template/grid-summary-template.component.html
  src/app/grid/grid-summary-template/grid-summary-template.component.scss
  src/app/grid/grid-summary-template/grid-summary-template.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hgrid-summary-template/hgrid-summary-template.component.html
  src/app/hierarchical-grid/hgrid-summary-template/hgrid-summary-template.component.scss
  src/app/hierarchical-grid/hgrid-summary-template/hgrid-summary-template.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
  src/app/tree-grid/treegrid-summary-template/treegrid-summary-template.component.html
  src/app/tree-grid/treegrid-summary-template/treegrid-summary-template.component.scss
  src/app/tree-grid/treegrid-summary-template/treegrid-summary-template.component.ts
Labels: status: resolved
