Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2021-04, with the labels that each got.

#2563 chore(*): update dockmanager to 1.4.0-beta.1
  package-lock.json
  package.json
Labels: status: verified

#2498 refactor(*): update-custom-button-themes
  projects/app-crm/src/app/grid-crm/grid-crm.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.scss
  src/app/data-entries/buttons/buttons-roundness-sample/buttons-roundness-sample.html
  src/app/data-entries/buttons/buttons-roundness-sample/buttons-roundness-sample.scss
  src/app/grid/custom-grid-paging-style/custom-grid-paging-style.component.scss
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.scss
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.scss
  src/app/grid/grid-excel-style-filtering-style/grid-excel-style-filtering-style.component.scss
  src/app/grid/grid-filtering-style/grid-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering-style/hierarchical-grid-advanced-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-hiding-toolbar-style/hierarchical-grid-column-hiding-toolbar-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-style/hierarchical-grid-excel-style-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-filtering-style/hierarchical-grid-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-toolbar-style/hierarchical-grid-toolbar-style.component.scss
  src/app/tree-grid/tree-grid-advanced-filtering-style/tree-grid-advanced-filtering-style.component.scss
  src/app/tree-grid/tree-grid-column-hiding-toolbar-style/tree-grid-column-hiding-toolbar-style.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-style/tree-grid-excel-style-filtering-style.component.scss
  src/app/tree-grid/tree-grid-filtering-style/tree-grid-filtering-style.component.scss
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.scss
  src/app/tree-grid/tree-grid-toolbar-style/tree-grid-toolbar-style.component.scss
Labels: button, theming, version: 12.0.x

#2519 refactor(avatar): update custom avatar themes
  src/app/layouts/avatar/avatar-css-variables/avatar-css-variables.component.html
  src/app/layouts/avatar/avatar-css-variables/avatar-css-variables.component.scss
  src/app/layouts/avatar/avatar-styling/avatar-styling.component.scss
  src/app/tree-grid/tree-grid-toolbar-sample-1/tree-grid-toolbar-sample-1.component.html
Labels: avatar, status: verified, theming, version: 12.0.x

#2540 Summary formatter samples
  live-editing/Routes.ts
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  live-editing/generators/AppDVConfigGenerators.ts
  live-editing/generators/ConfigGenerators.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-summary-formatter/grid-summary-formatter.component.html
  src/app/grid/grid-summary-formatter/grid-summary-formatter.component.scss
  src/app/grid/grid-summary-formatter/grid-summary-formatter.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-summary-formatter/hierarchical-grid-summary-formatter.component.html
  src/app/hierarchical-grid/hierarchical-grid-summary-formatter/hierarchical-grid-summary-formatter.component.scss
  src/app/hierarchical-grid/hierarchical-grid-summary-formatter/hierarchical-grid-summary-formatter.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-summary-formatter/tree-grid-summary-formatter.component.html
  src/app/tree-grid/tree-grid-summary-formatter/tree-grid-summary-formatter.component.scss
  src/app/tree-grid/tree-grid-summary-formatter/tree-grid-summary-formatter.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid

#2567 chore(*): update to 11.2 alpha 3
  package-lock.json
  package.json
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.html
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
  projects/app-lob/src/app/grid/grid-master-detail/grid-master-detail.component.html
  src/app/layouts/tabbar/tabbar-sample-1/tabbar-sample-1.component.html
  src/app/layouts/tabbar/tabbar-sample-2/tabbar-sample-2.component.html
  src/app/layouts/tabbar/tabbar-sample-3/components/tabbar-sample-3.component.html
  src/app/layouts/tabbar/tabbar-style/tabbar-style.component.html
  src/app/layouts/tabs/tabs-sample-1/tabs-sample-1.component.html
  src/app/layouts/tabs/tabs-sample-2/tabs-sample-2.component.html
  src/app/layouts/tabs/tabs-sample-3/tabs-sample-3.component.html
  src/app/layouts/tabs/tabs-sample-4/components/tabs-sample-4.component.html
  src/app/layouts/tabs/tabs-style/tabs-style.component.html
Labels: status: verified, tabs

#2565 Update overlay samples
  src/app/interactions/overlay/overlay-main-1/overlay-main-sample-1.component.ts
  src/app/interactions/overlay/overlay-main-2/overlay-main-sample-2.component.ts
  src/app/interactions/overlay/overlay-main-3/overlay-main-sample-3.component.html
  src/app/interactions/overlay/overlay-main-3/overlay-main-sample-3.component.scss
  src/app/interactions/overlay/overlay-main-3/overlay-main-sample-3.component.ts
  src/app/interactions/overlay/overlay-positioning-1/overlay-position-sample-1.component.ts
  src/app/interactions/overlay/overlay-positioning-2/overlay-position-sample-2.component.ts
  src/app/interactions/overlay/overlay-positioning-3/overlay-position-sample-3.component.ts
  src/app/interactions/overlay/overlay-preset-settings/overlay-preset-settings-sample.component.ts
  src/app/interactions/overlay/overlay-scroll-1/overlay-scroll-sample-1.component.ts
  src/app/interactions/overlay/overlay-scroll-2/overlay-scroll-sample-2.component.ts
Labels: overlay, severity: medium, status: verified, version: 12.0.x

#2550 Fix data-analysis samples padding -vnext
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.html
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
Labels: status: verified

#2582 fix(input-group): remove unnecessary calc
  src/app/data-entries/input-group/input-group-sample-5/input-group-sample-5.component.html
  src/app/data-entries/input-group/input-group-sample-5/input-group-sample-5.component.scss
Labels: input-group, status: verified

#2577 added missing files to tree grid finjs config - vNext
  live-editing/configs/app-dv-configs/DVTreeGridConfig.ts
Labels: StackBlitz, status: verified, tree-grid

#2579 chore(*): Add check in case object is already dropped and is therefor…
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.ts
Labels: status: verified

#2580 chore(*): Add check in case object is already dropped and is therefor…
  src/app/interactions/drag-drop/kanban-sample/kanban-sample.component.ts
Labels: status: verified

#2551 Fix data-analysis samples padding -master
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.html
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
Labels: status: verified

#2569 Fix samples expression errors -vnext
  live-editing/configs/ThemingConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/column-group-selection-sample/column-group-selection-sample.component.ts
  src/app/grid/column-selection-sample/column-selection-sample.component.ts
  src/app/grid/column-selection-styles/column-selection-styles.component.ts
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.ts
  src/app/grid/grid-nested-data-binding/grid-nested-data-bind.ts
  src/app/hierarchical-grid/column-group-selection/hierarchical-grid-column-group-selection.component.ts
  src/app/hierarchical-grid/column-selection-styles/hierarchical-grid-column-selection-styles.component.ts
  src/app/hierarchical-grid/column-selection/hierarchical-grid-column-selection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-hiding/hierarchical-grid-custom-hiding.component.ts
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.html
  src/app/theming/dark-theme-sample/dark-theme-sample.component.html
  src/app/theming/dark-theme-sample/dark-theme-sample.component.scss
  src/app/theming/dark-theme-sample/dark-theme-sample.component.ts
  src/app/theming/theme-chooser/theme-chooser-sample.component.html
  src/app/theming/theme-chooser/theme-chooser-sample.component.scss
  src/app/theming/theme-chooser/theme-chooser-sample.component.ts
  src/app/theming/theming-routes-data.ts
  src/app/theming/theming-routing.module.ts
  src/app/theming/theming.module.ts
  src/app/tree-grid/column-selection-styles/tree-grid-column-selection-style.component.ts
  src/app/tree-grid/column-selection/tree-grid-column-selection.component.ts
  src/app/tree-grid/tree-grid-remote-paging-default-template/tree-grid-remote-paging-default-template.component.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.html
Labels: status: verified

#2571 Fix samples expression errors -master
  live-editing/configs/ThemingConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/column-group-selection-sample/column-group-selection-sample.component.ts
  src/app/grid/column-selection-sample/column-selection-sample.component.ts
  src/app/grid/column-selection-styles/column-selection-styles.component.ts
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.ts
  src/app/grid/grid-nested-data-binding/grid-nested-data-bind.ts
  src/app/hierarchical-grid/column-group-selection/hierarchical-grid-column-group-selection.component.ts
  src/app/hierarchical-grid/column-selection-styles/hierarchical-grid-column-selection-styles.component.ts
  src/app/hierarchical-grid/column-selection/hierarchical-grid-column-selection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-hiding/hierarchical-grid-custom-hiding.component.ts
  src/app/interactions/drag-drop/list-reorder-sample/list-reorder-sample.component.html
  src/app/theming/dark-theme-sample/dark-theme-sample.component.html
  src/app/theming/dark-theme-sample/dark-theme-sample.component.scss
  src/app/theming/dark-theme-sample/dark-theme-sample.component.ts
  src/app/theming/theme-chooser/theme-chooser-sample.component.html
  src/app/theming/theme-chooser/theme-chooser-sample.component.scss
  src/app/theming/theme-chooser/theme-chooser-sample.component.ts
  src/app/theming/theming-routes-data.ts
  src/app/theming/theming-routing.module.ts
  src/app/theming/theming.module.ts
  src/app/tree-grid/column-selection-styles/tree-grid-column-selection-style.component.ts
  src/app/tree-grid/column-selection/tree-grid-column-selection.component.ts
  src/app/tree-grid/tree-grid-remote-paging-default-template/tree-grid-remote-paging-default-template.component.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.html
Labels: status: verified

#2572 FinJS sample to use local data --vNext
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.ts
  projects/app-lob/src/app/grid-finjs/main.component.ts
Labels: finjs-grid, status: in-test

#2578 Fix dynamic-chart selected style
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.html
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
Labels: status: verified

#2573 FinJS sample to use local data --master
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.ts
  projects/app-lob/src/app/grid-finjs/main.component.ts
Labels: finjs-grid, status: verified

#2583 Added icons to BottomNav tab items and fixed styles.
  live-editing/configs/TabBarConfigGenerator.ts
  src/app/layouts/tabbar/tabbar-sample-1/tabbar-sample-1.component.html
  src/app/layouts/tabbar/tabbar-sample-1/tabbar-sample-1.component.scss
  src/app/layouts/tabbar/tabbar-sample-2/tabbar-sample-2.component.scss
  src/app/layouts/tabbar/tabbar-sample-3/components/tabbar-sample-3.component.html
  src/app/layouts/tabbar/tabbar-style/tabbar-style.component.scss
  src/app/layouts/tabbar/tabbar.component.spec.ts
Labels: bottom-nav, status: verified, version: 12.0.x

#2590 chore(*): DockManager update to 1.4.0-beta.2
  package-lock.json
  package.json
Labels: dock manager, status: verified

#2593 Add i18n package as a sample dependency - vNext
  live-editing/configs/LocalizationConfigGenerator.ts
Labels: status: verified, version: 12.0.x

#2584 samples(tabs): Adding 2 tab samples
  live-editing/configs/TabsConfigGenerator.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/tabs/tabs-alignment/tabs-alignment.component.html
  src/app/layouts/tabs/tabs-alignment/tabs-alignment.component.scss
  src/app/layouts/tabs/tabs-alignment/tabs-alignment.component.ts
  src/app/layouts/tabs/tabs-header-prefix-suffix/tabs-header-prefix-suffix.html
  src/app/layouts/tabs/tabs-header-prefix-suffix/tabs-header-prefix-suffix.scss
  src/app/layouts/tabs/tabs-header-prefix-suffix/tabs-header-prefix-suffix.ts
Labels: status: verified, tabs

#2594 Add i18n package as a sample dependency - master
  live-editing/configs/LocalizationConfigGenerator.ts
Labels: status: verified

#2586 added missing files to tree grid finjs config - master
  live-editing/configs/app-dv-configs/DVTreeGridConfig.ts
Labels: StackBlitz, status: verified, tree-grid

#2595 Update live-editing
  gulpfile.js
  package-lock.json
  package.json
Labels: status: awaiting-test

#2600 Updating live editing to 1.0.5
  gulpfile.js
  package-lock.json
  package.json
Labels: status: verified

#2591 feat(themes): full theming example with bootstrap
  live-editing/configs/ThemingConfigGenerator.ts
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/theming/bootstrap/bootstrap-sample.component.html
  src/app/theming/bootstrap/bootstrap-sample.component.scss
  src/app/theming/bootstrap/bootstrap-sample.component.ts
  src/app/theming/theming-routes-data.ts
  src/app/theming/theming-routing.module.ts
  src/app/theming/theming.module.ts
  src/assets/images/svg/arctic-blue.svg
Labels: status: verified, theming, version: 12.0.x

#2608 fix(dialog sample): title misalignment
  src/app/interactions/dialog/dialog-sample-3/dialog-sample-3.component.scss
Labels: dialog, styling, version: 12.0.x

#2607 fix(action strip sample): leaking styles
  src/app/menus/action-strip/action-strip-paragraph-menu/action-strip-paragraph-menu.component.scss
Labels: action-strip, status: verified, version: 12.0.x

#2615 chore: update to igniteui-angular@11.2.0-alpha.8
  package-lock.json
  package.json
Labels: version: 12.0.x

#2609 Add sample for hierarchical grid excel exporter #2602
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/data/artistData.ts
  src/app/hierarchical-grid/hierarchical-grid-excel-exporter/hierarchical-grid-excel-export.sample.html
  src/app/hierarchical-grid/hierarchical-grid-excel-exporter/hierarchical-grid-excel-export.sample.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-exporter/hierarchical-grid-excel-export.sample.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
Labels: excel-exporter, status: verified

#2619 Update column type samples
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.html
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.ts
Labels: column-types, status: verified

#2623 chore: ng update igniteui-angular@11.2.0-alpha.9
  package-lock.json
  package.json
Labels: status: verified

#2618 Update date and time pickers samples
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.html
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.html
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.ts
  src/app/scheduling/timepicker/timepicker-sample-5/timepicker-sample-5.component.html
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.html
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.ts
Labels: date-picker, severity: medium, status: awaiting-test, status: verified, time-picker, version: 12.0.x

#2624 refactor(filtering): update styling samples
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.html
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.scss
  src/app/grid/grid-excel-style-filtering-style/grid-excel-style-filtering-style.component.scss
Labels: grid, version: 12.0.x

#2632 Update live editing and tree configs
  gulpfile.js
  live-editing/configs/TreeConfigGenerator.ts
  package-lock.json
  package.json
Labels: status: verified

#2631 fix(Filtering): HGrid and TreeGrid styling demos
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering-style/hierarchical-grid-advanced-filtering-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering-style/hierarchical-grid-advanced-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-excel-style-filtering-style/hierarchical-grid-excel-style-filtering-style.component.scss
  src/app/tree-grid/tree-grid-advanced-filtering-style/tree-grid-advanced-filtering-style.component.html
  src/app/tree-grid/tree-grid-advanced-filtering-style/tree-grid-advanced-filtering-style.component.scss
  src/app/tree-grid/tree-grid-excel-style-filtering-style/tree-grid-excel-style-filtering-style.component.scss
Labels: hierarchical-grid, status: verified, tree-grid, version: 12.0.x

#2601 IgxTree Samples
  gulpfile.js
  live-editing/configs/TreeConfigGenerator.ts
  live-editing/generators/ConfigGenerators.ts
  package-lock.json
  package.json
  src/app/data/animations-data.ts
  src/app/data/tree-file-data.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
  src/app/lists/tree/tree-advanced-sample/services/data.service.ts
  src/app/lists/tree/tree-advanced-sample/services/svgIcons.ts
  src/app/lists/tree/tree-advanced-sample/tree-advanced-sample.component.html
  src/app/lists/tree/tree-advanced-sample/tree-advanced-sample.component.scss
  src/app/lists/tree/tree-advanced-sample/tree-advanced-sample.component.ts
  src/app/lists/tree/tree-basic-sample/tree-basic-sample.component.html
  src/app/lists/tree/tree-basic-sample/tree-basic-sample.component.scss
  src/app/lists/tree/tree-basic-sample/tree-basic-sample.component.ts
Labels: squash-merge, status: verified, tree

#2614 refactor(*): update themes -vnext
  projects/app-crm/src/_app-layout.scss
  projects/app-crm/src/_variables.scss
  projects/app-crm/src/app/grid-crm/grid-crm.component.scss
  projects/app-crm/src/styles.scss
  projects/app-lob/src/_app-layout.scss
  projects/app-lob/src/_variables.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.scss
  projects/app-lob/src/app/grid-finjs/controllers.component.html
  projects/app-lob/src/app/grid-finjs/controllers.component.ts
  projects/app-lob/src/app/grid-finjs/main.component.html
  projects/app-lob/src/app/grid-finjs/main.component.ts
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.scss
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
  projects/app-lob/src/styles.scss
Labels: status: verified

#2636 fix(Tooltip): Fixed backround image url.
  src/app/interactions/tooltip/tooltip-rich/tooltip-rich.component.scss
Labels: status: verified, tooltip

#2640 Nalipiev/update 12
  package-lock.json
  package.json
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/directives/conditional-formatting/conditional-formatting.directive.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.ts
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.html
  projects/app-lob/src/app/grid/grid-master-detail/grid-master-detail.component.html
  projects/app-lob/src/app/hierarchical-grid/hierarchical-grid-column-resizing/hierarchical-grid-resizing.component.html
  src/app/grid/grid-clipboard-operations-sample/grid-clipboard-operations-sample.component.html
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.html
  src/app/grid/grid-contextmenu-sample/grid-contextmenu-sample.component.html
  src/app/grid/grid-custom-kb-navigation/grid-custom-kb-navigation-sample.component.html
  src/app/grid/grid-custom-summaries-selection/grid-custom-summaries-selection.component.html
  src/app/grid/grid-editing-sample/grid-editing-sample.component.html
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.ts
  src/app/grid/grid-mrl-custom-navigation/grid-mrl-custom-navigation.component.html
  src/app/grid/grid-multi-cell-selection-style/grid-multi-cell-selection-style.component.html
  src/app/grid/grid-multi-cell-selection/grid-multi-cell-selection.component.html
  src/app/grid/grid-multiple-row-drag/grid-multiple-row-drag.component.html
  src/app/grid/grid-remote-paging-defaultTemplate-sample/remote-paging-default-template.component.html
  src/app/grid/grid-resizing-sample/grid-resizing-sample.component.html
  src/app/grid/grid-row-drag-base/grid-row-drag-base.component.html
  src/app/grid/grid-row-drag-to-grid/grid-row-drag-to-grid.component.html
  src/app/grid/grid-row-drag/grid-row-drag.component.html
  src/app/grid/grid-row-pinning-drag/grid-row-pinning-drag.component.html
  src/app/grid/grid-sample-4/grid-sample-4.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.html
  src/app/grid/grid-sorting-styling/grid-sorting-styling.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-3.component.html
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.ts
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.html
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-custom-kb-navigation/hierarchical-grid-custom-kb-navigation-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-row-drag/hierarchical-grid-multi-row-drag.component.html
  src/app/hierarchical-grid/hierarchical-grid-remote-paging-default-template/hierarchical-grid-remote-paging-default-template.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-drag-base/hierarchical-row-drag-base.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-drag/hierarchical-grid-row-drag.component.html
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.html
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.html
  src/app/hierarchical-grid/hierarchical-grid-sorting/hierarchical-grid-sorting.component.html
  src/app/hierarchical-grid/hierarchical-grid-styling/hierarchical-grid-styling.component.html
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.ts
  src/app/tree-grid/tree-grid-clipboard-operations-sample/tree-grid-clipboard-operations-sample.component.html
  src/app/tree-grid/tree-grid-column-resizing-sample/tree-grid-column-resizing-sample.component.html
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.html
  src/app/tree-grid/tree-grid-keyboard-navigation/tree-grid-keyboard-navigation-sample.component.html
  src/app/tree-grid/tree-grid-multi-cell-selection/tree-grid-multi-cell-selection.component.html
  src/app/tree-grid/tree-grid-multi-row-drag/tree-grid-multi-row-drag.component.html
  src/app/tree-grid/tree-grid-remote-paging-default-template/tree-grid-remote-paging-default-template.component.html
  src/app/tree-grid/tree-grid-row-drag-base/tree-grid-row-drag-base.component.html
  src/app/tree-grid/tree-grid-row-drag/tree-grid-row-drag.component.html
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.html
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.html
  src/app/tree-grid/tree-grid-sorting-sample/tree-grid-sorting-sample.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-2/tree-grid-toolbar-sample-2.component.html
Labels: version: 12.0.x

#2612 Update batch editing samples
  src/app/grid/grid-batch-editing/grid-batch-editing-sample.component.html
  src/app/grid/grid-batch-editing/grid-batch-editing-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-batch-editing/hierarchical-grid-batch-editing.component.html
  src/app/hierarchical-grid/hierarchical-grid-batch-editing/hierarchical-grid-batch-editing.component.ts
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.html
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.ts
Labels: grid, hierarchical-grid, severity: medium, status: verified, transaction, tree-grid, version: 12.0.x

#2630 Update re-templating grid filter 2621
  src/app/grid/grid-filtering-template-sample/grid-filtering-template-sample.component.html
  src/app/grid/grid-filtering-template-sample/grid-filtering-template-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.html
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.ts
  src/app/tree-grid/tree-grid-filtering-template-sample/tree-grid-filtering-template-sample.component.html
  src/app/tree-grid/tree-grid-filtering-template-sample/tree-grid-filtering-template-sample.component.ts
Labels: grid, hierarchical-grid, status: verified, tree-grid

#2644 fix(samples): Commit grid transactions #2073
  src/app/grid/grid-batchEditing-remotePaging/batch-editing-remote-paging.component.ts
Labels: grid, status: verified, transaction

#2645 chore(*): Update dock manager to Beta3
  package-lock.json
  package.json
Labels: status: verified

#2648 feat(hierarchical-grid): Add sample for reusable paginator
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/hierarchical-grid/hierarchical-grid-pager-sample/hierarchical-grid-pager-sample.component.html
  src/app/hierarchical-grid/hierarchical-grid-pager-sample/hierarchical-grid-pager-sample.component.scss
  src/app/hierarchical-grid/hierarchical-grid-pager-sample/hierarchical-grid-pager-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
Labels: hierarchical-grid, status: verified

#2647 Add sample for Tree Grid reusable paginator 2760
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/tree-grid/tree-grid-pager-sample/tree-grid-pager-sample.component.html
  src/app/tree-grid/tree-grid-pager-sample/tree-grid-pager-sample.component.scss
  src/app/tree-grid/tree-grid-pager-sample/tree-grid-pager-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified, tree-grid

#2651 chore(*): Update DockManager to 1.4.0
  package-lock.json
  package.json
Labels: dock manager

#2652 chore(*): Update DockManager to 1.4.0
  package-lock.json
  package.json
Labels: dock manager
