Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2021-11, with the labels that each got.

#2818 IgxStepper Samples
  angular.json
  live-editing/configs/StepperConfigGenerator.ts
  live-editing/generators/ConfigGenerators.ts
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/stepper/stepper-label-position-and-orientation-sample/stepper-label-position-and-orientation-sample.component.html
  src/app/layouts/stepper/stepper-label-position-and-orientation-sample/stepper-label-position-and-orientation-sample.component.scss
  src/app/layouts/stepper/stepper-label-position-and-orientation-sample/stepper-label-position-and-orientation-sample.component.ts
  src/app/layouts/stepper/stepper-linear-sample/stepper-linear-sample.component.html
  src/app/layouts/stepper/stepper-linear-sample/stepper-linear-sample.component.scss
  src/app/layouts/stepper/stepper-linear-sample/stepper-linear-sample.component.ts
  src/app/layouts/stepper/stepper-overview-sample/stepper-overview-sample.component.html
  src/app/layouts/stepper/stepper-overview-sample/stepper-overview-sample.component.scss
  src/app/layouts/stepper/stepper-overview-sample/stepper-overview-sample.component.ts
  src/app/layouts/stepper/stepper-steptypes-sample/stepper-steptypes-sample.component.html
  src/app/layouts/stepper/stepper-steptypes-sample/stepper-steptypes-sample.component.scss
  src/app/layouts/stepper/stepper-steptypes-sample/stepper-steptypes-sample.component.ts
  src/app/layouts/stepper/stepper-styling-sample/stepper-styling-sample.component.html
  src/app/layouts/stepper/stepper-styling-sample/stepper-styling-sample.component.scss
  src/app/layouts/stepper/stepper-styling-sample/stepper-styling-sample.component.ts
  src/assets/images/stepper/card-blue.png
  src/assets/images/stepper/card-gold.png
  src/assets/images/stepper/card-red.png
Labels: status: awaiting-test, version: 12.2.x, stepper

#2833 chore(*): moving data file to data folder
  live-editing/configs/GridConfigGenerator.ts
  package-lock.json
  package.json
  src/app/data/amino-data.ts
  src/app/data/nested-employee-data.ts
  src/app/grid/grid-nested-data-binding-2/grid-nested-data-bind2.ts
  src/app/grid/grid-nested-data-binding/grid-nested-data-bind.ts
Labels: status: verified, grid

#2832 feat(snackbar): remove the CSS which causing the problem
  src/app/notifications/snackbar/snackbar-sample-4/snackbar-sample-4.component.scss
Labels: status: awaiting-test, snackbar, version: 12.2.x

#2829 fix(Filter): Account for OR in remote service.
  src/app/services/remoteFiltering.service.ts
Labels: status: verified, grid

#2845 fix broken links
  README.md
Labels: bug, status: resolved

#2841 ci(es5): IE configuration cleanup
  README.md
  angular.json
  e2e/tsconfig.json
  package-lock.json
  package.json
  projects/app-crm/tsconfig-es5.app.json
  projects/app-lob/tsconfig-es5.app.json
  src/tsconfig-es5.app.json
Labels: status: verified

#2830 Simple combo samples
  live-editing/configs/ComboConfigGenerator.ts
  src/app/data/cities15000-regions-countries.ts
  src/app/data/stocks-data.ts
  src/app/lists/combo/cascading-combos/cascading-combos.component.html
  src/app/lists/combo/cascading-combos/cascading-combos.component.scss
  src/app/lists/combo/cascading-combos/cascading-combos.component.ts
  src/app/lists/combo/cascading-combos/local-data.ts
  src/app/lists/combo/combo-single-selection/combo-single-selection.component.html
  src/app/lists/combo/combo-single-selection/combo-single-selection.component.scss
  src/app/lists/combo/combo-single-selection/combo-single-selection.component.ts
  src/app/lists/combo/combo-single-selection/local-data.ts
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.html
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.scss
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.ts
  src/app/lists/combo/simple-combo-main/simple-combo-main.component.html
  src/app/lists/combo/simple-combo-main/simple-combo-main.component.scss
  src/app/lists/combo/simple-combo-main/simple-combo-main.component.ts
  src/app/lists/combo/simple-combo-styling/simple-combo-styling.component.html
  src/app/lists/combo/simple-combo-styling/simple-combo-styling.component.scss
  src/app/lists/combo/simple-combo-styling/simple-combo-styling.component.ts
  src/app/lists/combo/simple-combo-usage/simple-combo-usage.component.html
  src/app/lists/combo/simple-combo-usage/simple-combo-usage.component.scss
  src/app/lists/combo/simple-combo-usage/simple-combo-usage.component.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
Labels: status: verified, status: pending-localization, squash-merge, simple-combo, version: 13.0.x

#2730 refactor(snackbar): update samples according to the latest changes
  src/app/data-display/mask/mask-sample-1/mask-sample-1.component.ts
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.html
  src/app/layouts/expansion-panel/expansion-sample-2/expansion-sample-2.component.html
  src/app/scheduling/datepicker/datepicker-sample-7/datepicker-sample-7.component.ts
  src/app/theming/default-theme-sample/default-theme-sample.component.html
  src/app/tree-grid/tree-grid-conditional-cell-style-sample/tree-grid-conditional-cell-style-sample.component.html
Labels: status: verified, snackbar, version: 12.1.x

#2781 Update fin tech samples
  projects/app-lob/src/app/data/financialData.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/directives/chart-integration/chart-integration.directive.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
  projects/app-lob/src/app/grid-finjs/controllers.component.html
  projects/app-lob/src/app/grid-finjs/controllers.component.ts
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.ts
  projects/app-lob/src/app/grid-finjs/main.component.html
  projects/app-lob/src/app/grid-finjs/main.component.ts
  projects/app-lob/src/app/services/financial.service.ts
  projects/app-lob/src/app/services/signal-r.service.ts
Labels: status: verified, severity: low, finjs-grid, version: 12.1.x

#2861 samples(grid): fix advanced filter header background
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering-style/hierarchical-grid-advanced-filtering-style.component.scss
  src/app/tree-grid/tree-grid-advanced-filtering-style/tree-grid-advanced-filtering-style.component.scss
Labels: status: verified, grid, tree-grid, hierarchical-grid

#2862 fix(list): change deprecated color property #2858
  src/app/data-display/igxFor/igxFor.component.html
  src/app/lists/list/list-sample-4/list-sample-4.component.html
  src/app/lists/list/list-sample-7/list-sample-7.component.html
  src/app/lists/list/list-sample-8/list-sample-8.component.html
  src/app/tree-grid/tree-grid-add-row-sample/tree-grid-add-row-sample.component.html
  src/app/tree-grid/tree-grid-editing-sample/tree-grid-editing-sample.component.html
  src/app/tree-grid/tree-grid-editing-style/tree-grid-editing-sample.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-load-on-demand/tree-grid-excel-style-filtering-load-on-demand.component.html
  src/app/tree-grid/tree-grid-remote-filtering-sample/tree-grid-remote-filtering-sample.component.html
Labels: status: verified, list

#2864 fix(tooltip): fixed background color - vNext
  src/app/interactions/tooltip/tooltip-rich/tooltip-rich.component.scss
Labels: status: verified, tooltip

#2867 refactor(action-strip): fix menu sample styling
  src/app/menus/action-strip/action-strip-paragraph-menu/action-strip-paragraph-menu.component.html
  src/app/menus/action-strip/action-strip-paragraph-menu/action-strip-paragraph-menu.component.scss
Labels: status: verified, action-strip, version: 13.0.x

#2863 Restore sass imports & update igniteui-angular & @igniteui/angular-schematics
  package-lock.json
  package.json
  projects/app-crm/src/_variables.scss
  projects/app-crm/src/styles.scss
  projects/app-lob/src/_variables.scss
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.ts
  projects/app-lob/src/styles.scss
  src/_variables.scss
  src/app/grid/grid-action-strip/grid-action-strip-sample.ts
  src/app/grid/grid-drop-indicator/grid-drop-indicator.ts
  src/app/grid/grid-row-pinning-drag/grid-row-pinning-drag.component.ts
  src/app/hierarchical-grid/hierarchical-grid-action-strip/hierarchical-grid-action-strip-sample.ts
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.ts
  src/app/tree-grid/tree-grid-action-strip/tree-grid-action-strip-sample.ts
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.ts
  src/styles.scss
Labels: status: verified

#2872 refactor(finjs): Add dark theme for the grid samples
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.scss
  projects/app-lob/src/styles.scss
Labels: status: verified, theming, finjs-grid, version: 13.0.x

#2866 fix(toolbar): wrap actions in toolbar-actions
  package-lock.json
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  src/app/grid/grid-batchEditing-remotePaging/batch-editing-remote-paging.component.html
  src/app/grid/grid-clipboard-operations-sample/grid-clipboard-operations-sample.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-1.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.ts
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-hiding/hierarchical-grid-hiding.component.html
  src/app/hierarchical-grid/hierarchical-grid-external-excel-style-filtering/hierarchical-grid-external-excel-style-filtering.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-options.component.html
  src/app/hierarchical-grid/hierarchical-grid-toolbar/hierarchical-grid-toolbar-options.component.ts
  src/app/tree-grid/tree-grid-column-hiding-toolbar-sample/tree-grid-column-hiding-toolbar-sample.component.html
  src/app/tree-grid/tree-grid-column-hiding-toolbar-style/tree-grid-column-hiding-toolbar-style.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-1/tree-grid-excel-style-filtering-sample-1.component.html
  src/app/tree-grid/tree-grid-excel-style-filtering-sample-2/tree-grid-excel-style-filtering-sample-2.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-1/tree-grid-toolbar-sample-1.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-1/tree-grid-toolbar-sample-1.component.ts
  src/app/tree-grid/tree-grid-toolbar-sample-3/tree-grid-toolbar-sample-3.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-4/tree-grid-toolbar-sample-4.component.html
Labels: status: verified, toolbar

#2860 fix(hgrid): add hierrarchie data in grid
  src/app/hierarchical-grid/hierarchical-grid-action-strip/hierarchical-grid-action-strip-sample.html
  src/app/hierarchical-grid/hierarchical-grid-action-strip/hierarchical-grid-action-strip-sample.ts
Labels: status: awaiting-test, status: verified, action-strip

#2876 Update simple combo samples
  src/app/data/cities15000-regions-countries.ts
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.html
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.ts
  src/app/lists/combo/simple-combo-main/simple-combo-main.component.html
  src/app/lists/combo/simple-combo-main/simple-combo-main.component.scss
  src/app/lists/combo/simple-combo-main/simple-combo-main.component.ts
  src/app/lists/combo/simple-combo-styling/simple-combo-styling.component.html
  src/app/lists/combo/simple-combo-styling/simple-combo-styling.component.scss
  src/app/lists/combo/simple-combo-styling/simple-combo-styling.component.ts
  src/app/lists/combo/simple-combo-usage/simple-combo-usage.component.html
  src/app/lists/combo/simple-combo-usage/simple-combo-usage.component.ts
Labels: status: verified, severity: medium, squash-merge, simple-combo, version: 13.0.x

#2878 13 migrations manual
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
  src/app/grid/grid-batch-editing/grid-batch-editing-sample.component.html
  src/app/grid/grid-composite-data-binding/grid-composite-data.component.html
  src/app/grid/grid-drop-indicator/grid-drop-indicator.ts
  src/app/grid/grid-keyboardnav-guide-sample/grid-keyboardnav-sample.component.ts
  src/app/grid/grid-multiple-row-drag/grid-multiple-row-drag.component.ts
  src/app/grid/grid-paste/grid-paste-sample.component.ts
  src/app/grid/grid-row-drag-base/grid-row-drag-base.component.ts
  src/app/grid/grid-row-drag-to-grid/grid-row-drag-to-grid.component.ts
  src/app/grid/grid-row-drag/grid-row-drag.component.ts
  src/app/grid/grid-row-pinning-drag/grid-row-pinning-drag.component.ts
  src/app/grid/grid-row-reorder-sample/grid-row-reorder.ts
  src/app/hierarchical-grid/hierarchical-grid-row-reorder/hierarchical-grid-row-reorder.component.ts
  src/app/tree-grid/tgrid-keyboard-guide/tgrid-keyboardnav-guide.component.ts
  src/app/tree-grid/tree-grid-editing-sample/tree-grid-editing-sample.component.html
Labels: status: verified

#2875 style(*): Use hsla for surface to apply proper background when theme is changed
  projects/app-lob/src/app/index/docs-layout.component.scss
  src/app/index/docs-layout.component.scss
  src/app/interactions/toggle/toggle-samples.scss
  src/app/scheduling/calendar/calendar-sample-6/calendar-sample-6.component.scss
  src/app/scheduling/calendar/multiview/multiview.component.scss
Labels: styling

#2870 fix(banner): wrong components structure
  src/app/notifications/banner/banner-advanced-sample/banner-advanced-sample.component.html
  src/app/notifications/banner/banner-sample-1/banner-sample-1.component.html
  src/app/notifications/banner/banner-sample-2/banner-sample-2.component.html
  src/app/notifications/banner/banner-sample-3/banner-sample-3.component.html
  src/app/notifications/banner/banner-styling/banner-styling.component.html
Labels: status: awaiting-test, banner, version: 13.0.x

#2880 fix(dock-manager): update logic for toggle dark theme
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.html
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.ts
  projects/app-lob/src/styles.scss
Labels: dock manager

#2883 fix(icons): material icons extended don't load
  src/app/data-display/icon/material-icons-extended/material-icons-extended.component.ts
Labels: status: verified, material-icons, version: 13.0.x

#2892 fix(esf): show missing columns in select #2879
  src/app/hierarchical-grid/hierarchical-grid-external-excel-style-filtering/hierarchical-grid-external-excel-style-filtering.component.ts
Labels: status: verified, hierarchical-grid

#2897 fix(esf): show missing columns in select #2879 - master
  src/app/hierarchical-grid/hierarchical-grid-external-excel-style-filtering/hierarchical-grid-external-excel-style-filtering.component.ts
Labels: status: verified, hierarchical-grid
