Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2021-05, with the labels that each got.

#2625 fix(live-editing): sample not loading in codesandbox and stackblitz - vNext #2585
  live-editing/configs/AutocompleteConfigGenerator.ts
  src/app/data-entries/autocomplete/movie/movie.component.ts
Labels: status: verified

#2657 Add trigger for different projects
  .github/workflows/build-app-crm.yml
  .github/workflows/build-app-lob.yml
Labels: build-ci

#2633 feat(date-picker, time-picker): updating pickers' samples
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.html
  src/app/data-entries/input-group/input-group-sample-6/input-group-sample-6.component.ts
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.html
  src/app/data-entries/input-group/reactive-forms/reactive-forms.component.ts
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.html
  src/app/scheduling/datepicker/datepicker-sample-6/datepicker-sample-6.component.html
  src/app/scheduling/datepicker/datepicker-sample-7/datepicker-sample-7.component.html
  src/app/scheduling/datepicker/datepicker-sample-8/datepicker-sample-8.component.html
  src/app/scheduling/datepicker/datepicker-sample-8/datepicker-sample-8.component.ts
  src/app/scheduling/datetimeeditor/datetime-advanced/datetime-advanced.html
  src/app/scheduling/datetimeeditor/datetime-advanced/datetime-advanced.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/timepicker/timepicker-dropdown/timepicker-dropdown.component.html
  src/app/scheduling/timepicker/timepicker-sample-1/timepicker-sample-1.component.html
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.html
  src/app/scheduling/timepicker/timepicker-sample-4/timepicker-sample-4.component.ts
  src/app/scheduling/timepicker/timepicker-sample-5/timepicker-sample-5.component.html
  src/app/scheduling/timepicker/timepicker-sample-6/timepicker-sample-6.component.html
Labels: date-editor, date-picker, range-date-picker, status: verified, time-picker, version: 12.0.x

#2656 fix(live-editing): fixed configs and added data file
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/tree-grid/tree-grid-save-state/data.ts
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.ts
Labels: StackBlitz, grid, live-editing, state-persistence, status: verified, tree-grid

#2659 ng update igniteui-angular@12.0.0-alpha.0
  angular.json
  live-editing/configs/app-dv-configs/DVGridConfig.ts
  package-lock.json
  package.json
  projects/app-crm/src/environments/environment.ts
  projects/app-crm/src/polyfills.ts
  projects/app-crm/src/test.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.ts
  projects/app-lob/src/app/grid-finjs/controllers.component.html
  projects/app-lob/src/environments/environment.ts
  projects/app-lob/src/polyfills.ts
  projects/app-lob/src/test.ts
  src/app/grid/grid-cellSelection-sample/grid-cellSelection.component.ts
  src/app/grid/grid-filtering-template-sample/grid-filtering-template-sample.component.ts
  src/app/grid/grid-multi-cell-selection/grid-multi-cell-selection.component.ts
  src/app/grid/grid-nested-data-binding-2/grid-nested-data-bind2.ts
  src/app/grid/grid-sample-selection/grid-selection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-cellSelection-sample/hierarchical-grid-cellSelection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-filtering-template/hierarchical-grid-filtering-template.component.ts
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.ts
  src/app/notifications/banner/banner-sample-4/banner-sample-4.component.html
  src/app/notifications/snackbar/snackbar-sample-4/snackbar-sample-4.component.ts
  src/app/theming/default-theme-sample/default-theme-sample.component.ts
  src/app/tree-grid/tree-grid-cellSelection-sample/tree-grid-cellSelection.component.ts
  src/app/tree-grid/tree-grid-filtering-template-sample/tree-grid-filtering-template-sample.component.ts
  src/app/tree-grid/tree-grid-multi-cell-selection/tree-grid-multi-cell-selection.component.ts
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.ts
  src/polyfills.ts
Labels: status: in-test, status: verified, version: 12.0.x

#2662 Update samples to match new topic
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.html
  src/app/scheduling/datepicker/datepicker-sample-1/datepicker-sample-1.component.ts
  src/app/scheduling/datepicker/datepicker-sample-2/datepicker-sample-2.component.html
  src/app/scheduling/datepicker/datepicker-sample-2/datepicker-sample-2.component.ts
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.html
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.scss
  src/app/scheduling/datepicker/datepicker-sample-3/datepicker-sample-3.component.ts
Labels: date-picker, status: verified

#2650 feat(themes): theming example with angular material
  live-editing/configs/ThemingConfigGenerator.ts
  package-lock.json
  package.json
  src/app/theming/angular/angular-sample.component.html
  src/app/theming/angular/angular-sample.component.scss
  src/app/theming/angular/angular-sample.component.ts
  src/app/theming/theming-routes-data.ts
  src/app/theming/theming-routing.module.ts
  src/app/theming/theming.module.ts
  src/assets/images/card/media/card-image1.png
  src/assets/images/card/media/card-image2.png
  src/assets/images/card/media/card-image3.png
  src/assets/images/svg/ocean-pearl.svg
Labels: status: awaiting-test, theming, version: 12.0.x

#2661 fix(live-editing): fixed configs and added data file - master
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/tree-grid/tree-grid-save-state/data.ts
  src/app/tree-grid/tree-grid-save-state/tGrid-state.component.ts
Labels: StackBlitz, grid, live-editing, state-persistence, status: verified, tree-grid

#2671 fix(Grids LoB/CRM): Adding _app-layout.scss and _variables.scss to additionalFiles in the live editing configs.
  live-editing/configs/app-dv-configs/DVGridConfig.ts
  live-editing/configs/app-dv-configs/DVHierarchicalGridConfig.ts
  live-editing/configs/app-dv-configs/DVTreeGridConfig.ts
Labels: finjs-grid, hierarchical-grid, live-editing, status: verified, tree-grid

#2685 fix(scrollbar): wrong color in dark theme
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.html
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.ts
  projects/app-lob/src/app/grid-finjs/controllers.component.scss
  projects/app-lob/src/app/grid-finjs/main.component.html
  projects/app-lob/src/app/grid-finjs/main.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
Labels: bug, status: verified, theming

#2683 fix(scrollbar): wrong color in dark theme
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.html
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.ts
  projects/app-lob/src/app/grid-finjs/controllers.component.scss
  projects/app-lob/src/app/grid-finjs/main.component.html
  projects/app-lob/src/app/grid-finjs/main.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
  projects/app-lob/src/styles.scss
Labels: bug, status: verified, theming, version: 12.0.x

#2687 Change assets regex to handle relative paths
  gulpfile.js
Labels: status: awaiting-test

#2691 use eventCoalescing and ngZoneRun coalesing
  src/main.ts
Labels: status: verified

#2690 Use BG localization strings from i18n package. Use Hindi for custom i18n - vNext
  package-lock.json
  package.json
  src/app/services/localization-samples/localization-all-resources/localization-all-resources.component.ts
Labels: enhancement, status: verified, version: 12.1.x

#2689 Use BG localization strings from i18n package. Use Hindi for custom i18n
  package-lock.json
  package.json
  src/app/services/localization-samples/localization-all-resources/localization-all-resources.component.ts
Labels: status: verified, version: 12.0.x

#2667 treegrid group by load on demand sample - vNext
  live-editing/configs/TreeGridConfigGenerator.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  src/app/tree-grid/tree-grid-group-by-load-on-demand-sample/remoteService.ts
  src/app/tree-grid/tree-grid-group-by-load-on-demand-sample/tree-grid-group-area.component.html
  src/app/tree-grid/tree-grid-group-by-load-on-demand-sample/tree-grid-group-area.component.scss
  src/app/tree-grid/tree-grid-group-by-load-on-demand-sample/tree-grid-group-area.component.ts
  src/app/tree-grid/tree-grid-group-by-load-on-demand-sample/tree-grid-group-by-load-on-demand-sample.component.html
  src/app/tree-grid/tree-grid-group-by-load-on-demand-sample/tree-grid-group-by-load-on-demand-sample.component.scss
  src/app/tree-grid/tree-grid-group-by-load-on-demand-sample/tree-grid-group-by-load-on-demand-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: group by, status: verified, tree-grid
