Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2021-06, with the labels that each got.

#2696 Update localize app sample
  package-lock.json
  package.json
  src/app/services/localization-samples/localization-all-resources/localization-all-resources.component.ts
Labels: enhancement, i18n, status: verified, version: 12.1.x

#2697 Update localize app sample
  package-lock.json
  package.json
  src/app/services/localization-samples/localization-all-resources/localization-all-resources.component.ts
Labels: enhancement, i18n, status: verified, version: 12.0.x

#2701 chore(*): Update DockManager to 1.5.0-beta.1
  package-lock.json
  package.json
Labels: status: verified

#2693 Create date & time picker form samples-vNext
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.html
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.scss
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.ts
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.html
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.scss
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: date-picker, status: verified, time-picker

#2707 Remove unused styles and redundand code in list sample #2637
  src/app/lists/list/list-sample-3/list-sample-3.component.scss
  src/app/lists/list/list-sample-4/list-sample-4.component.scss
  src/app/lists/list/list-sample-7/list-sample-7.component.scss
  src/app/lists/list/list-sample-8/list-sample-8.component.ts
Labels: list, status: verified

#2708 chore(*): Update DockManager to 1.5.0.
  package-lock.json
  package.json
Labels: dock manager, status: verified

#2712 chore(*): Update DockManager to 1.5.0
  package-lock.json
  package.json
Labels: dock manager, status: verified

#2711 Create date & time picker form samples-vNext
  live-editing/configs/DatePickerConfigGenerator.ts
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.html
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.scss
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.html
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.scss
Labels: date-picker, status: verified, time-picker

#2715 feat(icons): filter material icons by keyword
  package-lock.json
  package.json
  src/app/data-display/icon/material-icons-extended/material-icons-extended.component.html
  src/app/data-display/icon/material-icons-extended/material-icons-extended.component.scss
  src/app/data-display/icon/material-icons-extended/material-icons-extended.component.ts
Labels: material-icons, status: verified, version: 12.1.x

#2720 Fix samples not working on Stackblitz
  live-editing/configs/DatePickerConfigGenerator.ts
Labels: date-picker, status: verified, time-picker

#2721 Add form modules to config
  live-editing/configs/DatePickerConfigGenerator.ts
Labels: date-picker, status: awaiting-test, time-picker

#2722 Remove FormsModule import
  live-editing/configs/DatePickerConfigGenerator.ts
Labels: date-picker, status: awaiting-test, time-picker

#2703 Create date & time picker form samples-master
  live-editing/configs/DatePickerConfigGenerator.ts
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.html
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.scss
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.ts
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.html
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.scss
  src/app/scheduling/datepicker/template-driven-form/template-driven-form.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: date-picker, squash-merge, status: verified, time-picker

#2725 Use toolbar for exporting samples, instead of button
  src/app/hierarchical-grid/hierarchical-grid-excel-exporter/hierarchical-grid-excel-export.sample.html
  src/app/hierarchical-grid/hierarchical-grid-excel-exporter/hierarchical-grid-excel-export.sample.ts
  src/app/services/export-csv/csv-export-sample-1/csv-export-sample-1.component.html
  src/app/services/export-csv/csv-export-sample-1/csv-export-sample-1.component.ts
  src/app/services/export-csv/csv-export-tree-grid-sample/csv-export-tree-grid-sample.component.html
  src/app/services/export-csv/csv-export-tree-grid-sample/csv-export-tree-grid-sample.component.ts
  src/app/services/export-excel/excel-export-sample-1/excel-export-sample-1.component.html
  src/app/services/export-excel/excel-export-sample-1/excel-export-sample-1.component.ts
  src/app/services/export-excel/excel-export-tree-grid-sample/excel-export-tree-grid-sample.component.html
  src/app/services/export-excel/excel-export-tree-grid-sample/excel-export-tree-grid-sample.component.ts
Labels: excel-exporter, status: verified
