Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-12, with the labels that each got.

#3196 chore(*): package updates and migrations
  gulpfile.js
  package-lock.json
  package.json
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.scss
  projects/app-lob/src/app/index/docs-layout.component.scss
  src/app/grid/grid-summary-template/grid-summary-template.component.scss
  src/app/grid/grid-validation-style/grid-validation-style.component.scss
  src/app/hierarchical-grid/hgrid-summary-export/hgrid-summary-export.component.scss
  src/app/hierarchical-grid/hgrid-summary-template/hgrid-summary-template.component.scss
  src/app/hierarchical-grid/hierarchical-grid-validation-style/hierarchical-grid-validation-style.component.scss
  src/app/index/docs-layout.component.scss
  src/app/interactions/toggle/toggle-samples.scss
  src/app/lists/combo/combo-template/combo-template.component.scss
  src/app/lists/list/list-item-selection/list-item-selection.component.scss
  src/app/lists/tree/tree-advanced-sample/tree-advanced-sample.component.scss
  src/app/pivot-grid/pivot-features/pivot-features.component.scss
  src/app/pivot-grid/pivot-state-persistence/pivot-grid-state-persistence-sample.component.scss
  src/app/scheduling/calendar/calendar-sample-6/calendar-sample-6.component.scss
  src/app/scheduling/calendar/multiview/multiview.component.scss
  src/app/tree-grid/tree-grid-validation-style/tree-grid-validation-style.component.scss
  src/app/tree-grid/treegrid-summary-template/treegrid-summary-template.component.scss
Labels: status: awaiting-test

#3199 fix(finjs): add option to hide theme switch for sample
  projects/app-lob/src/app/grid-finjs/controllers.component.html
  projects/app-lob/src/app/grid-finjs/controllers.component.ts
  projects/app-lob/src/app/grid-finjs/main.component.html
  projects/app-lob/src/app/grid-finjs/main.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
  projects/app-lob/src/styles.scss
Labels: status: verified, finjs-grid

#3200 fix(finjs): add option to hide theme widget
  projects/app-lob/src/app/grid-finjs/controllers.component.html
  projects/app-lob/src/app/grid-finjs/controllers.component.ts
Labels: status: awaiting-test, finjs-grid

#3202 Even vNext
  projects/app-lob/src/app/grid-finjs/controllers.component.html
  projects/app-lob/src/app/grid-finjs/main.component.ts
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
  projects/app-lob/src/styles.scss
Labels: status: verified

#3197 feat(grid-crm): add live editing config
  .gitignore
  .vscode/launch.json
  gulpfile.js
  live-editing/Routes.ts
  live-editing/configs/GridCRMConfigGenerator.ts
  live-editing/generators/AppCRMConfigGenerators.ts
  package.json
  projects/app-crm/src/app/app.component.html
  projects/app-crm/src/app/app.module.ts
  projects/app-crm/src/app/app.routing.module.ts
  projects/app-crm/src/app/grid-crm/grid-crm-routing.module.ts
  projects/app-crm/src/app/grid-crm/grid-crm.component.html
  projects/app-crm/src/app/grid-crm/grid-crm.module.ts
  projects/app-crm/src/assets/images/grid-crm/propeller-logo.svg
  projects/app-lob/src/assets/images/grid-crm/propeller-logo.svg
Labels: status: awaiting-test, StackBlitz, crm-grid

#3209 chore(*): updating dependencies
  .github/workflows/build-app-crm.yml
  .github/workflows/build-app-lob.yml
  azure-pipelines.yml
  package-lock.json
  package.json
Labels: dependencies, build-ci

#3210 Change img url in the main-pagination sample data_vNext
  src/app/data/product.ts
Labels: status: verified, paging

#3207 Create dropdown hierarchical selection samples-vNext
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.html
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.scss
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.ts
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.html
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.scss
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.ts
  src/app/data/countries.ts
Labels: status: verified, dropdown, squash-merge

#3216 Fix typo in radio group live editing config_vNext
  live-editing/configs/RadioConfigGenerator.ts
Labels: status: verified, radio

#3217 Add dropdown hierarchical selection samples to live editing
  live-editing/configs/DropDownConfigGenerator.ts
Labels: status: awaiting-test, dropdown

#3215 Fix typo in radio group live editing config
  live-editing/configs/RadioConfigGenerator.ts
Labels: status: verified, radio

#3218 Add data link to dropdown hierarchical selection samples
  live-editing/configs/DropDownConfigGenerator.ts
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.ts
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/nested-employee-data.ts
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/countries.ts
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.ts
Labels: dropdown

#3198 feat(input-group): add validation samples
  angular.json
  live-editing/configs/InputGroupConfigGenerator.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/input-group/reactive-form-custom-validation/reactive-form-custom-validation.component.html
  src/app/data-entries/input-group/reactive-form-custom-validation/reactive-form-custom-validation.component.scss
  src/app/data-entries/input-group/reactive-form-custom-validation/reactive-form-custom-validation.component.ts
  src/app/data-entries/input-group/reactive-form-validation/reactive-form-validation.component.html
  src/app/data-entries/input-group/reactive-form-validation/reactive-form-validation.component.scss
  src/app/data-entries/input-group/reactive-form-validation/reactive-form-validation.component.ts
  src/app/data-entries/input-group/template-driven-form-validation/template-driven-form-validation.component.html
  src/app/data-entries/input-group/template-driven-form-validation/template-driven-form-validation.component.scss
  src/app/data-entries/input-group/template-driven-form-validation/template-driven-form-validation.component.ts
  src/polyfills.ts
Labels: status: verified, input-group, squash-merge
