Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-09, with the labels that each got.

#3071 Validator Service Simple Sample
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-validator-service/grid-validator-service.component.html
  src/app/grid/grid-validator-service/grid-validator-service.component.scss
  src/app/grid/grid-validator-service/grid-validator-service.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-validator-service/hierarchical-grid-validator-service.component.html
  src/app/hierarchical-grid/hierarchical-grid-validator-service/hierarchical-grid-validator-service.component.scss
  src/app/hierarchical-grid/hierarchical-grid-validator-service/hierarchical-grid-validator-service.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-validator-service/tree-grid-validator-service.component.html
  src/app/tree-grid/tree-grid-validator-service/tree-grid-validator-service.component.scss
  src/app/tree-grid/tree-grid-validator-service/tree-grid-validator-service.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified, grid, tree-grid, hierarchical-grid

#3074 Update library version - master
  package-lock.json
  package.json
Labels: status: verified

#3079 Add pivot state persistance sample
  live-editing/configs/PivotGridConfigGenerator.ts
  src/app/pivot-grid/pivot-features/pivot-features.component.ts
  src/app/pivot-grid/pivot-grid-noop-persistence/pivot-grid-noop-persistence-sample.component.html
  src/app/pivot-grid/pivot-grid-noop-persistence/pivot-grid-noop-persistence-sample.component.scss
  src/app/pivot-grid/pivot-grid-noop-persistence/pivot-grid-noop-persistence-sample.component.ts
  src/app/pivot-grid/pivot-grid-routes-data.ts
  src/app/pivot-grid/pivot-grids-routing.module.ts
  src/app/pivot-grid/pivot-grids.module.ts
  src/app/pivot-grid/pivot-state-persistence/about.component.html
  src/app/pivot-grid/pivot-state-persistence/about.component.ts
  src/app/pivot-grid/pivot-state-persistence/pivot-grid-state-persistence-sample.component.html
  src/app/pivot-grid/pivot-state-persistence/pivot-grid-state-persistence-sample.component.scss
  src/app/pivot-grid/pivot-state-persistence/pivot-grid-state-persistence-sample.component.ts
Labels: status: verified

#3078 Update remote combo sample - vNext
  src/app/lists/combo/combo-remote/combo-remote.component.html
  src/app/lists/combo/combo-remote/combo-remote.component.ts
Labels: status: verified, combo

#3083 Add cross cell validation sample.
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.html
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.scss
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.html
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.scss
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#3085 Add cross-field validation sample for Hierarchical grid.
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.html
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.scss
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
Labels: status: verified, hierarchical-grid

#3082 docs(validator): Add sample for styling the grid validator
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-validation-style/grid-validation-style.component.html
  src/app/grid/grid-validation-style/grid-validation-style.component.scss
  src/app/grid/grid-validation-style/grid-validation-style.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-validation-style/hierarchical-grid-validation-style.component.html
  src/app/hierarchical-grid/hierarchical-grid-validation-style/hierarchical-grid-validation-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-validation-style/hierarchical-grid-validation-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-validation-style/tree-grid-validation-style.component.html
  src/app/tree-grid/tree-grid-validation-style/tree-grid-validation-style.component.scss
  src/app/tree-grid/tree-grid-validation-style/tree-grid-validation-style.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#3063 feat(nav drawer): hierachical navigation sample with igx-tree
  live-editing/configs/NavDrawerConfigGenerator.ts
  src/app/app.module.ts
  src/app/index/index.component.html
  src/app/index/index.component.ts
  src/app/menus/menus-routes-data.ts
  src/app/menus/menus-routing.module.ts
  src/app/menus/menus.module.ts
  src/app/menus/navdrawer/nav-drawer-hierarchical/nav-drawer-hierarchical.component.html
  src/app/menus/navdrawer/nav-drawer-hierarchical/nav-drawer-hierarchical.component.scss
  src/app/menus/navdrawer/nav-drawer-hierarchical/nav-drawer-hierarchical.component.spec.ts
  src/app/menus/navdrawer/nav-drawer-hierarchical/nav-drawer-hierarchical.component.ts
Labels: status: verified, navigation drawer, tree

#3073 Extended Validator Service Sample
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/data/hierarchical-data.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-validator-service-extended/grid-validator-service-extended.component.html
  src/app/grid/grid-validator-service-extended/grid-validator-service-extended.component.scss
  src/app/grid/grid-validator-service-extended/grid-validator-service-extended.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid-validator-service-extended/hierarchical-grid-validator-service-extended.component.html
  src/app/hierarchical-grid/hierarchical-grid-validator-service-extended/hierarchical-grid-validator-service-extended.component.scss
  src/app/hierarchical-grid/hierarchical-grid-validator-service-extended/hierarchical-grid-validator-service-extended.component.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/data/employees-flat.ts
  src/app/tree-grid/tree-grid-batch-editing/tree-grid-batch-editing-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-validator-service-extended/tree-grid-validator-service-extended.component.html
  src/app/tree-grid/tree-grid-validator-service-extended/tree-grid-validator-service-extended.component.scss
  src/app/tree-grid/tree-grid-validator-service-extended/tree-grid-validator-service-extended.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified, grid

#3087 feat(list): adding list item selection sample
  live-editing/configs/ListConfigGenerator.ts
  package-lock.json
  package.json
  src/app/lists/list/list-item-selection/list-item-selection.component.html
  src/app/lists/list/list-item-selection/list-item-selection.component.scss
  src/app/lists/list/list-item-selection/list-item-selection.component.spec.ts
  src/app/lists/list/list-item-selection/list-item-selection.component.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
Labels: status: verified, list

#3091 Remove some code from the old API. Fix tree grid cross-field cells wi…
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.html
  src/app/hierarchical-grid/hierarchical-grid-validator-service-extended/hierarchical-grid-validator-service-extended.component.html
  src/app/hierarchical-grid/hierarchical-grid-validator-service-extended/hierarchical-grid-validator-service-extended.component.ts
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.html
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#3093 chore(*): Update stackblitz samples with 14.1.0 version
  package-lock.json
  package.json
Labels: status: verified
