Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-06, with the labels that each got.

#3021 feat(ng14): migrating the project
  angular.json
  package-lock.json
  package.json
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.module.ts
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.module.ts
  projects/app-lob/src/app/grid/grids.module.ts
  src/app/data-entries/radio/radio-group-sample/radio-group-sample.component.ts
  src/app/how-to/reactive-forms/reactive-forms.component.ts
  src/app/interactions/interactions.module.ts
  src/app/layouts/stepper/stepper-overview-sample/stepper-overview-sample.component.ts
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.ts
  src/app/theming/angular/angular-sample.component.ts
  src/app/theming/bootstrap/bootstrap-sample.component.scss
  tsconfig.json
Labels: dependencies, version: 14.0.x

#3025 fix(stepper): change referenced forms type
  src/app/layouts/stepper/stepper-overview-sample/stepper-overview-sample.component.ts
Labels: status: verified, stepper

#3029 feat(*): updating igniteui-angular to 14.0.0
  .github/workflows/build-app-crm.yml
  .github/workflows/build-app-lob.yml
  azure-pipelines.yml
  package-lock.json
  package.json
Labels: status: verified, squash-merge

#3028 close snackbar on page change
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.ts
Labels: status: verified, hierarchical-grid, snackbar

#3039 fix(slider): update ngModel from input on blur #3036
  src/app/interactions/slider/slider-sample-1/slider-sample-1.component.html
  src/app/interactions/slider/slider-sample-4/slider-sample-4.component.html
  src/app/interactions/slider/slider-styling-sample/app-slider-styling.component.html
Labels: status: verified, slider

#3044 chore(ci): updating @angular-eslint to 14.0
  angular.json
  package-lock.json
  package.json
Labels: build-ci
