Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-10, with the labels that each got.

#3101 add query builder samples
  live-editing/configs/QueryBuilderConfigGenerator.ts
  live-editing/generators/ConfigGenerators.ts
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.html
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.scss
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.ts
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.html
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.scss
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.ts
Labels: status: verified, version: 14.2.x

#3106 refactor(query-builder): improve styling sample
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.scss
Labels: status: verified, refactoring, version: 14.2.x, query-builder

#3110 branch the logic inside rowEditDone
  src/app/grid/grid-crud-sample/crud-sample.component.ts
Labels: status: verified

#3125 fix(slider): add import of hammer module for interactions to work properly - vNext
  live-editing/configs/SliderConfigGenerator.ts
Labels: slider

#3124 fix(slider): add import of hammer module for interactions to work properly - master
  live-editing/configs/SliderConfigGenerator.ts
Labels: slider

#3120 fix(boston-maraton): change winner text to be black - master
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.scss
Labels: status: verified

#3116 feat(pivot-grid): export sample improvements - vNext
  src/app/pivot-grid/pivot-export/pivot-export.component.html
  src/app/pivot-grid/pivot-export/pivot-export.component.scss
  src/app/pivot-grid/pivot-export/pivot-export.component.ts
Labels: status: in-test

#3122 fix(FinJSDemoComponent): Finjs category chart
  projects/app-lob/src/app/grid-finjs/main.component.html
  projects/app-lob/src/app/grid-finjs/main.component.scss
  projects/app-lob/src/app/grid-finjs/main.component.ts
Labels: status: verified

#3123 Add default og meta tags
  gulpfile.js
  package.json
  projects/app-lob/src/app/metadata.js
  projects/app-lob/src/index.html
Labels: status: verified

#3134 style(sample): use css-vars mixin to add the themes
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.scss
Labels: status: verified, grid, styling

#3133 style(sample): use css-vars mixin to add the themes
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.scss
Labels: status: verified, grid, styling

#3140 Update grid-crm dark theme
  projects/app-crm/src/app/grid-crm/grid-crm.component.scss
Labels: status: awaiting-test, styling, theming, crm-grid, version: 15.0.x

#3144 Update dark grid CRM styles
  projects/app-crm/src/app/grid-crm/grid-crm.component.scss
Labels: status: verified, styling, theming, crm-grid, version: 15.0.x
