Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-11, with the labels that each got.

#3146 refactor(lob): improve theming widget integration
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.scss
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.scss
  projects/app-lob/src/app/grid-finjs/controllers.component.scss
  projects/app-lob/src/app/grid-finjs/grid-finjs.component.scss
  projects/app-lob/src/app/grid-finjs/main.component.scss
  projects/app-lob/src/app/grid/grid-master-detail/grid-master-detail.component.scss
  projects/app-lob/src/app/hierarchical-grid/hierarchical-grid-column-resizing/hierarchical-grid-resizing.component.scss
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.scss
  projects/app-lob/src/styles.scss
Labels: status: verified, theming, finjs-grid, version: 15.0.x

#3152 ci(*): create codeql.yml
  .github/workflows/build-app-crm.yml
  .github/workflows/build-app-lob.yml
  .github/workflows/codeql.yml
  projects/app-lob/src/app/grid-finjs/main.component.html
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.ts
  src/app/grid/grid-crud-sample/crud-sample.component.ts
  src/app/layouts/carousel/carousel-animations-sample/carousel-animations-sample.component.html
Labels: build-ci

#3153 chore: update igniteui-angular@14.2.6
  package-lock.json
  package.json
Labels: version: 14.2.x

#3148 Add summary export samples to grids
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-summary-export/grid-summary-export.component.html
  src/app/grid/grid-summary-export/grid-summary-export.component.scss
  src/app/grid/grid-summary-export/grid-summary-export.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hgrid-summary-export/hgrid-summary-export.component.html
  src/app/hierarchical-grid/hgrid-summary-export/hgrid-summary-export.component.scss
  src/app/hierarchical-grid/hgrid-summary-export/hgrid-summary-export.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-summary-export/tree-grid-summary-export.component.html
  src/app/tree-grid/tree-grid-summary-export/tree-grid-summary-export.component.scss
  src/app/tree-grid/tree-grid-summary-export/tree-grid-summary-export.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified

#3161 fix(localization): Fix localization in monthpicker sample
  src/app/scheduling/monthpicker/monthpicker-sample-3/monthpicker-sample-3.component.ts
Labels: status: awaiting-test, month picker

#3173 fix(month-picker): fix localization in monthpicker sample on vNext
  src/app/scheduling/monthpicker/monthpicker-sample-3/monthpicker-sample-3.component.ts
Labels: status: verified

#3166 Fix summary export samples config generators
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: in-test

#3159 Add loading indicator for cascading simple combo sample vNext
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.html
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.ts
  src/app/lists/lists.module.ts
Labels: enhancement, status: verified, simple-combo

#3160 Add loading indicator for cascading simple combo sample master
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.html
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.ts
  src/app/lists/lists.module.ts
Labels: enhancement, status: verified, simple-combo

#3128 Add Simple Combo remote binding sample and filtering to Combo remote binding sample
  src/app/lists/combo/combo-remote/combo-remote.component.html
  src/app/lists/combo/combo-remote/combo-remote.component.ts
  src/app/lists/combo/simple-combo-remote/simple-combo-remote.component.html
  src/app/lists/combo/simple-combo-remote/simple-combo-remote.component.scss
  src/app/lists/combo/simple-combo-remote/simple-combo-remote.component.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
Labels: status: verified, combo, simple-combo

#3178 Import IgxSwitchModule for the Grid, Tree and Hierarchical grids Validator Service samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: verified, grid, tree-grid, hierarchical-grid

#3097 Cancel rowEdit on invalid state for Grid Cross Field validation sample. Tweak styles.
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.html
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.scss
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.ts
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.html
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.scss
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.ts
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.html
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.scss
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.ts
Labels: status: verified, version: 14.2.x

#3183 fix(grids): improve the appearance of the pinning icon in the Custom Column Pinning UI samples - vNext
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-sample-pinning/grid-pinning.component.html
  src/app/grid/grid-sample-pinning/grid-pinning.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.ts
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.html
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.scss
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.ts
Labels: status: verified, grid, pinning, tree-grid, hierarchical-grid

#3185 feat(image column): updating column datatypes sample
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.html
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.ts
  src/assets/images/products/aniseed.jpg
  src/assets/images/products/cajun-seasoning.jpg
  src/assets/images/products/chai.jpg
  src/assets/images/products/chang.jpg
  src/assets/images/products/chef-antons-gumbo-mix.jpg
  src/assets/images/products/cranberry-sauce.jpg
  src/assets/images/products/grandmas-boysenberry-spread.jpg
  src/assets/images/products/mishi-kobe-niku.jpg
  src/assets/images/products/uncle-bobs-organic-dried-pears.jpg
Labels: status: verified, column-types, version: 15.0.x

#3174 fix(calendar): Fix localization in calendar sample on vNext
  src/app/scheduling/calendar/calendar-sample-2/calendar-sample-2.component.ts
Labels: status: verified, calendar

#3171 fix(calendar): Fix localization in calendar sample
  src/app/scheduling/calendar/calendar-sample-2/calendar-sample-2.component.ts
  src/app/scheduling/monthpicker/monthpicker-sample-3/monthpicker-sample-3.component.ts
Labels: status: verified

#3186 Merging vNext to master
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.html
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.ts
  src/app/grid/grid-sample-pinning/grid-pinning.component.html
  src/app/grid/grid-sample-pinning/grid-pinning.component.scss
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.html
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.scss
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.html
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.scss
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.ts
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.html
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.scss
  src/app/hierarchical-grid/hierarchical-grid-cross-field-validation/hierarchical-grid-cross-field-validation.component.ts
  src/app/lists/combo/combo-remote/combo-remote.component.html
  src/app/lists/combo/combo-remote/combo-remote.component.ts
  src/app/lists/combo/simple-combo-remote/simple-combo-remote.component.html
  src/app/lists/combo/simple-combo-remote/simple-combo-remote.component.scss
  src/app/lists/combo/simple-combo-remote/simple-combo-remote.component.ts
  src/app/lists/lists-routes-data.ts
  src/app/lists/lists-routing.module.ts
  src/app/lists/lists.module.ts
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.html
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.scss
  src/app/tree-grid/tree-grid-column-pinning-sample/tree-grid-column-pinning-sample.component.ts
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.html
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.scss
  src/app/tree-grid/tree-grid-validator-service-cross-field/tree-grid-validator-service-cross-field.component.ts
  src/assets/images/products/aniseed.jpg
  src/assets/images/products/cajun-seasoning.jpg
  src/assets/images/products/chai.jpg
  src/assets/images/products/chang.jpg
  src/assets/images/products/chef-antons-gumbo-mix.jpg
  src/assets/images/products/cranberry-sauce.jpg
  src/assets/images/products/grandmas-boysenberry-spread.jpg
  src/assets/images/products/mishi-kobe-niku.jpg
  src/assets/images/products/uncle-bobs-organic-dried-pears.jpg
Labels: status: verified
