Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-03, with the labels that each got.

#2946 chore(bootstrap): update palette colors
  src/assets/images/svg/arctic-blue.svg
Labels: status: awaiting-test, theming, version: 13.1.x

#2940 sample(treegrid-esf): add tree filter view sample
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid-tree-filter-view/tree-grid-tree-filter-view.component.html
  src/app/tree-grid/tree-grid-tree-filter-view/tree-grid-tree-filter-view.component.scss
  src/app/tree-grid/tree-grid-tree-filter-view/tree-grid-tree-filter-view.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: verified, tree-grid

#2938 Reverts hierarchical data where deleted
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  src/app/data/hierarchical-data.ts
  src/app/grid/grid-save-state/about.component.html
  src/app/hierarchical-grid/column-group-selection/hierarchical-grid-column-group-selection.component.ts
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.html
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.ts
  src/app/hierarchical-grid/hierarchical-grid-collapsible-column-groups/hierarchical-grid-collapsible-column-groups.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-moving-styled/hierarchical-grid-moving-styled.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-moving/hierarchical-grid-moving.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-pinning.component.ts
  src/app/hierarchical-grid/hierarchical-grid-column-pinning/hierarchical-grid-toolbar-pinning.component.ts
  src/app/hierarchical-grid/hierarchical-grid-display-density/hierarchical-grid-density.component.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-cell-style/hierarchical-grid-multi-cell-style.component.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-column-header-template/hierarchical-grid-multi-column-template.component.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers-export/hierarchical-grid-multi-column-export.component.html
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers-styling/hierarchical-grid-multi-column-styling.component.ts
  src/app/hierarchical-grid/hierarchical-grid-multi-column-headers/hierarchical-grid-multi-column.component.ts
  src/app/hierarchical-grid/hierarchical-grid-save-state/about.component.html
  src/app/tree-grid/tree-grid-save-state/about.component.html
Labels: status: verified

#2962 fix(tree-filter): add live editing config
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: verified, live-editing

#2960 fix(navbar): add button module to imports
  live-editing/configs/NavbarConfigGenerator.ts
Labels: status: verified, StackBlitz, navbar, live-editing

#2964 fix(navbar): add button module to imports - master
  live-editing/configs/NavbarConfigGenerator.ts
Labels: status: verified, StackBlitz, navbar, live-editing

#2963 fix(tree-filter): add live editing config - master
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: verified, live-editing

#2968 fix(): update live editing and fix sample configs
  live-editing/configs/ComboConfigGenerator.ts
  live-editing/configs/app-dv-configs/DVHierarchicalGridConfig.ts
  package-lock.json
  package.json
Labels: status: verified

#2970 fix(): simple combo configs
  live-editing/configs/ComboConfigGenerator.ts
Labels: status: verified

#2969 fix(): update live editing and fix sample configs - master
  live-editing/configs/ComboConfigGenerator.ts
  live-editing/configs/app-dv-configs/DVHierarchicalGridConfig.ts
  package-lock.json
  package.json
Labels: status: verified

#2973 samples(dm): update dock manager to 1.7.0
  package-lock.json
  package.json
  src/app/layouts/dock-manager/dock-manager-sample/dock-manager.component.ts
Labels: status: verified, dock manager

#2974 samples(dm): update dock manager to 1.7.0
  package-lock.json
  package.json
  src/app/layouts/dock-manager/dock-manager-sample/dock-manager.component.ts
Labels: status: verified, dock manager

#2976 chore(*): Update to 13.1.5
  package-lock.json
  package.json
Labels: status: in-test, version: 13.1.x

#2980 Add scrollbar theme in data analysis samples
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.scss
Labels: status: awaiting-test

#2977 Fix issues with custom group by sample
  src/app/grid/grid-groupby-custom-sample/grid-groupby-custom-sample.component.html
Labels: status: verified

#2983 Add delete row functionality for grid-batch-editing-sample
  src/app/grid/grid-batch-editing/grid-batch-editing-sample.component.html
  src/app/grid/grid-batch-editing/grid-batch-editing-sample.component.ts
Labels: status: awaiting-test, grid

#2986 Increase sample height for hgrid keyboard nav.
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.html
  src/app/hierarchical-grid/hgrid-keybarod-nav-guide-sample/hgrid-keyboard-guide.component.scss
Labels: status: verified

#2972 Updates hierarchical grid config to include reference to models
  live-editing/configs/HierarchicalGridConfigGenerator.ts
Labels: status: verified, StackBlitz, hierarchical-grid

#2975 Updates hierarchical grid config to include reference to models
  live-editing/configs/HierarchicalGridConfigGenerator.ts
Labels: status: verified, StackBlitz, hierarchical-grid
