Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-08, with the labels that each got.

#3053 feat(samples): add typed form sample
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/input-group/typed-form/typed-form.component.html
  src/app/data-entries/input-group/typed-form/typed-form.component.scss
  src/app/data-entries/input-group/typed-form/typed-form.component.spec.ts
  src/app/data-entries/input-group/typed-form/typed-form.component.ts
  src/app/data-entries/radio/radio-group-sample/radio-group-sample.component.ts
  src/app/how-to/reactive-forms/reactive-forms.component.ts
  src/app/scheduling/datepicker/reactive-form/reactive-form.component.ts
  src/app/theming/angular/angular-sample.component.ts
Labels: status: in-test, input-group, radio

#3059 chore: ng update @ng-bootstrap/ng-bootstrap@13.0.0
  package-lock.json
  package.json
Labels: status: verified, version: 14.1.x

#3060 chore: ng update @ng-bootstrap/ng-bootstrap@13.0.0
  package-lock.json
  package.json
Labels: status: verified, version: 14.0.x

#3054 V dyulgerov/missing http client module vnext
  live-editing/configs/IconConfigGenerator.ts
Labels: status: verified, icon

#3064 Update live-editing version and fix sample configs
  live-editing/configs/GridConfigGenerator.ts
  package-lock.json
  package.json
Labels: status: verified

#3066 docs(rating): adding two samples for rating
  package-lock.json
  package.json
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/rating/rating-form/rating-form.component.html
  src/app/data-entries/rating/rating-form/rating-form.component.scss
  src/app/data-entries/rating/rating-form/rating-form.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-with-rating/grid-with-rating.component.html
  src/app/grid/grid-with-rating/grid-with-rating.component.scss
  src/app/grid/grid-with-rating/grid-with-rating.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/interactions/slider/slider-styling-sample/app-slider-styling.component.scss
Labels: status: in-test, version: 14.1.x, rating

#3068 Fix ExpressionChangedAfterItHasBeenCheckedError in Grid Pager sample
  src/app/grid/grid-pager-sample/grid-pager-sample.component.ts
Labels: status: verified

#3069 Ttonev autosizing sample
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
  package-lock.json
  package.json
  src/app/grid/grid-column-autosizing/grid-column-autosizing.component.html
  src/app/grid/grid-column-autosizing/grid-column-autosizing.component.scss
  src/app/grid/grid-column-autosizing/grid-column-autosizing.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
  src/app/hierarchical-grid/hgrid-column-autosizing/hgrid-column-autosizing.component.html
  src/app/hierarchical-grid/hgrid-column-autosizing/hgrid-column-autosizing.component.scss
  src/app/hierarchical-grid/hgrid-column-autosizing/hgrid-column-autosizing.component.ts
  src/app/hierarchical-grid/hierarchical-grid-routes-data.ts
  src/app/hierarchical-grid/hierarchical-grid-routing.module.ts
  src/app/hierarchical-grid/hierarchical-grid.module.ts
  src/app/tree-grid/tree-grid-routes-data.ts
  src/app/tree-grid/tree-grid-routing.module.ts
  src/app/tree-grid/tree-grid.module.ts
  src/app/tree-grid/treegrid-column-autosizing/treegrid-column-autosizing.component.html
  src/app/tree-grid/treegrid-column-autosizing/treegrid-column-autosizing.component.scss
  src/app/tree-grid/treegrid-column-autosizing/treegrid-column-autosizing.component.ts
Labels: status: in-test, grid, tree-grid, hierarchical-grid
