Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-05, with the labels that each got.

#2993 Show snackbar in selection samples
  src/app/grid/grid-cellSelection-sample/grid-cellSelection.component.html
  src/app/grid/grid-cellSelection-sample/grid-cellSelection.component.scss
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.scss
  src/app/hierarchical-grid/hierarchical-grid-cellSelection-sample/hierarchical-grid-cellSelection.component.html
  src/app/hierarchical-grid/hierarchical-grid-cellSelection-sample/hierarchical-grid-cellSelection.component.scss
  src/app/hierarchical-grid/hierarchical-grid-cellSelection-sample/hierarchical-grid-cellSelection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.html
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.scss
  src/app/tree-grid/tree-grid-cellSelection-sample/tree-grid-cellSelection.component.html
  src/app/tree-grid/tree-grid-cellSelection-sample/tree-grid-cellSelection.component.scss
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.html
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.scss
Labels: status: verified, grid, tree-grid, hierarchical-grid, snackbar

#3002 Update to latest 13.2.0-beta.0
  package-lock.json
  package.json
Labels: status: verified

#2992 Add sorting options in grid/tree grid samples
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.html
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.scss
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.ts
  src/app/tree-grid/tree-grid-sorting-sample/tree-grid-sorting-sample.component.html
  src/app/tree-grid/tree-grid-sorting-sample/tree-grid-sorting-sample.component.scss
  src/app/tree-grid/tree-grid-sorting-sample/tree-grid-sorting-sample.component.ts
Labels: status: awaiting-test, grid

#3009 Add the improvements in grid/tree grid sorting samples
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.html
  src/app/grid/grid-sorting-sample/grid-sorting-sample.component.ts
  src/app/grid/grids.module.ts
  src/app/tree-grid/tree-grid-sorting-sample/tree-grid-sorting-sample.component.html
  src/app/tree-grid/tree-grid-sorting-sample/tree-grid-sorting-sample.component.ts
  src/app/tree-grid/tree-grid.module.ts
Labels: status: awaiting-test, grid

#3010 feat(expansion-panel): remove sample expansion panel paddings
  src/app/layouts/accordion/accordion-sample-1/accordion-sample-1.component.html
  src/app/layouts/accordion/accordion-sample-1/accordion-sample-1.component.scss
  src/app/layouts/accordion/accordion-sample-2/accordion-sample-2.component.html
  src/app/layouts/accordion/accordion-sample-2/accordion-sample-2.component.scss
  src/app/layouts/accordion/accordion-sample-3/accordion-sample-3.component.html
  src/app/layouts/accordion/accordion-sample-3/accordion-sample-3.component.scss
  src/app/layouts/expansion-panel/expansion-sample-1/expansion-sample-1.component.html
  src/app/layouts/expansion-panel/expansion-sample-1/expansion-sample-1.component.scss
  src/app/layouts/expansion-panel/expansion-sample-2/expansion-sample-2.component.html
  src/app/layouts/expansion-panel/expansion-sample-2/expansion-sample-2.component.scss
  src/app/layouts/expansion-panel/expansion-sample-3/expansion-sample-3.component.scss
  src/app/layouts/expansion-panel/expansion-sample-4/expansion-sample-4.component.html
  src/app/layouts/expansion-panel/expansion-sample-4/expansion-sample-4.component.scss
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.html
  src/app/layouts/expansion-panel/expansion-sample-5/expansion-sample-5.component.scss
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.scss
Labels: status: awaiting-test, theming, expansion panel
