Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2022-07, with the labels that each got.

#3049 Replace ng-template with ng-container when ng-template has ngTemplate…
  src/app/lists/tree/tree-advanced-sample/tree-advanced-sample.component.html
Labels: status: verified

#3040 Replace ng-template with ng-container when ng-template has ngTemplate…
  src/app/lists/tree/tree-advanced-sample/tree-advanced-sample.component.html
Labels: status: verified

#3055 fix(icon): add missing httpClientModule
  live-editing/configs/IconConfigGenerator.ts
Labels: status: verified, icon

#3051 fix(grid-selection):Updating the use of rowSelectionChanging event in…
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.scss
  src/app/grid/grid-sample-selection/grid-selection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.html
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.scss
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.ts
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.html
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.scss
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.ts
Labels: status: verified, grid, row-selection

#3056 fix(grid-selection): Updating the use of rowSelectionChanging event i…
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.scss
  src/app/grid/grid-sample-selection/grid-selection.component.ts
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.html
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.scss
  src/app/hierarchical-grid/hierarchical-grid-selection/hierarchical-grid-selection.component.ts
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.html
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.scss
  src/app/tree-grid/tree-grid-selection-sample/tree-grid-selection-sample.component.ts
Labels: status: verified

#3058 Refactor row actions samples
  src/app/grid/grid-action-strip/grid-action-strip-sample.html
  src/app/grid/grid-action-strip/grid-action-strip-sample.scss
  src/app/grid/grid-action-strip/grid-action-strip-sample.ts
  src/app/hierarchical-grid/hierarchical-grid-action-strip/hierarchical-grid-action-strip-sample.html
  src/app/hierarchical-grid/hierarchical-grid-action-strip/hierarchical-grid-action-strip-sample.scss
  src/app/hierarchical-grid/hierarchical-grid-action-strip/hierarchical-grid-action-strip-sample.ts
  src/app/tree-grid/tree-grid-action-strip/tree-grid-action-strip-sample.html
  src/app/tree-grid/tree-grid-action-strip/tree-grid-action-strip-sample.scss
  src/app/tree-grid/tree-grid-action-strip/tree-grid-action-strip-sample.ts
Labels: status: verified, grid, tree-grid, hierarchical-grid
