Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-06, with the labels that each got.

#3332 fix(date-picker-styling-sample): add ng-deep selector to apply custom theme
  src/app/scheduling/datepicker/datepicker-styling-sample/datepicker-styling-sample.component.scss
Labels: status: verified, date-picker

#3341 chore(*): Update live-editing with codesandbox setup configs
  package-lock.json
  package.json
Labels: status: verified

#3344 chore(*): create submodule csb config folder
  gulpfile.js
Labels: status: verified

#3345 chore(*): Update codesandbox config
  gulpfile.js
  package-lock.json
  package.json
Labels: status: verified

#3340 fix(snackbar): add element ref to the outlet property to apply the custom theme
  src/app/notifications/snackbar/snackbar-style/snackbar-style.component.html
  src/app/notifications/snackbar/snackbar-style/snackbar-style.component.ts
Labels: status: verified, snackbar

#3343 fix(toast): add element ref to the outlet property to apply the custom theme
  src/app/notifications/toast/toast-style/toast-style.component.html
  src/app/notifications/toast/toast-style/toast-style.component.ts
Labels: status: verified, toast

#3333 fix(grid-mrl-styling): remove encapsulation property
  src/app/grid/grid-multi-row-layout-styling/grid-multi-row-layout-styling.component.ts
Labels: status: verified, grid, styling

#3334 fix(grid-pinning-styling): apply custom styles
  src/app/grid/grid-sample-pinning-styling/grid-pinning-styling.component.html
  src/app/grid/grid-sample-pinning-styling/grid-pinning-styling.component.scss
  src/app/grid/grid-sample-pinning-styling/grid-pinning-styling.component.ts
Labels: status: verified, grid, pinning

#3330 feat(icon): material symbols sample
  live-editing/configs/IconConfigGenerator.ts
  src/app/data-display/data-display-routes-data.ts
  src/app/data-display/data-display-routing.module.ts
  src/app/data-display/data-display.module.ts
  src/app/data-display/icon/material-symbols/material-symbols.component.html
  src/app/data-display/icon/material-symbols/material-symbols.component.scss
  src/app/data-display/icon/material-symbols/material-symbols.component.ts
Labels: status: verified, icon

#3348 IgxGrid custom group by sample, fix imports
  live-editing/configs/GridConfigGenerator.ts
Labels: status: verified, grid, group by

#3350 chore(*): update angular compiler-cli
  package-lock.json
  package.json
Labels: status: verified

#3354 fix(banner): add encapsulation and apply the theme to the element
  src/app/notifications/banner/banner-styling/banner-styling.component.scss
  src/app/notifications/banner/banner-styling/banner-styling.component.ts
Labels: status: verified, banner

#3357 chore(*): update live-editing version
  package-lock.json
  package.json
Labels: status: in-test
