Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-09, with the labels that each got.

#3384 chore(*): include extras functionality in analysis sample
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.html
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.module.ts
Labels: status: verified

#3390 fix(grid-sorting): add IgxButtonModule
  live-editing/configs/GridConfigGenerator.ts
Labels: status: verified, grid

#3392 fix(esf-template): add IgxIconModule
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: verified, grid, tree-grid, hierarchical-grid
