Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-08, with the labels that each got.

#3363 style(advanced-filtering-dialog): refactor styling
  src/app/grid/grid-advanced-filtering-style/grid-advanced-filtering-style.component.scss
Labels: status: verified, grid

#3373 fix(nav-drawer): add ng-deep selector to apply custom theme
  src/app/menus/navdrawer/nav-drawer-styling/nav-drawer-styling.component.scss
Labels: status: verified, navigation drawer

#3375 refactor(icon): update icon size sample
  src/app/data-display/icon/icon-sample-2/icon-sample-2.component.scss
Labels: icon

#3380 fix(grids): Alter conditional row selection samples according to changed API
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.html
  src/app/grid/grid-conditional-row-selectors/grid-conditional-row-selectors-sample.component.ts
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.html
  src/app/hierarchical-grid/hierarchical-grid-conditional-row-selectors/hierarchical-grid-conditional-row-selectors.component.ts
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.html
  src/app/tree-grid/tree-grid-conditional-row-selectors/tree-grid-conditional-row-selectors.component.ts
Labels: status: verified, grid, tree-grid, hierarchical-grid, row-selection
