Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-01, with the labels that each got.

#3222 Tree Grid Row Reordering sample: remove childDataKey input
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.html
  src/app/tree-grid/tree-grid-row-reorder/tree-grid-row-reorder.component.scss
Labels: status: verified, tree-grid

#3208 feat(selection-samples): add second section to display events
  src/app/grid/grid-cellSelection-sample/grid-cellSelection.component.html
  src/app/grid/grid-cellSelection-sample/grid-cellSelection.component.scss
  src/app/grid/grid-cellSelection-sample/grid-cellSelection.component.ts
  src/app/grid/grid-contextmenu-sample/grid-contextmenu-sample.component.ts
  src/app/grid/grid-sample-selection/grid-selection.component.html
  src/app/grid/grid-sample-selection/grid-selection.component.scss
  src/app/grid/grid-sample-selection/grid-selection.component.ts
Labels: status: in-test, grid, multi-cell selection, row-selection

#3219 Fix horizontal card sample live-editing
  live-editing/configs/CardConfigGenerator.ts
Labels: status: verified, card

#3220 Add styles file to the tree grid load on demand sample
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: verified, tree-grid

#3224 Fix styles of the grid sample with custom editing template
  src/app/grid/grid-composite-data-binding/grid-composite-data.component.scss
Labels: status: verified, grid

#3214 feat(grid): add sample with state persistance
  live-editing/configs/GridConfigGenerator.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grid-state-persistence-sample/grid-state-persistance-sample.component.html
  src/app/grid/grid-state-persistence-sample/grid-state-persistance-sample.component.scss
  src/app/grid/grid-state-persistence-sample/grid-state-persistance-sample.component.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: in-test, grid, state-persistence

#3225 chore(*): updating dependencies
  angular.json
  package-lock.json
  package.json
Labels: dependencies

#3223 Ikitanov/list 2988 v next
  src/app/lists/list/list-item-selection/list-item-selection.component.html
  src/app/lists/list/list-item-selection/list-item-selection.component.scss
  src/app/lists/list/list-item-selection/list-item-selection.component.ts
  src/app/lists/list/list-sample-4/list-sample-4.component.html
  src/app/lists/list/list-sample-4/list-sample-4.component.scss
  src/app/lists/list/list-sample-4/list-sample-4.component.ts
  src/app/lists/list/list-sample-7/list-sample-7.component.html
  src/app/lists/list/list-sample-7/list-sample-7.component.scss
  src/app/lists/list/list-sample-7/list-sample-7.component.ts
  src/app/lists/list/list-sample-8/list-sample-8.component.html
  src/app/lists/list/list-sample-8/list-sample-8.component.scss
  src/app/lists/list/list-sample-8/list-sample-8.component.ts
Labels: status: verified

#3229 Add product images to app-lob
  projects/app-lob/src/assets/images/products/aniseed.jpg
  projects/app-lob/src/assets/images/products/cajun-seasoning.jpg
  projects/app-lob/src/assets/images/products/chai.jpg
  projects/app-lob/src/assets/images/products/chang.jpg
  projects/app-lob/src/assets/images/products/chef-antons-gumbo-mix.jpg
  projects/app-lob/src/assets/images/products/cranberry-sauce.jpg
  projects/app-lob/src/assets/images/products/grandmas-boysenberry-spread.jpg
  projects/app-lob/src/assets/images/products/mishi-kobe-niku.jpg
  projects/app-lob/src/assets/images/products/uncle-bobs-organic-dried-pears.jpg
Labels: status: verified, grid, column-types

#3231 Add support for the last 2 major versions of Safari
  .browserslistrc
Labels: status: verified, browser: safari

#3234 Change crm routing paths
  projects/app-crm/src/app/app.routing.module.ts
Labels: status: awaiting-test

#3235 Include docs-layout and home to crm project structure
  live-editing/Routes.ts
  package.json
  projects/app-crm/src/app/app.module.ts
  projects/app-crm/src/app/app.routing.module.ts
  projects/app-crm/src/app/grid-crm/grid-crm-routes-data.ts
  projects/app-crm/src/app/home/home.component.html
  projects/app-crm/src/app/home/home.component.scss
  projects/app-crm/src/app/home/home.component.ts
  projects/app-crm/src/app/index/docs-layout.component.scss
  projects/app-crm/src/app/index/docs-layout.component.ts
  projects/app-crm/src/app/index/index.component.html
  projects/app-crm/src/app/index/index.component.scss
  projects/app-crm/src/app/index/index.component.ts
  projects/app-crm/src/assets/images/home/Play.svg
  projects/app-crm/src/assets/images/home/angular-image.png
  projects/app-crm/src/assets/images/home/angular-logo.png
  projects/app-crm/src/assets/images/home/hero-background.png
  projects/app-crm/src/assets/images/home/ig-logo.svg
  projects/app-crm/src/assets/images/home/installing-CLI.gif
  projects/app-crm/src/assets/images/home/usage-CLI.gif
  projects/app-crm/src/assets/images/rsrcs/igniteui-angular_logo.svg
  projects/app-crm/src/assets/images/rsrcs/jsblocks-logo.svg
  projects/app-crm/src/assets/images/rsrcs/sample-background.svg
  projects/app-crm/src/assets/images/rsrcs/toast-bg-bottom.svg
  projects/app-crm/src/assets/images/rsrcs/toast-bg-middle.svg
  projects/app-crm/src/assets/images/rsrcs/toast-bg-top.svg
Labels: status: awaiting-test

#3240 Change grid crm live editing structure
  live-editing/Routes.ts
  package-lock.json
  package.json
  projects/app-crm/src/app/app-routing.module.ts
  projects/app-crm/src/app/app.module.ts
  projects/app-crm/src/app/app.routing.module.ts
  projects/app-crm/src/app/grid-crm/grid-crm-routing.module.ts
  projects/app-crm/src/app/grid-crm/grid-crm.module.ts
Labels: status: awaiting-test
