Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-12, with the labels that each got.

#3418 refactor(angular material): components and styling
  src/app/theming/angular/angular-sample.component.html
  src/app/theming/angular/angular-sample.component.scss
  src/app/theming/angular/angular-sample.component.ts
Labels: status: awaiting-test, refactoring, version: 17.0.x

#3424 fix(grid): refactor excel style editing sample
  src/app/grid/grid-editing-excel-style/grid-editing-excel-style.component.ts
Labels: status: awaiting-test, grid

#3423 fix(grid): remove crud service from excel style editing sample
  src/app/grid/grid-editing-excel-style/grid-editing-excel-style.component.ts
Labels: status: resolved, grid
