Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-03, with the labels that each got.

#3237 Add some initially selected nodes in drop-down hierarchical selection samples
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.ts
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.html
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.ts
Labels: status: verified, dropdown

#3263 chore(avatar): update samples with new shape
  projects/app-crm/src/app/grid-crm/grid-crm.component.html
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.html
  projects/app-lob/src/app/grid/grid-master-detail/grid-master-detail.component.html
  src/app/data-display/badge/badge-sample-2/badge-sample-2.component.html
  src/app/data-display/badge/badge-sample-3/badge-sample-3.component.html
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.html
  src/app/data-display/chip/chip-area-sample/chip-area-sample.component.html
  src/app/data-display/igxFor/igxFor-horizontal-sample/igxFor-horizontal.component.html
  src/app/data-display/igxFor/igxFor.component.html
  src/app/grid/grid-sample-right-pinning/grid-right-pinning.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-1.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-2.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-3.component.html
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-4.component.html
  src/app/grid/grid-toolbar-style/grid-toolbar-style.component.html
  src/app/grid/grid-validator-service-cross-field/grid-validator-service-cross-field.component.html
  src/app/grid/grid-validator-service-extended/grid-validator-service-extended.component.html
  src/app/grid/grid-validator-service/grid-validator-service.component.html
  src/app/hierarchical-grid/hierarchical-grid-sample-right-pinning/hierarchical-grid-right-pinning.component.html
  src/app/interactions/ripple/ripple-stying/ripple-styling-sample.component.html
  src/app/interactions/tooltip/tooltip-rich/tooltip-rich.component.html
  src/app/interactions/tooltip/tooltip-simple/tooltip-simple.component.html
  src/app/interactions/tooltip/tooltip-style/tooltip-style.component.html
  src/app/layouts/avatar/avatar-css-variables/avatar-css-variables.component.html
  src/app/layouts/avatar/avatar-sample-1/avatar-sample-1.component.html
  src/app/layouts/avatar/avatar-sample-2/avatar-sample-2.component.html
  src/app/layouts/avatar/avatar-sample-3/avatar-sample-3.component.html
  src/app/layouts/avatar/avatar-sample-4/avatar-sample-4.component.html
  src/app/layouts/avatar/avatar-styling/avatar-styling.component.html
  src/app/layouts/card/card-sample-4/card-sample-4.component.html
  src/app/lists/list/list-chat-sample/list-chat-sample.component.html
  src/app/lists/list/list-item-selection/list-item-selection.component.html
  src/app/lists/list/list-sample-4/list-sample-4.component.html
  src/app/lists/list/list-sample-7/list-sample-7.component.html
  src/app/lists/list/list-sample-8/list-sample-8.component.html
  src/app/lists/list/list.component.html
  src/app/notifications/banner/banner-sample-4/banner-sample-4.component.html
  src/app/notifications/snackbar/snackbar-sample-4/snackbar-sample-4.component.html
  src/app/theming/angular/angular-sample.component.html
  src/app/theming/bootstrap/bootstrap-sample.component.html
  src/app/tree-grid/tree-grid-style/tree-grid-style.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-1/tree-grid-toolbar-sample-1.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-2/tree-grid-toolbar-sample-2.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-3/tree-grid-toolbar-sample-3.component.html
  src/app/tree-grid/tree-grid-toolbar-sample-4/tree-grid-toolbar-sample-4.component.html
  src/app/tree-grid/tree-grid-toolbar-style/tree-grid-toolbar-style.component.html
Labels: status: verified, avatar

#3262 chore(badge): update badge shape
  src/app/data-display/badge/badge-sample-2/badge-sample-2.component.html
Labels: status: verified, badge

#3261 chore(*): updating and cleaning up dependencies
  .github/workflows/build-app-crm.yml
  .github/workflows/build-app-lob.yml
  README.html
  angular.json
  e2e/app.e2e-spec.ts
  e2e/app.po.ts
  e2e/tsconfig.json
  gulpfile.js
  package-lock.json
  package.json
  projects/app-crm/e2e/protractor.conf.js
  projects/app-crm/e2e/src/app.e2e-spec.ts
  projects/app-crm/e2e/src/app.po.ts
  projects/app-crm/e2e/tsconfig.json
  projects/app-lob/e2e/protractor.conf.js
  projects/app-lob/e2e/src/app.e2e-spec.ts
  projects/app-lob/e2e/src/app.po.ts
  projects/app-lob/e2e/tsconfig.json
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data-routes-data.ts
  projects/app-lob/src/app/grid-finjs-dock-manager/grid-finjs-dock-manager.component.html
  projects/app-lob/src/app/grid-finjs/main.component.html
  projects/app-lob/src/app/home/home.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  projects/app-lob/src/polyfills.ts
  protractor.conf.js
  readmeStyle.css
  src/app/data-entries/radio/radio-sample-2/radio-sample-2.component.html
  src/app/home/home.component.html
  src/app/interactions/ripple/ripple-sample-2/ripple-sample-2.component.html
  src/app/layouts/accordion/accordion-sample-1/accordion-sample-1.component.html
  src/app/layouts/accordion/accordion-sample-2/accordion-sample-2.component.html
  src/app/layouts/card/card-sample-2/card-sample-2.component.ts
  src/app/layouts/card/card.component.ts
  src/app/theming/animations/animations-sample-2/animations-sample-2.component.html
Labels: refactoring, dependencies

#3213 Add githooks from igniteui-angular
  .hooks/prepare-commit-msg
  .hooks/scripts/common.js
  .hooks/scripts/templateValidators/default-style-validator.js
  .hooks/scripts/templates/default.js
  .hooks/scripts/utils/issue-validator.js
  .hooks/scripts/utils/line-limits.js
  .hooks/scripts/validate.js
  gulpfile.js
  package-lock.json
  package.json
Labels: status: verified, gulp

#3249 Update Remote Paging with Batch editing sample:
  live-editing/configs/GridConfigGenerator.ts
  src/app/data/foods.ts
  src/app/grid/grid-batchEditing-remotePaging/batch-editing-remote-paging.component.html
  src/app/grid/grid-batchEditing-remotePaging/batch-editing-remote-paging.component.scss
  src/app/grid/grid-batchEditing-remotePaging/batch-editing-remote-paging.component.ts
  src/app/services/remotePagingWithBatchEditing.service.ts
Labels: status: verified, grid, paging, version: 15.0.x

#3243 Update grid-dynamic-chart-data to use igniteui-angular-extras package
  .github/workflows/build-app-crm.yml
  .github/workflows/build-app-lob.yml
  .npmrc
  .vscode/settings.json
  angular.json
  package-lock.json
  package.json
  projects/app-lob/src/app/app.module.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.html
  projects/app-lob/src/app/grid-dynamic-chart-data/data-analysis-dock-manager/data-analysis-dock-manager.component.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.html
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.scss
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.component.ts
  projects/app-lob/src/app/grid-dynamic-chart-data/grid-dynamic-chart-data.module.ts
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.html
  projects/app-lob/src/app/grid/grid-routes-data.ts
  projects/app-lob/src/app/metadata.js
  tsconfig.json
Labels: status: verified

#3265 Add Grid with Cascading Combos sample
  live-editing/configs/GridConfigGenerator.ts
  src/app/data/data.ts
  src/app/grid/grid-cascading-combos/grid-cascading-combos.component.html
  src/app/grid/grid-cascading-combos/grid-cascading-combos.component.scss
  src/app/grid/grid-cascading-combos/grid-cascading-combos.component.ts
  src/app/grid/grid-routes-data.ts
  src/app/grid/grids-routing.module.ts
  src/app/grid/grids.module.ts
Labels: status: in-test, grid, combo

#3276 Adjust select samples to the new styling
  src/app/data-entries/select/select-input-directives/select-input-directives.scss
  src/app/data-entries/select/select-sample-2/select-sample-2.component.scss
  src/app/grid/grid-column-data-types-sample/grid-column-data-types-sample.component.scss
Labels: status: verified, select

#3281 fix searchbar in crm sample
  projects/app-crm/src/app/grid-crm/grid-crm.component.html
  projects/app-crm/src/app/grid-crm/grid-crm.component.scss
Labels: status: verified, styling, crm-grid

#3275 fix(paging): styling sample
  src/app/grid/custom-grid-paging-style/custom-grid-paging-style.component.scss
  src/app/hierarchical-grid/hierarchical-grid-paging-style/hierarchical-grid-paging-style.component.scss
  src/app/tree-grid/tree-grid-paging-style/tree-grid-paging-style-sample.component.scss
Labels: status: verified, styling, paging, version: 15.0.x
