Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-10, with the labels that each got.

#3395 chore(*): ng update igniteui-angular --next
  package-lock.json
  package.json
  projects/app-lob/src/app/grid-finjs/controllers.component.html
  projects/app-lob/src/app/treegrid-finjs/tree-grid-finjs-sample.component.html
  src/app/data-entries/buttonGroup/button-group-sample-3/button-group-sample-3.component.html
  src/app/data-entries/buttonGroup/button-group-sample-4/button-group-sample.component.html
  src/app/menus/action-strip/action-strip-paragraph/action-strip-paragraph.component.html
Labels: status: verified, version: 16.1.x

#3394 Display output in query builder sample
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.html
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.scss
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.ts
Labels: status: verified, query-builder

#3391 chore(*): Fix rating samples code view tabs and live-editing
  live-editing/configs/GridConfigGenerator.ts
  package-lock.json
  package.json
Labels: status: verified

#3398 fix(button-group): adding new selectionMode sample
  live-editing/configs/ButtonGroupConfigGenerator.ts
  src/app/data-entries/buttonGroup/button-group-sample-4/button-group-sample.component.html
  src/app/data-entries/buttonGroup/button-group-sample-4/button-group-sample.component.scss
  src/app/data-entries/buttonGroup/button-group-sample-4/button-group-sample.component.ts
  src/app/data-entries/data-entries-routes-data.ts
Labels: status: verified, button group

#3389 feat(drop-down): add multi-level menu sample
  live-editing/configs/DropDownConfigGenerator.ts
  src/app/data-entries/data-entries-routes-data.ts
  src/app/data-entries/data-entries-routing.module.ts
  src/app/data-entries/data-entries.module.ts
  src/app/data-entries/dropdown/dropdown-multi-level-menu/data.ts
  src/app/data-entries/dropdown/dropdown-multi-level-menu/dropdown-multi-level-menu.component.html
  src/app/data-entries/dropdown/dropdown-multi-level-menu/dropdown-multi-level-menu.component.scss
  src/app/data-entries/dropdown/dropdown-multi-level-menu/dropdown-multi-level-menu.component.ts
  src/app/data-entries/dropdown/dropdown-multi-level-menu/multi-level.directive.ts
  src/app/data-entries/dropdown/dropdown-multi-level-menu/multi-level.service.ts
Labels: status: verified, dropdown
