Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2023-07, with the labels that each got.

#3360 fix(banner): delete duplicates ng imports
  live-editing/configs/BannerConfigGenerator.ts
Labels: status: awaiting-test, banner

#3364 fix(tree-grid, toolbar): changing fileName to be the same as the code snippet
  src/app/grid/grid-toolbar-sample/grid-toolbar-sample-3.component.ts
  src/app/tree-grid/tree-grid-toolbar-sample-2/tree-grid-toolbar-sample-2.component.ts
Labels: status: verified

#3365 feat(badge): material extended icons sample
  live-editing/configs/BadgeConfigGenerator.ts
  src/app/data-display/badge/badge-icon/badge-icon.component.html
  src/app/data-display/badge/badge-icon/badge-icon.component.scss
  src/app/data-display/badge/badge-icon/badge-icon.component.ts
  src/app/data-display/data-display-routes-data.ts
  src/app/data-display/data-display-routing.module.ts
  src/app/data-display/data-display.module.ts
Labels: status: verified, badge, version: 16.1.x

#3366 Adding missing IgxButtonModule
  live-editing/configs/GridConfigGenerator.ts
Labels: status: verified, grid

#3359 Fix column hiding style sample not using column actions. Fix styling not applying.
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.html
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.scss
Labels: status: verified
