Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2024-11, with the labels that each got.

#3558 fix(carousel): use indicators input property
  src/app/layouts/carousel/carousel-animations-sample/carousel-animations-sample.component.html
  src/app/layouts/carousel/carousel-no-navigation-sample/carousel-no-navigation-sample.component.html
Labels: status: awaiting-test, carousel

#3555 fix(grid,filtering): clear filter with empty input
  projects/app-lob/src/app/grid/grid-boston-marathon/grid.component.ts
  src/app/grid/grid-filtering-sample/grid-filtering-sample.component.ts
  src/app/tree-grid/tree-grid-filtering-sample/tree-grid-filtering-sample.component.ts
Labels: status: verified, grid

#3564 update igniteui-angular@19.0.0-rc.0
  .github/workflows/build-app-crm.yml
  .github/workflows/build-app-lob.yml
  azure-pipelines.yml
  package-lock.json
  package.json
Labels: version: 19.0.x

#3566 fix(summary): correct typos in custom summaries samples
  src/app/grid/grid-allData-summary/grid-allData-summary.component.ts
  src/app/grid/grid-summary-template/grid-summary-template.component.ts
Labels: status: awaiting-test, summaries
