Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2024-02, with the labels that each got.

#3429 docs(samples): Styling the samples for the Angular Hierarchical DropDown
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.html
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.scss
  src/app/data-entries/dropdown/dropdown-tree-grid-hierarchical-selection/dropdown-tree-grid-hierarchical-selection.component.ts
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.html
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.scss
  src/app/data-entries/dropdown/dropdown-tree-hierarchical-selection/dropdown-tree-hierarchical-selection.component.ts
Labels: status: verified, dropdown

#3432 Add missing imports in grids Conditional Styling samples
  live-editing/configs/GridConfigGenerator.ts
  live-editing/configs/HierarchicalGridConfigGenerator.ts
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: awaiting-test, grid, tree-grid, hierarchical-grid

#3437 chore(*): ng update igniteui-angular@rc
  package-lock.json
  package.json
Labels: build-ci, 17.1.x

#3435 feat(grid search): updating sample chips
  package-lock.json
  src/app/data-display/text-highlight/text-highlight-sample-1/text-highlight-sample-1.component.html
  src/app/data-display/text-highlight/text-highlight-sample-1/text-highlight-sample-1.component.ts
  src/app/data-display/text-highlight/text-highlight-sample-2/text-highlight-sample-2.component.ts
  src/app/data-display/text-highlight/text-highlight-style/text-highlight-style.component.ts
  src/app/grid/grid-search-sample/grid-search-sample.component.html
  src/app/tree-grid/tree-grid-search-sample/tree-grid-search-sample.component.html
Labels: status: verified, search, 17.1.x

#3442 Refactor TreeGrid row adding demo imports
  live-editing/configs/TreeGridConfigGenerator.ts
Labels: status: awaiting-test, tree-grid, row-adding
