Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2024-04, with the labels that each got.

#3457 chore(*): Update live editing version
  package-lock.json
  package.json
Labels: status: verified

#3446 feat(calendar): create calendar orientation sample
  live-editing/configs/CalendarConfigGenerator.ts
  src/app/app.module.ts
  src/app/scheduling/calendar/calendar-sample-9/calendar-sample-9.component.html
  src/app/scheduling/calendar/calendar-sample-9/calendar-sample-9.component.scss
  src/app/scheduling/calendar/calendar-sample-9/calendar-sample-9.component.ts
  src/app/scheduling/scheduling-routes-data.ts
  src/app/scheduling/scheduling-routing.module.ts
  src/app/scheduling/scheduling.module.ts
Labels: calendar

#3451 feat(splitter): add sample for collapsible splitter
  src/app/layouts/layouts-routes-data.ts
  src/app/layouts/layouts-routing.module.ts
  src/app/layouts/layouts.module.ts
  src/app/layouts/splitter/splitter-collapsible-sample/splitter-collapsible-sample.component.html
  src/app/layouts/splitter/splitter-collapsible-sample/splitter-collapsible-sample.component.scss
  src/app/layouts/splitter/splitter-collapsible-sample/splitter-collapsible-sample.component.ts
Labels: status: verified, splitter
