Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2024-10, with the labels that each got.

#3531 refactor(query-builder): add entities to query builder styling sample
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.html
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.scss
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.ts
Labels: status: verified, query-builder

#3532 refactor(query-builder-sample): update QB sample 1 with nested entities
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.html
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.ts
Labels: status: verified

#3534 feat(query-builder): add template sample
  src/app/interactions/interactions-routes-data.ts
  src/app/interactions/interactions-routing.module.ts
  src/app/interactions/interactions.module.ts
  src/app/interactions/query-builder/query-builder-template-sample/query-builder-template-sample.component.html
  src/app/interactions/query-builder/query-builder-template-sample/query-builder-template-sample.component.scss
  src/app/interactions/query-builder/query-builder-template-sample/query-builder-template-sample.component.ts
Labels: status: verified, query-builder

#3540 fix(simple-combo): correct cascading sample clear buttons behavior
  live-editing/configs/ComboConfigGenerator.ts
  src/app/lists/combo/simple-combo-cascading/simple-combo-cascading.component.ts
  src/app/lists/lists.module.ts
Labels: status: verified, simple-combo

#3541 fix(advance-filtering): ensure external filter remains fully visible
  src/app/grid/grid-external-advanced-filtering/grid-external-advanced-filtering.component.scss
  src/app/hierarchical-grid/hierarchical-grid-external-advanced-filtering/hierarchical-grid-external-advanced-filtering.component.scss
  src/app/tree-grid/tree-grid-external-advanced-filtering/tree-grid-external-advanced-filtering.component.scss
Labels: status: verified, grid, tree-grid, hierarchical-grid, query-builder

#3544 Revert "refactor(query-builder-sample): update QB sample 1 with nested entities"
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.html
  src/app/interactions/query-builder/query-builder-sample-1/query-builder-sample-1.component.ts
Labels: query-builder

#3549 fix(angular-material): sample issues
  src/app/theming/angular/angular-sample.component.html
  src/app/theming/angular/angular-sample.component.scss
  src/app/theming/angular/angular-sample.component.ts
Labels: status: verified, styling

#3554 Cascading combos sample: set overlaySettings.outlet element to the grid outlet
  src/app/grid/grid-cascading-combos/grid-cascading-combos.component.html
Labels: status: verified, grid

#3539 Changed colors for row-editing-styles sample
  src/app/grid/grid-row-editing-style/grid-row-editing-style.component.scss
Labels: status: verified, grid
