Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2025-05, with the labels that each got.

#3676 fix(query-builder): fix columns hidden when return fields is '*'
  src/app/interactions/query-builder/query-builder-request-sample/query-builder-request-sample.component.ts
  src/app/interactions/query-builder/query-builder-sql-sample/query-builder-sql-sample.component.ts
Labels: status: verified

#3677 Update query builder samples on production
  src/app/interactions/query-builder/query-builder-request-sample/query-builder-request-sample.component.ts
  src/app/interactions/query-builder/query-builder-sql-sample/query-builder-sql-sample.component.ts
Labels: query-builder

#3680 Update query-builder-request-sample.component.ts
  src/app/interactions/query-builder/query-builder-request-sample/query-builder-request-sample.component.ts
Labels: status: verified, query-builder
