Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2025-06, with the labels that each got.

#3689 chore: update to official 20
  package-lock.json
  package.json
Labels: version: 20.0.x

#3673 refactor(button): new button sample including individual type themes
  package-lock.json
  package.json
  src/app/data-entries/buttons/buttons-style/buttons-style.component.html
  src/app/data-entries/buttons/buttons-style/buttons-style.component.scss
  src/app/data-entries/input-group/input-group-styling/input-group-styling.component.scss
  src/app/grid/grid-column-hiding-toolbar-style/grid-column-hiding-toolbar-style.component.scss
  src/app/grid/grid-editing-style-sample/grid-editing-style-sample.component.scss
  src/app/hierarchical-grid/hierarchical-grid-editing-style/hierarchical-grid-editing-style.component.scss
  src/app/scheduling/daterangepicker/daterangepicker-styling/daterangepicker-styling.scss
  src/app/tree-grid/tree-grid-editing-style/tree-grid-editing-sample.component.scss
Labels: status: verified, styling, button

#3683 feat(samples): update styling samples
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.html
  src/app/data-display/badge/badge-styling-sample/badge-styling-sample.component.scss
  src/app/data-display/chip/chip-styling/chip-styling.component.scss
  src/app/data-display/circular-progressbar/circular-styling-sample/circular-styling-sample.component.scss
  src/app/data-display/linear-progressbar/linear-progressbar-styling-sample/linear-progressbar-styling-sample.component.scss
  src/app/data-entries/buttonGroup/button-group-style/button-group-style.component.scss
  src/app/data-entries/buttons/buttons-style/buttons-style.component.scss
  src/app/data-entries/checkbox/checkbox-styling/checkbox-styling.component.scss
  src/app/data-entries/dropdown/dropdown-styling/dropdown-styling.component.scss
  src/app/data-entries/icon-button/icon-button-styling/icon-button-styling.component.scss
  src/app/data-entries/input-group/input-group-styling/input-group-styling.component.html
  src/app/data-entries/input-group/input-group-styling/input-group-styling.component.scss
  src/app/data-entries/radio/radio-styling-sample/radio-styling-sample.component.scss
  src/app/data-entries/select/select-styling/select-styling.component.scss
  src/app/data-entries/switch/switch-styling/switch-styling.component.scss
  src/app/interactions/dialog/dialog-styling-sample/dialog-styling-sample.component.scss
  src/app/interactions/query-builder/query-builder-style/query-builder-style.component.scss
  src/app/interactions/slider/slider-styling-sample/app-slider-styling.component.scss
  src/app/layouts/accordion/accordion-style/accordion-style.component.scss
  src/app/layouts/avatar/avatar-styling/avatar-styling.component.html
  src/app/layouts/avatar/avatar-styling/avatar-styling.component.scss
  src/app/layouts/card/card-styling-sample/card-styling-sample.component.scss
  src/app/layouts/expansion-panel/expansion-styling/expansion-styling.component.scss
  src/app/layouts/splitter/splitter-styling-sample/splitter-styling-sample.component.scss
  src/app/layouts/stepper/stepper-styling-sample/stepper-styling-sample.component.scss
  src/app/layouts/tabbar/tabbar-style/tabbar-style.component.scss
  src/app/layouts/tabs/tabs-style/tabs-style.component.scss
  src/app/lists/combo/combo-styling/combo-styling.component.scss
  src/app/lists/list/list-sample-8/list-sample-8.component.scss
  src/app/lists/tree/tree-styling/tree-styling.component.scss
  src/app/menus/action-strip/action-strip-paragraph-styling/action-strip-paragraph-styling.component.scss
  src/app/menus/navbar/navbar-style/navbar-style.component.scss
  src/app/notifications/banner/banner-styling/banner-styling.component.scss
  src/app/notifications/toast/toast-style/toast-style.component.scss
  src/app/scheduling/calendar/calendar-styling-sample/calendar-styling-sample.component.scss
  src/app/scheduling/datepicker/datepicker-styling-sample/datepicker-styling-sample.component.scss
  src/app/scheduling/monthpicker/monthpicker-styling/monthpicker-styling.component.scss
  src/app/scheduling/timepicker/timepicker-styling/timepicker-styling.component.scss
Labels: status: verified, styling
