Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2025-04, with the labels that each got.

#3646 feat(list): add the new "selected" property to samples
  src/app/lists/list/list-item-selection/list-item-selection.component.html
  src/app/lists/list/list-item-selection/list-item-selection.component.scss
  src/app/lists/list/list-item-selection/list-item-selection.component.ts
Labels: refactoring, list

#3663 feat(list): add the new "selected" property to samples (vnext)
  src/app/lists/list/list-item-selection/list-item-selection.component.html
  src/app/lists/list/list-item-selection/list-item-selection.component.scss
  src/app/lists/list/list-item-selection/list-item-selection.component.ts
Labels: refactoring, list

#3670 refactor(card): remove old classes
  src/app/theming/shadows/card-sample-shadow/card-sample-shadow.html
Labels: status: awaiting-test, card

#3669 feat(*): updating to 19.2
  package-lock.json
  package.json
Labels: status: verified

#3671 feat(h-grid): update samples with adv filtering subqueries
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.component.html
  src/app/hierarchical-grid/hierarchical-grid-advanced-filtering/hierarchical-grid-advanced-filtering.component.ts
  src/app/hierarchical-grid/hierarchical-grid-lod/hierarchical-grid-lod.component.html
  src/app/hierarchical-grid/hierarchical-grid-lod/hierarchical-grid-lod.component.ts
Labels: status: verified, hierarchical-grid
