Repository IgniteUI/igniteui-angular-samples, pull requests merged in 2025-08, with the labels that each got.

#3711 feat(date-range-picker): add toggle and clear icons to both inputs
  src/app/scheduling/daterangepicker/daterangepicker-start-end/daterangepicker-start-end.html
  src/app/scheduling/daterangepicker/daterangepicker-start-end/daterangepicker-start-end.ts
  src/app/scheduling/daterangepicker/daterangepicker-styling/daterangepicker-styling.html
  src/app/scheduling/daterangepicker/daterangepicker-styling/daterangepicker-styling.ts
  src/app/scheduling/daterangepicker/daterangepicker-validation/daterangepicker-validation.html
  src/app/scheduling/daterangepicker/daterangepicker-validation/daterangepicker-validation.ts
Labels: status: awaiting-test, date-range-picker

#3713 fix(grid-pinning): custom pin icon not showing in styling sample
  src/app/grid/grid-sample-pinning-styling/grid-pinning-styling.component.ts
Labels: status: awaiting-test, grid, pinning, styling, version: 20.1.x

#3715 fix(mrl layout sample): fix chip and input group styles.
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.html
  src/app/grid/grid-multi-row-layout-configuration/grid-multi-row-layout-configuration.component.scss
Labels: status: verified, styling

#3696 feat(theming): add roundness sample
  live-editing/configs/ThemingConfigGenerator.ts
  src/app/theming/roundness/roundness-sample.component.html
  src/app/theming/roundness/roundness-sample.component.scss
  src/app/theming/roundness/roundness-sample.component.ts
  src/app/theming/theming-routes-data.ts
  src/app/theming/theming.routes.ts
Labels: theming
